.sap-phone{
	height: 100%;	
}

.sap-phone .Axxiome_Page_content{
	clear: both;
	margin: 0px auto;
	text-align: center;
	height: 90% !important;
	width: 100%;
	max-width: 1200px;
	padding-top: 8rem !important;
	color: #b2015c;
}

.sap-phone .Axxiome_Page_content .sapMScrollContScroll > div,
.sap-phone .PAGE_Content_DIV_Listing,
.sap-phone .PAGE_Content_DIV { 
	height: 100%;
}

.sap-phone .PAGE_Content_DIV_Listing .sapMLabel {
    color: Black;
}