
/* =============== MENU ============= */
.secureMenuCls {
	display: block;
	position: fixed;
	top: 0px;
	z-index: 49;
}


.menuTopBranding {
	
	background-color: #970051 !important;
	
	text-align: center !important;
	color: #fce336 !important;

	font-weight: bold;
	width: 80%;
	/* height: 50px; */
	position: fixed;
	top: 0;
	z-index: 50;
	border-bottom: 3px solid white;
}


.menuLiHolder li:not(.menuTopBranding) span {
	display: table-cell;
 	vertical-align: middle;
 	/* padding-left: 50px; */
	border-bottom: 1px solid rgba(160, 112, 4, 0.45);
}


.menuLiHolder li:not(.menuTopBranding) {
	border-bottom: 1px solid #fff ;
}

.menuLi_Column_Left span{
	background: url('../../img/menu/arrow_white.png');
	background-position: 95% 50%;
	background-repeat: no-repeat;
	background-size: 4%;
}

.menuLi_Column_Left span#menuHome{
	background: url('../../img/menu/arrow_dark.png');
	background-position: 95% 80%;
	background-repeat: no-repeat;
	background-size: 4%;
	padding-top: 3em;
}

.secureMenuCls, .nonSecureMenuCls {
	font-size: 13px;
	font-weight: normal;
}

.secureMenuCls .menuLiHolder {
	margin: 0;
	padding: 0;
	width: 80%;
	height: 94%; /* TODO Take a look if it works */
	display: table;
	position: fixed;
	z-index: 50;
	top: 3rem;
	border-bottom: 10px solid #D1005C;
	border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}


.menuLiHolder li {
	/*background-color: #fdf2d9;*/
	background-position: 3% 50% !important;
	background-repeat: no-repeat;
	background-size: 12% !important;
	
	width: 100%;
	display: table-row;

	text-align: left;
	vertical-align: middle;

	border-left: none;
	border-right: none;
}


.menuLiHolder .MENU_ICON_HOME{
	/* height: 6em !important; */
	background-position: 3% 80% !important;
}


.menuLiHolder li span {
	padding-left: 4em !important;
    padding-right: 1em;
    font-size: 1.3em;
	font-weight: bold;
	padding-top: 0.4em;
}




/* ========= MENU LINES =========== */
.BACKGROUND_HOME{
	background-color: White !important;
	color: #970051 !important;
}
.BACKGROUND_HOME a{
	color: #970051 !important;
}
.BACKGROUND_CUSTOMER{
	background-color: #fdcc66 !important;
	color: #970051 ;
}
.BACKGROUND_CUSTOMER span{
	color: #970051 ;
}
.BACKGROUND_ACCOUNT_SAVINGS{
	background-color: #e8578d  !important;
	color: White ;
}
.BACKGROUND_ACCOUNT_LOANS{
	background-color: #af005e !important;
	color: White ;
}
.BACKGROUND_ACCOUNT_INSURANCES{
	background-color: #e10076 !important;
	color: White ;
}
.BACKGROUND_CARDS{
	background-color: #ca7916 !important;
	color: White ;
}
.BACKGROUND_CONTACT{
	background-color: #e10076 !important;
	color: White ;
}
.BACKGROUND_SETTINGS{
	background-color: #af005e !important;
	color: White ;
}
.BACKGROUND_TRANSFERS{
	background-color: #e8578d !important;
	color: White ;
}
.BACKGROUND_MOBILE_MONEY{
	background-color: #e8931a !important;
	color: White ;
}
.BACKGROUND_PAYMENTS{
	background-color: #faaf34 !important;
	color: White !important;
}
.BACKGROUND_TOKEN{
	background-color: #a00659 !important;
	color: White !important;
}




.MENU_ICON_HOME {
	background: url('../../img/menu/Home.svg');
}
.MENU_ICON_SAVINGS{
	background: url('../../img/menu/Savings.svg');
}
.MENU_ICON_CUSTOMER{
	background: url('../../img/menu/Customer.svg');
}
.MENU_ICON_INSURANCES{
	background: url('../../img/menu/Insurances.svg');
}
.MENU_ICON_LOANS{
	background: url('../../img/menu/Loans.svg');
}
.MENU_ICON_CARDS{
	background: url('../../img/menu/Cards.svg');
}
.MENU_ICON_MOBILE_MONEY{
	background: url('../../img/menu/MobileMoney.svg');
}
.MENU_ICON_PAYMENTS{
	background: url('../../img/menu/Payments.svg');
}
.MENU_ICON_TRANSFERS{
	background: url('../../img/menu/Transfers.svg');
}
.MENU_ICON_SETTINGS{
	background: url('../../img/menu/Settings.svg');
}
.MENU_ICON_CONTACT{
	background: url('../../img/menu/Support.svg');
}


.moreMenuOverlayDiv {
	background-color: #fff;
	z-index: 40;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}


.secureMenuCls .menuLiHolder li:not(.menuTopBranding) {
	background-position: 5px;	
}

#secureMenu,#moreMenu {
	display: none;
}

.menuSelectedItem:not(#topBrand) {
	background-color: #fffcc4 !important;
	color: #970051 !important;
	transition: border-bottom 0.5s, background-color .5s;
	-webkit-transition: border-bottom 0.5s, background-color .5s;
}
.menuSelectedItem:not(#topBrand) a {
	color: #970051 !important;
}



@media all and (min-height: 1000px){
	.menuLiHolder li span {
	    padding-left: 5em !important;
	    padding-right: 1em;
	    font-size: 1.5em;
	}
	
	.secureMenuCls .menuLiHolder {
	    width: 50%;
	}
}
@media all and (max-height: 500px){
	.menuLiHolder .MENU_ICON_HOME {
	    height: 5.5em !important;
	}
	.menuLi_Column_Left span#menuHome{
		padding-top: 2.5em;
	}
}