.Desktop_Menu_Container{
	background-color: white;
	height: 95%;
	width: 100%;
	min-width: 155px !important;
	max-width: 250px !important;
	margin: 0px auto;
}
.Desktop_Menu_Container > div{
	width: 96%;
	height: 100%;
}

.menuDesktop {
	width: 100%;
	border-right: 0px solid #000;
	position: relative;
	height: 100%;
}

.menuDesktop ul {
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
	position: relative;
	
}
	
.menuDesktop li {
	position: relative;
	border-bottom: 0px solid #D1005C;
	height: 8%;
	/* height: 6em; */
	text-align: left;
	padding-left: 4em;
	/* padding-top: 1.8rem; */
	background-position: 6% 50% !important;
	background-repeat: no-repeat;
	background-size: 2.2em;
	vertical-align: middle;
	cursor: pointer;
}
@media all and (max-width: 740px){
	.menuDesktop li {
		padding-left: 3rem;
	}
	.menuDesktop li a {
		font-size: 0.8rem;
	}
}
@media all and (min-width: 741px){
	.menuDesktop li {
		padding-left: 4rem;
	}
	.menuDesktop li a {
		font-size: 0.8rem;
	}
}

	
.menuDesktop li a {
	display: table-cell;
	height: 100%;
	background-position: 3% 50% !important;
	background-repeat: no-repeat;
	background-size: 12% !important;
	text-decoration: none;
	width: 100%;
	color: inherit;
	vertical-align: middle;
	position: relative;
	font-size: 1.1rem;
}

html>body .menuDesktop li a {
	width: 100% !important;
	display: table;
}




.menuDesktop li:hover {
	border-left: 1px dashed white;
	border-right: 1px dashed white;
	background-color: #BCBABB !important;
	color: #E4057C !important;
}
.menuDesktop li.BACKGROUND_HOME:hover {
	border-left: 1px dashed #970051;
	border-right: 1px dashed #970051;
}

.menuDesktop li.BACKGROUND_SETTINGS{
	border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}



.MENU_IMG_ICON{
	padding-left: 0.5em !important;
}
.sap-desktop .menuLi_Column_Left a > div{
	vertical-align: middle;
	display: table-row;
}
.sap-desktop .menuLi_Column_Left a > div div{
	vertical-align: middle;
	display: table-cell;
}
.sap-desktop .menuLi_Column_Left a > div div:first-of-type{
	width: 36px;
}


.sap-desktop .menuLi_Column_Left img{
	height: 2.2em;
	width: 2.2em;
	margin-right: 0.5em;
	vertical-align: middle;
	float: left;
}

.menuDesktop .menuLi_Column_Left span {
	font-size: 1em;
    padding-left: 0em;
    word-wrap: break-word;
    background-image: none;
}




.sap-desktop .secureMenuCls {
	display: block;
	z-index: 0;
}