.sap-desktop{
	background-color: white !important;
}
.sap-desktop .Axxiome_Page_content{
	clear: both;
	margin: 0px auto;
	text-align: center;
	height: 100%;
	width: 100%;
	max-width: 1200px;	
	min-width: 740px;
	scroll: auto;
	background-color: white;
}


.PAGE_Content_DIV{
	position: relative;
	margin: 0em auto;
	width: 100%;
	text-align: Center;
	vertical-align: middle;
	height: 93%;
	background-color: white; 
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	display: inline-block !important;
}

.sap-desktop .PAGE_Content_DIV{
	width: 100%;
	padding: 0em;
	height: 95%;
	color: #b2015c;
	background-color: #ffffff; 
	display: flex !important;
	overflow: hidden;
}



.PAGE_Content_DIV_Listing{
	margin: 0em auto;
	height: 94%;
	width: 100%;
	overflow: auto;
	background-color: #ffffff;
	display: inline-block !important;
	
	-webkit-overflow-scrolling: touch;
}

.sap-desktop .PAGE_Content_DIV_Listing{
	width: 100%;
	padding: 0em;
	height: 95%;
	display: flex !important;
}



.sap-phone .PAGE_Content_DIV_Listing > div{
	width: 100%;
}
.sap-desktop .PAGE_Content_DIV_Listing > div{
	width: 100% !important;
}

.sap-phone .PAGE_Content_DIV > div{
	width: 100%; 
}
.sap-desktop .PAGE_Content_DIV > div{
	width: 95%; 
}

.sap-desktop .PAGE_Content_DIV_Listing .PAGE_Content_DIV_ALL {
	width: 95%;
}




.sapMIBar>.sapMBarLeft>.sapMBarChild:last-child, .sapMIBar .sapMBarPH>.sapMBarChild:last-child {
    margin-right: 0;
}


