
button:[class^="sap"], .appActionbtn, .pageButton
{
	color: white !important;
    background-image: linear-gradient(to, bottom, #5798FA, #2861B6) !important;
    background-image: -webkit-linear-gradient(top, #5798FA, #2861B6) !important;
    height:2.5em !important;
    border-radius:0.3em !important;
    /* line-height:1.5em !important; */
    font-weight:normal !important;
    box-shadow: none !important;
    -webkit-box-shadow :none !important;
    text-shadow: none !important;
    border: none !important;
	padding: 2px !important;
	font-size: 15px;
}

button div[class~="sapMBtnDefault"] {
	border: none !important;
	background: none;
	text-shadow: none;
	color: #fff;
/*	line-height:2em; */
}

/********************************
	SAP blueCrystal overrides
********************************/

.sapMDialogActions {
	padding: 5px 0 !important;
}

.sapMBtnActive {
	background: none !important;
	/* background-image: -webkit-linear-gradient(top, #2861B6, #5798FA) !important; */
}
