/* Declared in Compartamos_Theme.css
input {
	border-radius: .35em;
	border: 1px solid #bfbfbf !important;
	box-shadow:none !important;
	border-radius: 3px !important;
	height: 28px;
	padding: 2px !important;
}
*/

.selectBoxContainer {
	border-radius: 5px !important;
}

.customThemeAppLoginBg {
	background-image: url('../img/login/1x/loginBg.jpg') !important;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* appPageHeader on login page */


.appHeaderTitleCls, .sapMBarMiddle .sapMBarContainer span {
	/* font-size: 18px !important; */
	text-shadow: none;
}

.appHeaderTitleCls, .sapMBarMiddle .sapMBarContainer span:not(.sapMDialogIcon) {
	color: #fff !important;
}

.customThemeAppLoginBg .appPageHeader:before, .sapMPageHeader:before {
	border-top: 0px;
}

.customThemeAppTitleCls {
	border-bottom: 1px solid #B0B0B0;
	/* color: #6a6a6a !important; */
	width: 100%;
	text-align: center !important;
	font-size: 20px;
	padding-top: 10px;
}

/*

.loginFormPageButton
{
	color:white !important;
	background-image: linear-gradient(to, bottom, #5798FA, #2861B6) !important;
	background-image: -webkit-linear-gradient(top, #5798FA, #2861B6) !important;
    height:2.5em !important;
    border-radius:0.3em !important;
    line-height: 2em !important;
    box-shadow: none !important;
    -webkit-box-shadow :none !important;
    text-shadow: none !important;
    border: none !important;
	padding: 0 !important;
}

.loginFormPageButton:active
{
  color: white !important;
  background-image: linear-gradient(to, bottom, #2861B6,  #5798FA) !important;
  background-image: -webkit-linear-gradient(top, #2861B6,  #5798FA) !important;
  height: 2.5em !important;
  border-radius: 0.3em !important;
  line-height: 2em !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}

.appPageTitle
{
	color: #6a6a6a !important;
	padding-top:14px !important;
	text-align: center;
	font-size: 18px;
}
*/
.nonSecureMenuCls {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	background-color: #2861B6;
}

.nonSecureMenuCls .menuLiHolder {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	background-color: transparent;
	display: table;
	table-layout: fixed;
}

/* .menuSelectedItem {
	background-color: transparent !important;
	border-bottom: 3px solid #fff !important;
	color: #fff !important;
	transition: border-bottom 0.5s, background-color .5s;
	-webkit-transition: border-bottom 0.5s, background-color .5s; 
} */

.nonSecureMenuCls .menuLiHolder li {
	display: table-cell !important;
	line-height: 1.8em;
	background-repeat: no-repeat;
	background-position: center 5px;
	padding-top: 38px;
	border-right: 1px solid #C7E0FF;
	float: inherit;
}

.nonSecureMenuCls .menuLiHolder li:last-child {
	border-right: none;
}

.nonSecureMenuLiGap li{
	text-align: center;
}

/* .calc {
	 background: url('../img/menu/calc.png');
	background-size: 30% auto; 
}

.support {
	background: url('../img/menu/Man.png');
	background-size: 40% auto !important;
}

.location {
	background: url('../img/menu/location.png');
	background-size: 34% auto;
}

.connSettings {
	background: url('../img/menu/settings.png');
	background-size: 48% auto;
}

.loginPageLabels {
	font-size: 20px;
	margin-top: 10px;
} 
*/

.homeAccountType span {
	color: #424242;
	font-size: 16px;
	padding-bottom: 5px;
}

.homeAccountNumber span {
	margin-right: 0.6em;
	font-size: 14px;
}

.homePageAccountAvailBal {
	text-align: right;
}


.sapMFlexBox .sapMFlexItem:nth-of-type(1) button.loginFormPageButton {
	width: 85% !important;
	margin-left: 10px;
}

.sapMFlexBox .sapMFlexItem:only-child button.loginFormPageButton {
	width: 93% !important;
}
.sapMFlexItem{
	-ms-flex-preferred-size: inherit !important;
}
