
/*
   stylesheet for different pages within the applications

   To Developers:
        While adding any new style corresponding for any of the page suggest adding it to this file
        ensure that the style is grouped as per page incase not common
        while adding for new page add comment specifying the file name
*/


/* CSS FOR IPHONE WITH RETINA DISPLAY STARTS HERE */
/* Includes */
/* SAP UI5 CSS */
/* GENERAL APP SPECIFIC CSS */
/* PAGE SPECIFIC */

* {
	outline: none !important;
}

li {
	list-style: none !important; 
}

img[src=''] {
	display: none !important;
}

/*******************************************
					Overrides
********************************************/

.sapMBtn:active, .sapMBtn.sapMBtnActive {
    /* background: #FFB200 !important; */
    color: #fff !important;
}

.customThemeButton_Transparent:active {
    background: transparent !important;
}

.sapMImg {
	float: left;
	margin: 0.1em 0.2em 0.5em 0.5em;
}

/* SAP UI COMPONENTS DIRECT CSS TO MAKE IT UNIFORM THROUGHT APPLICATION */

.sapMListNoData {
  color: #2d2c2c !important;
  /* font-size:16px !important;
  font-weight:none !important;
  text-shadow: none !important; */
  /*margin-left: 10px;*/
}

.sapMScrollContScroll + div, .sapMDialogScroll + div
{
	display:none !important;
}

.sapMDialog.sapMMessageDialog > header
{
  color: gray !important;
  /* font-size:16px !important;
  font-weight:none !important;
  text-shadow: none !important; */
  line-height: 30px !important;
}

/* .sapMText:not(.debitEntry)
{
    color: #2d2c2c !important;
} */

.sapMLnk, .sapMLnk:hover, .sapMLnk:visited
{
    /*color:white !important;*/
  white-space:normal !important;
}

.sapMSwtTextOn
{
	background: #51C1CD !important;
}

.sapMLabel
{
	/* color: #979797;
	font-size:16px !important; */
}

.sapMInput:not(.loginFormInput):not(.forexInput):not(.inputFieldStyle)
{
	box-shadow: none !important;
    -webkit-box-shadow: none !important;
    /* border-radius: 0px !important;
	border: 1px solid rgb(17,44,53) !important; 
	height: 28px !important; */
}

.sapMTextArea
{
    border-radius: 0px !important;
	/* border: 1px solid rgb(17,44,53) !important; */
	color: #2d2c2c ;
	margin-top: 6px;
	background-color:none;
}

.sapMTextAreaInner
{
	/* font-size:15px !important; */
}

.sapMInputBaseInner
{
    /*color:white !important;*/
}

/* .sapMInputBase
{
	border:none !important;
	box-shadow:none !important;
	border-radius: 0.2371em !important;
} */

.sapMSLI, .productListItem, .accountListItem
{
    /* background-color:rgba(00,00,00,0.4) !important; */
    border-bottom:0.01em solid #B5B5B5 !important;
    /* height:3.25em !important; */
    /* font-size:16px !important; */
    border-bottom: 1px solid #c3c3c3 !important;
	padding: 10px 5px 5px 10px !important;
}

.productListItem {
	line-height: 3em !important;
}

.sapMSLIInfo
{
    /* font-size:16px !important; */
    color:#2d2c2c;
    text-shadow: none !important;
}

#alertListItem .sapMILILabel, #limitListItem .sapMILILabel
{
    width:40% !important;
}

.alertsListItemInput
{
    width:70px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 6px !important;
    height: 2.1em !important;
    margin-right:5px !important;
}

.alertsListItemInput .sapMInputBaseInner
{
    padding:0em !important;
    margin-top:-0.4em !important;
}

.prevent {
    cursor:not-allowed;
}
.sapMILILabel {
    overflow: visible !important;
    width:50% !important;
    white-space:normal !important;
    word-wrap:break-word !important;
    /* font-size:0.9em !important;
	font-weight:normal !important;
	text-shadow: none !important; */
}

.sapMSLITitle, .sapMSLITitleOnly {
    /* color:white !important; */
    text-shadow: none !important;
    /*float: left;*/
    line-height: 45px;
    /* font-size: 15px !important; */
}

.sapMDialog > .sapMBar {
    background-image:url('../img/common/2x/bg_top_header.png') !important;
}

.sapMBar {
    -webkit-box-shadow : none !important;
    box-shadow : none !important;
    border-radius : 0 !important;
	border: none !important;
}

.sapMActionSheetDialog
{
    background-color:#0e1d24 !important;
}

.sapMActionSheetDialog .sapMActionSheet button.sapMActionSheetButton{
    color:white !important;
}

.sapMSLIDescription {
    color:#acacac !important;
    /* font-size:16px !important; */
	text-shadow:none !important;
}

.sapMPageBgStandard
{
	/* background-image: url("../img/common/1x/background.png") !important; 
    background-position: center top;
    background-repeat: no-repeat !important;
    background-size: 100% 100%; */
    background-color: #fff;
}

.sapMBtnActive
{
    box-shadow:none !important;
    -webkit-box-shadow : none !important;
    background-color: none !important;
}

.sap-ios .sapMILI-CTX .sapMInputBasePlaceholder {
    text-align: right;
    padding: 0.43em 0.86em 0.43em 1.1em !important;
}

/* .sapUiBLy
{
	z-index: 301 !important;
} */

.selectBoxContainer select {
   background: transparent;
   width:100% !important;
   padding: 15px;
   /* font-size: 15px; */
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.selectBoxContainer {
	/*width: 294px !important;
	height: 28px !important;*/
	overflow: hidden;
	background: url(../img/selectarrow.png) right no-repeat;
	background-color: transparent !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	width: 100% !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.selectBoxContainer label {
    color: #2d2c2c !important;
    width: 90% !important;
}

.selectVboxContainer {
    padding-left: 14px;
	padding-right: 14px;
}

.selectVboxContainer label{
    /* font-size: 16px; */
}

#payBillToSelect, #payBillFromSelect, #paymentAccount {
    max-width: none !important;
    width:100% !important;
}

#payBillDateSelect {
    width: 140px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;
}

#payBillDateSelect input {
    padding: 1px 0px 0px 7px;
}
#payBillAmountContainer {
    padding-left: 14px;
}

#payBillAmountInput {
    width: 140px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;
}

#payBillAmountInput input {
    padding-top: 2px !important;
}


#payBillPersonalMessageInput {
    width: 293px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;    
}

#payBillPersonalMessageInput input {
    padding-top: 2px !important;
}

.payBillButtonContainer {
    padding-left: 14px;
    margin-top: -0.4em !important;
}

.payBillDetailsItem
{
    background-color:rgba(00,00,00,0.4) !important;
    border-bottom:0.1em solid white !important;
    height:14em !important;
  padding-left:0.5em !important;
}

#payBillScanButton1 {
    margin-left: 198px;
}

#payBillScanButton2 {
    margin-left: 196px;
}


.mainPageToContainer {
    margin-top: 0.7em !important;
}


#giftDateSelect {
    width: 138px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;
}

#giftDateSelect input {
padding: 1px 0px 0px 7px;
}

#giftDateSelect label {
padding: 4px 0px 0px 7px;
}


#giftAmountContainer {
    padding-left: 14px;
}

#giftAmountInput {
    width: 140px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;
}

#giftAmountInput input {
    padding-top: 2px !important;
}


#giftPersonalMessageInput {
    width: 291px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;    
}

#giftPersonalMessageInput input {
    padding-top: 2px !important;
}

.giftAddressInput {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;   
}

#giftAddressInput1 {
    width: 291px !important;
    height: 28px !important;   
}
#giftAddressInput1 input {
    padding-top: 2px !important;
}

#giftAddressInput2 {
    width: 125px !important;
    height: 28px !important;   
}
#giftAddressInput2 input {
    padding-top: 2px !important;
}

#giftAddressInput3 {
    width: 85px !important;
    margin-left: 4px;
    height: 28px !important;   
}
#giftAddressInput3 input {
    padding-top: 2px !important;
}

#giftAddressInput4 {
    width: 73px !important;
    margin-left: 4px;
    height: 28px !important;   
}
#giftAddressInput4 input {
    padding-top: 2px !important;
}

.giftEmailAddressInput {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;   
}
#giftEmailAddressInput1 {
    width: 291px !important;
    height: 28px !important;   
}
#giftEmailAddressInput1 input {
    padding-top: 2px !important;
}
    
.sapMSegB {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(46,163,181);
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    display: inline-block;
    white-space: nowrap;
    width: 288px;
    margin-top: 7px;
}

.sap-ios .sapMSegBBtn.sapMSegBBtnSel {
    width: 46.5% !important;
    text-shadow: none !important;
    box-shadow: none !important;
    background: rgb(46,163,181);
    color: #fff !important;
}

.sap-ios .sapMSegBBtn {
    width: 45.5% !important;
    padding: 0.5em;
    height: 1.2em;
    background-image: none !important;
    /* font-size: 10pt; */
    color: rgb(46,163,181) !important;
    /* font-weight: bold; */
    text-shadow: none !important;
    box-shadow: none !important;
}

.sap-ios .sapMSegBBtn:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    box-shadow: none !important;
}

.sap-ios .sapMSegBBtn:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}


.giftScrollContainer
{
    height:89% !important;
}

.giftButtonContainer {
    padding-left: 14px;
    margin-top: -0.4em !important;
}


/* APP SPECIFIC - STARTS HERE - IPHONE RETINA */
.appInputListItem{
    background-color:transparent !important;
    color:white !important;
    border: 1.0em solid transparent !important;
    height: 1.5em !important;
}



.appPageTitleBox
{
	border:0px !important;
	/* border-bottom:2px solid white !important;
	margin-bottom: 20px; 
	margin-top: 40px; */
	margin-top: 0px;
}

.appPageTitleBox > .sapMFlexItem {
	width: 100% !important;
	text-align: center;
}

.appPageVbox
{
   margin:0 14px;
}

.popUpDialog
{
    background-color:rgba(255,0,0,0.5);
}

.dialogPage > .sapMBar
{
    background-image:url('../img/common/2x/bg_top_header.png') !important;
}

.pageWithoutHeader
{
    float: left !important;
    margin: 15px !important;
    width: 90% !important;
}

.appTabBtn
{
	/* font-family: 'Helvetica Neue' !important; */
}

.appActionSheetbtn{
    border: 1px solid #999999 !important;
    box-shadow: none !important;
    width:96% !important;
    background-image:url('../img/common/2x/bg_top_header.png') !important;
}

.actionSheet{
    background: #EEEAEA !important;
}

.appMediumText{
    /* font-size:0.9em !important; */
}

.smallText{
    /* font-size:0.8em !important; */
}

.appFieldPartBreak{
    margin-bottom:3% !important;
}

.appFieldBreak{
    margin-bottom:5% !important;
}

/* .pageButton
{
    color:white !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#21a7b6), to(#21a7b6)) !important;
    height:3em !important;
    border-radius:0.5em !important;
    line-height:1em !important;
    font-size:0.7em !important;
    font-weight:normal !important;
    box-shadow: none !important;
    -webkit-box-shadow :none !important;
    text-shadow: none !important;
    border: none !important;

} */

.buttonMargin{
    margin-top:15px !important;
}

.amountCompleteLabel
{
    color:#21A7B6 !important;
}






/* LOGIN PAGE STARTS HERE - IPHONE RETINA */
.userProfieclass
{
    margin-top:-1em;
}

.accountProfileClass
{
    margin-left:1.8em;
}

.loginButton
{
    color: #989798;
    width:6.7em;
    /* font-weight:normal !important; */
    border: solid 0.1em #e8e8e8 !important;
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    margin:0 !important;
    background-color: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E7E7E7)) !important;
    border-top: none !important;
    border-right: none !important;
}

.loginButton:active
{
    color: #989798;
    background-image: none !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    background-color:gray !important;
}

.loginDialogHeading
{
    color: #989798 !important;
    margin-bottom:0.5em;
}

.loginFormDialog{
    z-index:1000 !important;
    /*background-image:url('../img/common/2x/background.png') !important;*/
}
.loginFormDialog .sapMDialogScrollCont{
    padding:0em !important;
}

.loginFormDialog .sapMPage>section{
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.loginFormDialog hr {
    width: 16em;
}


.loginErrorDialog{
    z-index:1001 !important;
    background: #f7f7f7 !important;
}

.loginErrorDialog .sapMDialogScroll
{
    -webkit-transition : none !important;
    -webkit-transform:none !important;
}

.loginErrorDialog .sapMDialogScrollCont{
    padding:0em !important;
}

/* .loginFormPageButton
{
	color:white !important;
    background-image: linear-gradient(to, bottom, #68d1e7, #1e9caa) !important;
    background-image: -webkit-linear-gradient(top, #68d1e7, #1e9caa) !important;
    height:2.5em !important;
    border-radius:0.3em !important;
    line-height:1.5em !important;
    font-size:0.9em !important;
    font-weight:normal !important;
    box-shadow: none !important;
    -webkit-box-shadow :none !important;
    text-shadow: none !important;
    border: none !important;
    width: 12em;
    margin-top: 14px;
}
 */
 
.loginFormPageButton:active
{
    /* background-image: linear-gradient(to, bottom, #1e9caa, #68d1e7) !important;
    background-image: -webkit-linear-gradient(top, #1e9caa, #68d1e7) !important; */
}


.loginFormBox{
    width:100% !important;
}

#loginTitleLabel {
    margin-left: 30px;
}

.loginFormList
{
    background-color:transparent !important;
    color:white !important;
    border: 0.0em solid #376B79 !important;
    height: 2.8em !important;
    margin-top: 20px;
}

.loginFormInput input {
    border: 1px solid #9D9D9D;
    box-shadow: none !important;
    -webkit-box-shadow :none !important;
    padding:5px 0 5px 5px !important;
	/* height: 1.8em; */
}

.loginFormList .sapMFlexItem {
    margin-bottom: 5px;
}


.loginDialog
{
    z-index:1000 !important;
    background:rgba(0,0,0,0) !important;
}
.loginDialog .sapMDialogScroll
{
    -webkit-transition : none !important;
    -webkit-transform:none !important;
}

.loginDialog .sapMDialogScrollCont{
    padding:0em !important;
}

.loginInput
{
    padding:0.5em;
    background-color: #e8e8e8 !important;
    border-top: solid 0.1em #999999 !important;
    text-shadow : none !important;
    box-shadow : none !important;

}

.passCodeInput
{
    background-color: #989798 !important;
    text-shadow : none !important;
    width: 5% !important;
}

.loginCloseButton
{
    border: none !important;
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    height:18em !important;
    line-height:0em !important;
    margin:0 !important;
    width:100% !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.loginCloseButton:active
{
    background-image: none !important;
    background-color:none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.loginTabButton {
    border: none !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	height: auto !important;
	line-height: 0em !important;
	margin: 0 !important;
	width: auto !important;
	background-image: none !important;
	border-left: none !important;
	background: none !important;
	color: #2a2a2a !important;
	padding: 0 5px;
	/* margin-top: 2em !important; */
}

.loginTabButton .sapMBtnContent
{
    display:block !important;
    /* font-size:13px !important; 
    font-weight:normal !important; */
    line-height: 8em !important;
    padding:0 !important;
    margin:0 !important;
    text-shadow:none !important;
}

.loginTabButton img{
    width: 32px !important;
	height: 32px !important;
	display: block;
	float: none;
	margin: 5px auto;
}

.loginLabel{
    color: #2a2a2a !important;
    /* font-size:18px !important; */
}

.balanceTransactionLabel
{
    color: #2d2c2c;
    padding-left:1em;
}

.balanceLabel1Align
{
  margin-top:0.5em !important;
}

.balanceLabel2Align
{
  margin-top:1em !important;
}

.loginNavContainerHeading
{
    /* font-size:1em !important;
    font-weight:normal !important; */
    color: #2a2a2a !important;
    padding-right:1em;
}

.signupButton
{
    color:white !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#21a7b6), to(#21a7b6)) !important;
    height:2.8em !important;
    border-radius:0.5em !important;
    line-height:1em !important;
    /* font-size:0.7em !important;
    font-weight:normal !important; */
    box-shadow: none !important;
    -webkit-box-shadow :none !important;
    text-shadow: none !important;
    border: none !important;
}

.balanceAmountClass
{
    color:#28bfd0 !important;
    /* font-size:36px !important; */
    margin-top:0.3em !important;
}

.offerDetailLabel
{
    color:White;
    /* font-size:0.7em; */
    width:250px !important;
    text-shadow: none !important;
    line-height:1em !important;
}

.offerDetailBulletLabel
{
    color:White;
    /* font-size:0.6em; */
    width:250px !important;
    margin-left: 0.5em !important;
    text-shadow: none !important;
    line-height:1em !important;
}

.balanceBox
{
    /* background-image:url('../img/common/2x/bg_lines.png') !important;
    background-repeat:no-repeat !important;
    background-position:center !important; */
    margin-top: 4em;
}

/* TRANSFER DIALOG OPTION MENU STARTS HERE - IPHONE RETINA */
.actionMenuButtonClass
{
    line-height:2.8em !important;
    margin:0 !important;
    color:white !important;
}

.actionMenuButtonClass:active
{
    background-image: none !important;
    color:white !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    background-color:gray !important;
}

.actionButton
{
    margin-right:-0.3em !important;
}

.actionMenuItemClass
{
    /* font-size:0.8em; */
    padding:0.8em;
}

.loginVbox
{
    padding:0px;
    margin:0px;
    bottom:0px;
    position:absolute;
}

.transferDialog{
    background: #f7f7f7 !important;
    z-index: 302 !important;
}

.transferDialog .sapMDialogScroll, .checkImageDialog .sapMDialogScroll
{
    -webkit-transition : none !important;
    -webkit-transform:none !important;
}

.transferDialog .sapMDialogScrollCont{
    padding:0em !important;
}

.transferDialog section{
	max-height: 100% !important;
}

.mfaDialog, .connectionSettingsDialog{
    background: #f7f7f7 !important;
  	width : 92% !important;
	min-width: 100px !important;
    padding: 0px !important;
}

.mfaDialog .sapMDialogScroll, .checkImageDialog .sapMDialogScroll, .connectionSettingsDialog .sapMDialogScroll
{
    /* -webkit-transition : none !important;
    -webkit-transform:none !important;  */
}

.mfaDialog .sapMDialogScrollCont, .connectionSettingsDialog .sapMDialogScrollCont{
    padding:0em !important;
	width : 100% !important;
	margin-bottom: 5px;
}

.mfaDialog section, .connectionSettingsDialog section{
	max-height: 90% !important;
	width: 98% !important;
	margin: 0 auto !important;
}

.actionList .sapMSLIDiv {
    text-align: left;
}

.actionList{
    width:100%;
    color:#999999 !important;
    border: 0px solid #dedede !important;
    border-top: 1px solid #dedede !important;
    background-color: #f7f7f7 !important;
    height: 2.29em !important;
    padding-bottom:0.2em;
}
.actionList .sapMSLITitleOnly
{
    /* font-size:1em; */
    color:#999999 !important;
}

.actionList .sapMLIBImgNav
{
    width: 1.3em;
    height:1.3em;
    margin-right:-0.5em;
    background-color:#888888 !important;
}


.actionHeader{
    color:#A5A5A5 !important;
    /* font-size:1em !important; */
    width: 100%;
    margin-top: 0.8em;
    /* font-weight:normal !important;
    text-shadow:none !important; */
}

.actionListHbox{
    width:100%;
    color:#999999;
}

.actionListClose
{
    border-radius:0.5em !important;
    line-height:1em !important;
    /* font-weight:normal !important; */
    box-shadow: none !important;
    -webkit-box-shadow :none !important;
    text-shadow: none !important;
    border: none !important;
    margin:-0.1em -0.8em 0 0 !important;
}

.actionListClose:active
{
    background: rgba(0,0,0,0)!important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.actionListClose .sapMBtnContent>img, .pageCloseButton .sapMBtnContent>img
{
    width:16px !important;
    height: 17px !important;
    margin-top:0.3em !important;
}

.appBackButton .sapMBtnContent>img
{
    width:11px !important;
    height: 17px !important;
}





#loginTabButtonBox
{
    padding-top:2.6em !important;
    padding-bottom: 0.3em !important;
}

#pageIndic
{
    margin-top:3.5em;
}

#carouselPage .sapMPageBgStandard, #balancePage .sapMPageBgStandard, #forexPage .sapMPageBgStandard,#mortagePage .sapMPageBgStandard, #carPage .sapMPageBgStandard
{
    background-color: #fff !important;
    /* background-image: url("../img/common/1x/background.png") !important;
    background-position: center top;
    background-repeat: no-repeat !important;
    background-size: 100% 100%; */
}

/* CALCULATOR PAGE STARTS HERE - IPHONE RATINA */



.calculatorList
{
    background-color:transparent !important;
    color:white !important;
    border: 0.0em solid #376B79 !important;
    height: 2.8em !important;
}

.calculatorList label
{
    color:#979797 !important;
	font-size:14px !important;
    /*font-weight: normal !important; */
    margin: 0px 0px 10px 0px !important;
	/* text-shadow: none !important; */
	width: 100% !important;
}

.calculatorOutputBox
{
    background-color: #e6f2f9;
    margin-top:0.7em;
}

#toolsPage .sapMInputBaseInner {
    /* height: 2.5em !important; */
    margin-left: 0px !important;
	/* border: 1px solid rgb(17,44,53) !important; */
	margin-top: -8px !important;
}

.calculatorOutputLabel
{
    margin-top:0.8em;
    /* color:white !important; */
    /* font-size:16px !important; */
}

.calculatorOutputText
{
    /* color: #fff !important; */
    /* font-size: 36px !important; */
}

.errorDialogText{
    text-shadow: none !important;
	/* font-size: 0.9em !important; */
	text-align: center !important;
	margin: 10px;
	width: 100%;
	/* color: #fff !important; */
}

/* FOREX CALCULATOR*/

.forexInput
{
	color: #fff !important;
	/* border: 1px solid rgb(17,44,53) !important; */
	line-height: 31px;
	height: 34px !important;
	width: 11em !important;
	margin-left: 0.5em;
	box-shadow: none !important;
	padding-left: 3px;
	margin-top: 6px;
}

.forexInput input {
	color: #000 !important;
	padding: 0 !important;
}

.loanAmountInput {
	padding: 0 5px 0 0 !important;
	height: 30px !important;	
}

.forexFlag
{
    width:4em;
    height:2.1em;
}

.forexMainCurrency
{
    /* background-color: #27545e !important; */
    color:white !important;
    border: 0.0em solid #376B79 !important;
    height:4em !important;
    margin-bottom:0 !important;
    margin-top:0 !important;
}

.forexHeading
{
    /* font-size:14px; */
}

.forexListItem
{
    /* background-color:#27545e !important; */
    /* color:white !important; */
    border: 0.0em solid #376B79 !important;
    height:2.65em !important;
    border-bottom:0.1em solid #dedede !important;
    border-top:0 !important;
    /* width:23em !important; */
    display: block;
}

.forexListItemImg
{
    border-radius:0 !important;
    width:3.4em;
    height:1.68em;
    margin-top:0.45em !important;
}

.forexListItemName
{
    /* font-size:13px !important; */
    margin:0 !important;
   	margin-left: 1.5em !important;
	margin-top: 0.80em !important;
}

.forexListItemAmount
{
    font-size:14px !important;
    color: #2d2c2c; 
    margin-right:1.3em !important;
    margin-top:0.45em !important;
    margin-top: 0.80em !important;
}

.forexListItem .sapMLIBContentMargin
{
    margin-top:0 !important;
}

.forexListItemSelected
{
    display: none;
}

.forexScrollContainer
{
    height:75% !important;
}

.swipeButton
{
    width:5.5em !important;
    height:2.2em !important;
    /* font-size:1em !important; */
    margin-right: 2em !important;
}

.searchList .sapMSFI[type="search"] 
{
    border-radius:0.4em;
    background-color:#fff;
    color:#000 !important;
}

.searchList .sapMSFMG
{
    width:1.2em;
    height:1.2em;
    -webkit-mask-box-image:url('../img/forex/2x/search_icon.png') !important;
    /*background-color:white;*/
}


.forexBoxClass
{
}

.searchListItem
{
    padding:0.5em;
}

.searchList .sapMSFM
{
    background-color:white;
}

.searchList .sapMSF
{
    background-color:white;
}

.sap-ios .sapMLIB {
    background-color: #fff;
}


.sap-ios .sapMSFI[type="search"] {
    border: none;
    padding: none;
    -webkit-box-shadow: none;
    width: 103.5%;
}
/* FACEBOOK COMPLETE PAGE WITH RETINA DISPLAY*/

.facebookFriendLabel
{
    /* font-size:1.2em !important; */
}

.facebookSelectBox
{
    border-bottom:1px solid white !important;
}

.facebookFriendName
{
    margin-left:6px !important;
    /* font-size:14px !important; */
}

.facebookFriendItem
{
    color:white !important;
    background-color:rgba(00,00,00,0.4) !important;
    border:0em !important;
    border-bottom:0.07em solid white !important;
  padding-left:6px !important;
}

.facebokFriendImageClass
{
  padding-top:5px !important;
}

.facebookPayBox
{
   background-color:rgba(00,00,00,0.4) !important;
    border-bottom:2px solid white !important;
  padding-left:6px !important;
  padding-right:6px !important;
}

.facebookPayCode
{
    /* font-size:36px !important; */
    color:#28bfd0 !important;
}

.facebookDetailsItem
{
    background-color:rgba(00,00,00,0.4) !important;
    border-bottom:0.1em solid white !important;
    height:12em !important;
   padding-left:6px !important;
  padding-bottom:6px !important;
}

/* LOCATION PAGE */
.locationViewHeader
{
    background-image:url('../img/location/1x/location_header_bg.png') !important;
}

.locationToolbarButton
{
    margin-left:0 !important;
    margin-right:0 !important;
}

/* PRODUCT PAGE WITH IPHONE RETINA DISPLAY */
.productItems
{
    border-top-width: 0.0em !important;
    padding-left:6px;!important;
	padding-top:6px;!important;
	padding-bottom:6px;!important;
}

.productItems:hover {
	background: #fff !important;	
}

.productItemSelected
{
    color:#69d2de !important;
}

.productInfoLabel {
    padding-left:20px;
}

.productListControl
{
    border-width:0em !important;
   background-color:transparent !important;
}

.productListDetailInfo
{
    color:white !important;
    background-color:transparent !important;
    border:0em !important;
   border-bottom: 0.07em solid white !important;
}

.productsDetailItem
{
    color:white !important;
    background-color:transparent !important;
    border:0em !important;
    border-bottom: 0.07em solid #376B79 !important;
}

.productsExpandedItem
{
  color:white !important;
    background-color:rgba(00,00,00,0.4) !important;
    border-width:0em !important;
}

/* SUPPORT PAGE WITH IPHONE RETINA DISPLAY */
.supportListItem {
    border:0em !important;
    padding::0em !important;
}

.supportMenuButton
{
    border: solid 1px #999999 !important;
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    height:3.6em !important;
    line-height:0em !important;
    margin:0 !important;
    width:95% !important;
    color:white !important;
}
.supportMenuButton
{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.supportMenuButton .sapMBtnContentSpan
{
    display:block !important;
    /* font-size:0.8em !important;
    font-weight:normal !important; */
    line-height:2em !important;
    padding:0 !important;
    margin:1em !important;
}
.supportMenuButton .sapMBtnContent .sapUiIcon
{
    height:1em;
}

.supportbutton {
    width:20.8em;
    background-color:transparent !important;
    color:white !important;
    border: 0.07em solid #2A4B5A !important;
    border-radius: 0.3em;
    /* font-size: 0.8em; */
    padding-left:3.4em;
    padding-top:1.5em;
    background: url('../img/support/2x/call_dialog.png') no-repeat 10%;
    margin-left:1em !important;
}

.supportHeader{
    margin:0.5em;
}
.supportSubHeader{
    margin:0.5em 0 0.5em 1em;
    padding-left:1em;
}
.supportText{
    margin:0.5em 0 0.5em 1em;
    padding-left:1em;
}

.supportMenuBox{
    width:99% !important;
    text-align: right;
}

.chatBoxleft
{
    margin-top:14px !important;
    margin-left:0.5em !important;
}

.chatMsgBoxleft
{
    margin-top:14px !important;
    margin-left:0.5em !important;
}

.chatBoxright
{
    margin-top:0.5em !important;
    margin-right:0.5em !important;
}

.chatMsgBoxright
{
    margin-top:0.5em !important;
    margin-right:0.5em !important;
}

.chatDialogright
{
 margin-left:0.5em !important;
}

.chatText
{
    margin-left:0.5em !important;
}

.timebox
{
    /* height: 28px !important; */
	background: none;
	/* border: 1px solid rgb(17,44,53) !important; */
	color: #2d2c2c !important;
}

/* REQUEST CALLBACK PAGES (CHAT,CALLBACK AND FEEDBACK  WITH RETINA DISPLAY*/
.supportPageFlexbox
{
    /* background-color:rgba(00,00,00,0.4) !important; */
}

.callbackMenuBtn {
    /* font-family:'Helvetica Neue' */
}

.feedbackInputBox
{
    text-align:center !important;
}

.supportReasonBox
{
	background-color:rgba(33,167,182,0.2) !important;
	margin-top:14px !important;
	height:2em !important;
}

/* ACCOUNT PAGES WITH IPHONE RETINA DISPLAY */

/* Account Page */

.accountDetailsSummary
{
    width: 100% !important;
    background-color:red !important;
    margin:0em !important;
    border:0em !important;
    padding:0em !important;
}

.accountControlList{
    background-color:#315762 !important;
}

div.accountbutton {
    width:5.8em;
    height:2.2em;
    background-color:#2A4B5A !important;
    color:white !important;
    border: 0.07em solid #2A4B5A !important;
    border-radius: 0.3em;
    /* font-size: 0.7em; */
    padding-left:2.9em;
    padding-top:1em;
    background: url('../img/common/2x/btn_transfers_icon.png') no-repeat 10%;
}


.accountScrollContainer .transactionInputScrollContainer
{
   height: 90% !important;
}


.homeScrollContainer
{
   height: 90% !important;
}

.accountTransactionScrollingSection{
	height:70% !important;
}

.accountTransactionFixedSection{
	margin: 20px 15px 0px;
}

.transactionScrollingSection{
	height:90% !important;
}

.transactionFixedSection{
	height:10% !important;
}

.accountDetailBox
{
   background-color:rgba(00,00,00,0.4) !important;
   border-bottom:0.07em solid #acacac !important;
}

.accountDetailLabel
{
    margin-left:1.5em !important;
    margin-top:1em !important;
}

.pdfAccountClass{
    margin-right:6px !important;
}

.accountDetailCategory
{
  color:white !important;
    background-color:rgba(00,00,00,0.4) !important;
   border:0em !important;
    border-bottom:0.07em solid #acacac !important;
  padding-left:6px !important;
}

.accountsDetailItem
{
    background-color:rgba(00,00,00,0.4) !important;
    border-width:0em !important;
    list-style: none outside none;
}

.addRecieptButton
{
    margin-left:1.5em !important;
    margin-right:1.5em !important;
}


.accountTimelineItem
{
    border-bottom:0.15em solid white !important;
    background:rgba(33,167,182,0.2) !important;
}

.accountActivityClass
{
    color:#000 !important;
    /* font-size: 18px !important; */
	padding-left:6px !important;
}

.viewActivityClass
{
    color:#ffffff !important;
    /* font-size:0.9em !important; */
}

.accountTimelineContainer
{
	height:59% !important;;
}

.addTimelineItem
{
    background-color:rgba(00,00,00,0.4) !important;
    border:0em !important;
    border-bottom:0.07em solid #F4F4F4 !important;
}

/* Styling for account list on home page */
.accountsList .sapMSLITitleOnly
{
	color: #424242;
	line-height: 45px;
	font-size: 16px !important;
}

.accountsList .sapMSLIImgFirst
{
    margin-left: 6px;
    height: auto;
    margin-top: 0;
    float: none;
}

.accountControlAmount
{
	/* font-size:1.5em; */
}
/* PREFERENCE WITH IPHONE RETINA DISPLAY */

.prefAccountsBackground
{
  background-color:rgba(33,167,182,0.2) !important;
  margin-top:0.8em !important;
  border-bottom:0.08em solid white !important;
  padding: 5px 0;
}

.preferencesHeaderBox
{
    width:55%;
    margin-left: 0 !important;
}

.preferencesHeaderBoxItem
{
    /* font-size:9px !important; */
}

.preferenceListItem
{
    background-color:transparent !important;
    color:white !important;
    border: 0.0em solid #376B79 !important;
    height: 2.75em !important;
    margin-right:0.5em !important;
    margin-left:0.5em !important;
    /* font-size:1.0em !important; */
}

.preferenceWithBottomBorder
{
    /* background-color: rgba(00,00,00,0.4) !important;
    color:white !important; */
    border:0em !important;
    border-bottom: 0.07em solid #acacac !important;
    height: 3.25em !important;
    /* font-size:15px !important; */
    width:100% !important;
    padding: 0 1rem 0 0 !important;
}

.prefListFlexbox
{
	margin: 15px 10px 0 10px;
}

.prefTransHistoryBackground
{
  background-color:rgba(33,167,182,0.2) !important;
  padding:5px !important;
}

.prefVBoxPadding
{
  padding:5px !important;
}

.preferenceVBoxWithBottomBorder
{    
    border:0em !important;
    border-bottom: 0.07em solid #acacac !important;
    width:100% !important;
}

/* TRANSFER PAGES */

/* TRANSFER PAGE WITH IPHONE RETINA DISPLAY */
.transferPageFlexbox
{
    border-style:solid;
    border-color:transparent;
    border-width:10px 10px 10px 10px;
}

.transferPageAccountList {
    border-style:solid;
    border-color:transparent;
    border-width:0px 0px 10px 0px;
}

.transferRecipientList {
    border-style:solid;
    border-color:transparent;
    border-width:0px 0px 0px 0px;
    margin-top: 10px;
}

.transferHeaderItem {
    background-color: #888888 !important;
    padding:0.3em;
}

.spinnerControl
{
    width: 100% !important;    
}

.spinnerControl input {
    padding: 4px 0px 0px 3px !important;
}


#transferStartDateSelect, #transferEndDateSelect {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important;
    background: rgb(35,65,76) !important;
    margin-top: 7px;
    height: 28px !important;
}

#transferDateSelect {
    width: 90% !important;
}

#transferDateSelect  input, #transferStartDateSelect  input, #transferEndDateSelect input {
padding: 1px 0px 0px 7px;
}

#transferDateSelect label, #transferStartDateSelect label, #transferEndDateSelect label {
padding: 4px 0px 0px 7px;
}

.transferContainerSpacing {
    padding-left: 14px;
}

#transferReferenceInput {
    width: 80% !important;
}

#transferReferenceInput input {
    padding-top: 2px !important;
}

.recipientHeaderItem
{
    background-color:rgba(33,167,182,0.2) !important;
    padding:0.3em;
    margin-top:0.5em;
    display: none !important;
}

.recipientHeaderItem img, .transferHeaderItem img
{
    padding-top:0.4em;
    padding-right:0.5em;
}

.transferTitleItem {
    background-color: #999999 !important;
    border-width:0px 10px 0px 10px;
}

.transferTitleList {
    background-color:red !important;
}

.transferListItem
{
    background-color:transparent !important;
    color:white !important;
    border: 0.1em solid #376B79 !important;
    height: 3.25em !important;
}

#transferConfirmList , #transferCompletePayList{
    background-color:transparent !important;
}

#imgCustomerPhoto { margin:0 1em 0 0; }

.customerInfo{
    width:91% !important;
    margin:0 1em 1em 1em;
}

.recipientInput{
    margin:1em 0 0 0;
}

/* .appActionbtn{
    barder:0px !important;
    border-top: 1px solid #999999 !important;
    box-shadow: none !important;
    color:#999999 !important;
    font-size:0.8em !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    background-image:none !important;
    background: #f7f7f7 !important;
    background-color: #f7f7f7 !important;
} */

.appActionbtnTop{
    border-top: 0px solid #999999 !important;
}

.appActionbtnRight{
    border-right: 1px solid #999999 !important;
}
.appActionTitle {
    color:#999999 !important;
    /* font-size:14px !important; */
    text-align:center !important;
    /* text-shadow:none !important;
    font-weight:bold !important; */
}
.appActionText {
    color:#999999 !important;
    /* font-size:14px !important; */
    text-align:center !important;
    text-shadow:none !important;
    margin-bottom: 0.5em !important;
}

.transferList{
    color:#999999 !important;
    border: 0px solid #dedede !important;
    border-top: 1px solid #dedede !important;
    background-color: #f7f7f7 !important;
    height: 3em !important;
}

.transferList .sapMLIBImgNav
{
    width: 1.5em;
    height:1.5em;
    margin-right:-0.5em;
    background-color:#888888 !important;
}

.transferList input
{
    background-color: #999999 !important;
    color:white !important;
    height: 2.1em !important;
    width: 11em !important;
}

.transferListHBox .sapMInputBase
{
    background-color: #999999 !important;
}

.transferList img
{
    height: 1em;
    width: 1em;
    padding-right:1em;
}

.transferListHBox
{
    margin-left: -5em;
}

.transferDateList
{
    padding-top:0.8em;
    padding-bottom:0.8em;
}

.transferListBox
{
    margin:1em;
}

.transferListBox2
{
    margin-top:1em;
    background-color:#e8e8e8;
}

.transferListBox2 .sapMCbLabel {
    color:#999999 !important;
    /* font-weight:bold !important; */
}

.transferButton
{
    width:26.5em !important;
}

.transferButtonBox
{
    padding-top:0.8em;
}

.transferList2{

    color:#888888 !important;
    border: 0px solid #dedede !important;
    border-top: 1px solid #dedede !important;
    background-color: #f7f7f7 !important;
}

.transferList2 .sapMLIBImgNav
{
    width: 1.5em;
    height:1.5em;
    margin-right:-0.5em;
    background-color:#888888 !important;
}

.transferList2 .sapMSLITitle, .transferList2 .sapMSLIDescription
{
    color:#888888 !important;
    /* font-size:14px !important; */
    padding-top:-5px !important;
}

.transferList2 .sapMSLIInfo
{
    /* font-size:14px !important; */
    margin-top:0.8em !important;
}

.transferList2 .sapMSLIImgFirst
{
    width:1.3em !important;
    height:1.3em !important;
}

.transferCompleteRecipientLabel
{
    color:#888888 !important;
    margin-right:-5em !important;

}

.recipientList{

    /* color:white !important;
    border: 0px solid #dedede !important; */
    border-top: 1px solid #dedede !important;
    border-bottom: 1px solid #c3c3c3 !important;
    background-color: #fff !important;
    padding-right:0.5em !important;
    padding-left:0.5em !important;
    height:3.2em !important;
}

.recipientList .sapMLIBImgNav
{
    width: 1.5em;
    height:1.5em;
    margin-right:-0.5em;
    background-color:#888888 !important;
}

.recipientList .sapMSLITitle
{
    margin-top:0.8em !important;
    color:white !important;
}

.recipientList .sapMSLIDescription
{
    color:white !important;
    margin-left:12em !important;
}

.recipientLabel
{
    color:#21a7b6 !important;
    padding:0.4em;
}

.recipientTo
{
    width:100%;
    border: 0px solid #dedede !important;
    border-top: 1px solid #dedede !important;
    background-color: #f7f7f7 !important;
    height: 2.5em !important;
}

.recipientToLabel
{
    color:#888888 !important;
    padding-left:0.5em;
}

.callbackReasonArrow
{
    margin-right:0.5em;
    margin-top:0.5em;
}

.recipientToList{
    color:#888888 !important;
    border: none !important;
    background:rgba(0,0,0,0) !important;
    margin-left:-7em !important;
    width:11em !important;
    height:2em !important;
}

.recipientToList .sapMSLITitleOnly
{
    /* font-size: 0.8em !important; */
    color:#888888 !important;
    margin-top: -0.7em !important;
    margin-left:-1em;
    text-align: left;
}

.recipientToList .sapMSLIImgFirst
{
    margin: 0.2em;
}

.recipientFromList{
    margin:0em !important;
    padding:0em !important;
    color:#888888 !important;
    border: 0em !important;
    background: rgba(0,0,0,0) !important;
    margin-left:-6em !important;
    height:2em !important;
  width:13em !important;
}
.recipientFromList .sapMSLITitle, .recipientFromList .sapMSLIDescription
{
    margin:0em !important;
    color:#888888 !important;
    text-align:left !important;
    /* font-size: 14px !important; */
    margin-top: -0.5em !important;
  margin-left:-1em !important;
}
.recipientFromList .sapMSLIInfo
{
    margin-top: 0.5em !important;
    /* font-size:14px !important; */
}

.recipientFromList .sapMSLIImgFirst
{
    margin: 0.2em;
    height: 1.3em;
    width: 1.3em;
}

.transferCompleteLabel
{
    color:#888888 !important;

}

.transferSwitchContainer
{
 margin-top:0.5em !important;
}

/* REMOTE DEPOSIT WITH IPHONE RETINA DISPLAY */
#depositToLabel    {
    /* font-size:1.1em !important; */
}

.customerPhoto{margin:0.5em 1.5em 0 1.5em;}

.photoText
{
    margin-top:-1em !important;
    /* font-size:0.9em !important; */
    color:#9A9A9A !important;
}

.depositeAccountHeader
{
    padding:0.3em;
    background-color:#888888 !important;
}

.depositFormBox{
    margin-left:1.5em !important;
}

.depositList
{
    background-color:white !important;
    color:#9A9A9A !important;
    border:0em !important;
    border-bottom:0.08em solid #f7f7f7 !important;
    height: 3em !important;

}

.depositList .sapMSLITitle, .depositList .sapMSLIDescription
{
    color:#9A9A9A !important;
    /* font-size:14px !important; */
    margin-top:0.3em !important;
}

.depositList .sapMSLIInfo
{
    /* font-size:14px !important; */
    margin-top:0.8em !important;
}

.depositList .sapMLIBImgNav
{
    background-color:#9A9A9A !important;
}

.depositAccountDialog{
    /*background-image:url('../img/common/2x/background.png') !important;*/
}

.depositItemWidth{
    width:85% !important;
}

.amountFieldBreak{
    margin-top:0.7em !important;
}

#checkImageHbox{
    height:6.5em !important;
    width:100% !important;
    background-color:rgba(00,00,00,0.4) !important;
	margin-top:5px !important;
}

#checkImageHbox .sapMFlexItem{
    text-align:center;
}

#depositConfirmLable{
    color: #999999!important;
    padding: 0.5em;
}

.depositCompleteRecipientLabel
{
    color:#9A9A9A !important;
    margin-right:-6em !important;
}

.depositToList
{
    margin:0em !important;
    padding:0em !important;
    color:#888888 !important;
    border-width: 0em !important;
    background: rgba(0,0,0,0) !important;
    margin-left:-5em !important;
    height:2em !important;
}

.depositToList .sapMSLITitle
{
    margin:0em !important;
    color:#9A9A9A !important;
    text-align:left !important;
    /* font-size: 0.9em !important; */
    margin-left:-0.5em !important;
}

.depositToList .sapMSLIDescription
{
    text-align:left !important;
    color:#9A9A9A !important;
    /* font-size: 0.7em !important; */
    margin-top: -0.4em !important;
    margin-left:-0.5em !important;
}

.depositToList .sapMSLIImgFirst
{
    margin: 0.2em;
    height: 1.5em;
    width: 1.5em;
}

.depositImageBoxSpace
{
    margin-left:0.5em !important;
}

.depositInnerBox
{
    border: 0.5em solid white !important;
    border-radius:0.3em !important;
    background-color:white !important;
}

.depositInputField
{
    box-shadow:none !important;
    -webkit-box-shadow :none !important;
    border-width:0em !important;
    height: 2em !important;
}

.remoteDepositDetailsItem {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-bottom: 0.1em solid #FFF !important;
    height: 11.5em !important;
    padding-left: 0.5em !important;
}


/* PAY BILL WITH IPHONE RETINA DISPLAY */
.payBillPageAccountList {
    border-width:0em;
}

.BillNotesImage
{
    margin-top:0.4em !important;
}

.payBillTitleItem {
    background-color:transparent !important;
    border-width:0em;
}

#payCompleteList , #completePayList{
    background-color:transparent !important;
}

.payListItem
{
    background-color:transparent !important;
    color:white !important;
    border: 0.1em solid #376B79 !important;
    height: 3.25em !important;
}

.payList
{
    padding-right:3em !important;
}

.payBillBox
{
    margin-top:0.5em;
}

.scanButton .sapMBtnContent>span
{
    line-height:2.6em !important;
}

.payBillToList
{
    border: none !important;
    background:rgba(0,0,0,0) !important;
    margin-left:-7em !important;
    width:11em !important;
    height:2em !important;
}

.payBillToList .sapMSLITitle
{
    /* font-size: 0.8em !important; */
    color:#888888 !important;
    margin-left: -0.7em !important;
    text-align: left;
}

.payBillToList .sapMSLITitleOnly
{
    /* font-size: 0.8em !important; */
    color:#888888 !important;
    margin-top: -0.7em !important;
    margin-left:-1em;
    text-align: left;
}

.payBillToList .sapMSLIDescription
{
    /*font-size: 0.8em !important;*/
    color:#888888 !important;
    margin-left: -0.7em !important;
    text-align: left;
}


.payBillToList .sapMSLIImgFirst
{
    margin: 0.2em;
}

/* WITHDRAW PAGE CSS */

.withdrawCheckboxStyle:checked
{
    width:1.8em !important;
    height:1.8em !important;
    background-color:#2A4B5A !important;
}

.withdrawCheckboxStyle
{
    width:1.8em !important;
    height:1.8em !important;
    background-color:#2A4B5A !important;
}

#calculatorTitleContainer #calcLabel{
	color: #2d2c2c !important;
	/* font-size:22px !important; */
}


.withdrawContentBox
{
margin:1.5em !important;
}

.withdrawNextStepsBox
{
    padding:0.5em !important;
    background-color: #e6f2f9;
}

.withdrawStepText
{
margin-left:6px !important;
/* font-size:14px !important; */
}

/* CSS FOR IPHONE WITH RETINA DISPLAY ENDS HERE */

.sapMLIBActive{
	/* background: #2861b6 ; */
}


.supportListItem  {
     border:1px solid transparent  !important;
    padding:0em !important;
    background:none  !important;
}

.supportListItem  .sapMListUl {
    border:0px !important;
    box-shadow:none !important;
}

.supportListItemContent {
    background:#e6f2f9 !important;
    border-width:0em !important;
    padding: 0em !important;
    /* font-size:15px !important; */
    height:2.8em !important;
}

.supportListItemContent .sapMSLIImgFirst
{
    width:1em !important;
    height:1em !important;
}

.supportListItemContent .sapMSLIDescription
{
    /* font-size:14px !important; */
	text-shadow:none !important;
}

.sapMLIBImgNav{
    /* height: 2.15em !important; */
    width: 2.15em !important;
    /* background-color:white !important; */
}



.supportTimeLabel
{
    color:#888888 !important;
    padding-left:0.5em;
    padding-top:0.5em;
    margin-right:0.7em !important;
}

.supportTimeImage
{
    margin-top:0.6em !important;
}


.preferenceWithBorder
{
    background-color:transparent !important;
    color:white !important;
    border-bottom: 0.1em solid #376B79 !important;
    border-top: 0.1em solid #376B79 !important;
    height: 3.25em !important;
    padding-right:0.5em !important;
    padding-left:0.5em !important;
    /* font-size:1.0em !important; */
}

.preferenceWithTopBorder
{
    background-color:transparent !important;
    color:white !important;
    border: 0.00em solid #376B79 !important;
    border-top: 0.1em solid #376B79 !important;
    height: 3.25em !important;
    padding-right:0.5em !important;
    padding-left:0.5em !important;
    /* font-size:1.0em !important; */
}



.preferenceWithTopBorder .sapMILI-CTX ,
.preferenceWithBorder .sapMILI-CTX,
.preferenceListItem .sapMILI-CTX
{
    max-width: 75px; !important;
}

.appBackButton
{
    width: 3em !important;
    height: 3em !important;
    background-image: none !important;
}


.errorDialogTextHeader{
    color:#999999 !important;
    /* font-size:16px !important; */
    text-align:center !important;
    /* font-weight:bold; */
    text-shadow: none !important;
}

#calcLabel{
    color:white;
    /* font-size:18px; */    
}

#calculatorContainer
{
    /* margin-top: 0.4em !important; */
}

#calculatorTitleContainer {
    margin-left: 0.8em !important;
    /* margin-top: 0.8em !important; */
    margin-right: 0.8em !important;
}



.supportVerticalBox
{
    margin-top:-4% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

#FacebookComplete .appBackButton {
    margin-right: -1.6em !important;
}

.checkImageDialog{
    background: #f7f7f7 !important;
	left:0 !important;
	width:320px !important;
	max-height:100% !important;
	border-radius: 0em !important;
	border: 0 !important;
	box-sizing: none !important;
	padding: 0 !important;
	opacity: 1 !important;
	top: 0 !important;
	background-color: transparent !important;
	background-image:rgba(0,0,0) !important;
	z-index: 302 !important;
}

.checkImageDialog .sapMDialogScrollCont{
    padding:0em !important;
	height:700px !important;
	background-color: transparent !important;
}
.checkImageHbox{
    width:100%;
	height: 150px;
    color:#999999;
}

.amountInput {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    /* border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important; */
    /* background: rgb(35,65,76) !important; */
    margin-top: 7px;
    height: 28px !important;
}

.amountInput input {
    padding-top: 2px !important;
}

.transfersListItem
{
  /* background-color:rgba(00,00,00,0.4) !important; */
  border-bottom:1px solid #c3c3c3 !important;
  height:3.5em !important;
}

.transfersControlItem
{
    background-color:rgba(00,00,00,0.4) !important;
}

.transfersDetailsText
{
    /* font-size: 14px !important;
	text-align: center !important; */
	width: 100%;
}

.transactionDetailsText
{
    /* font-size: 16px !important; */
	text-align: left;
	width: 100%;
	margin-bottom: 20px;
}

.trasnfersItemTopSpacing
{
	margin-top: 0px !important;
}

.transfersDetailsItem, .transactionDetails, .homeAccountTypeList
{
    /* background-color:rgba(00,00,00,0.4) !important; */
    height:auto !important;
   	padding: 0.4em 0.5em 0.4em 0.9em !important;
}

.mfaCustomListItem
{
    background-color: #fff !important;
    height:auto !important;
   	padding-left:0.5em !important;
  	padding-bottom:0.5em !important;
	border:none !important;	
}


.checkBox-ios7 input[checked='checked']
{
	background: #51C1CD !important;
	border: 1px solid #999999 !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0.5em !important;
}

.checkBox-ios7 .sapMCbMarkChecked>input:before
{
	content:"" !important;
}

/* .sapMRbB input[type="radio"]
{
	height:1.5em !important;
	width:1.5em !important;
	border: 1px solid #2d2c2c !important;
	border-radius:50% !important;
	background: none !important;
	visibility:visible !important;
	margin: 0 !important;
} */

.sapMRbB input[type="radio"]:checked
{
	background: -webkit-linear-gradient(top, #5798FA, #2861B6) !important;
	/* margin: -2px !important;
	outline: none; */
}

.sapMRbB input[type="radio"]::before
{ 
content:"" !important;
}

.addRecipientButton
{
  color:white !important;
  background:rgba(0,0,0,0) !important;
  height:2.7em !important;
  border-radius:0.3em !important;
  /* font-size:14px !important; */
  /* font-weight:normal !important; */
  box-shadow: none !important;
  -webkit-box-shadow :none !important;
  text-shadow: none !important;
 margin-top:-5px !important;
}

.addRecipientButton .sapMBtnContent
{
 margin-top:-4px !important;
 margin-left:-8px !important;
}

#testInput,#testInput1,#testInput2,#testInput3,#testInput4,#testInput5,#testInput6,#testInput7,#testInput8
{
min-width:0px !important;
min-height:0px !important;
width:0px !important;
height:0px !important;
background-color:red !important;
cursor:none !important;
margin-top:-50px !important;
position:absolute;
top:-200px;
left:-200px;
}

.taptoclose
{
  /* font-size:18px !important; */
  padding-top: 70px !important;
 text-shadow: none !important;
}

#transactionReceiptConfirm
{
    z-index: 306 !important;
}

.sapMListUl {
	padding: 0;
}

.loginPageMargin {
	/* float: left; */
	color: white !important;
	/* margin-top: 150px; 
	margin-top: 70px; */
	margin: 0 auto;
}


.sapBgImg {
    background-position: center top;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;	
}

.calcScreenStyle {
	margin-top: 50px;
	float: left;
	position: relative;
	width: 92% !important;
}


.calcScreenStyle li {
	margin: 20px 0;
}

/* .removeBtnStyle {
	margin: 0;
	padding: 0;
	height: 100%;
} */

.sapMBtnCustomIcon, #payBillMainPage .sapMLIBActive div.sapMHBox:nth-of-type(2) .sapMFlexItem:nth-of-type(1) span, 
#messagesContainer .sapMListSwipable ul li.sapMLIBActive .trasnfersItemTopSpacing:nth-of-type(2) .sapMFlexItem span {
	color: #FFF;
}

.formHeaderTextCenterAlign div {
	text-align: center;
	width: 100%;
}

.formInputField {
	box-shadow: none !important;
	/* border-radius: 0px !important;
    border: 1px solid rgb(17,44,53) !important; */
    color: #2d2c2c !important;
	/* margin-top: 7px; */
	height: 30px !important;
	/*padding-left: 5px !important; */
	text-align: left;
	padding: 0 !important; 
}

.formInputField  input {
	color: #2d2c2c !important;
	background: transparent !important;
	padding:0;
}

.removeBg {
	background: none !important;
}

#mloanAmountInput, #mtermFieldInput, #minterestRInput, #mYearlyPropertyInput, #mYearlyInsureInput {
	right: 0;
}

.calculatorList div {
	height: auto;
	margin: 0 !important;
	display: block !important;
}

.marginBottom20 {
	margin-bottom: 20px;
}

.evenSpaceAround {
	justify-content: space-around !important;
}
/*
	Overrides
*/
.sap-ios .sapMILI-CTX .sapMInputBaseInner {
	height: inherit !important;
	text-align: inherit !important;
	color: #000 !important;
}

.sap-ios .sapMInputBaseInner:not(.loginFormInput input) {
	padding: 0 !important;
}

.sap-ios .sapMILI-CTX>.sapMInputBase {
	text-align: start !important;
}

.sap-ios .sapMILI {
	height: auto;
}

.sap-ios .sapMLIBContentMargin, .sap-ios .sapMILI-CTX>.sapMInputBase:not(.sapMInputBaseError) {
	right: 0 !important;
	margin-right: 0 !important;
}

.sap-ios .sapMILIDiv {
	margin: 0 !important;
	display: inline-block !important;
}

.sapMILILabel {
	max-width: 100%;
}

.validationErrorSelect {
    background-color: rgba(245, 74, 101, 0.3) !important;
    border-color: green !important;
}

.validationError input {
	background-color: rgba(245, 74, 101, 0.3) !important;
	border-color: red !important;
}

.validationError input:hover{
	border-color: #FD0026 !important; 
	border-style: solid !important; 
}

.detailsHeader{
	width:98%;
	color:white;
	/* font-size:12px; */
	background-color:rgba(33,167,182,0.2);
	padding-left:0.5em;
	border-bottom:0.09em solid #c3c3c3;
}

.productImage{
	width:4em;!important;
	height:2.7em;!important;
}

.productName{
	font-size: 16px !important;
}

.productFeatureItem{
	background-color:transparent !important;
    border-bottom: 0.07em solid white !important;
    border-top-width: 0.0em !important;
    /* font-size:10px;!important; */
    color: white;
}

.sapMMessageDialog {
	background-color: #fff !important;
}

.validationErrorBox{
	height:2em;
	padding-bottom: 10px;	
	color: rgb(245, 74, 101) !important;
}

.validationMessage{
	color: rgb(245, 74, 101) !important;
	margin-top: 10px;
	font-size: 12px; 
}

/*input, input[type="password"], input[type="search"] {
	background-color: transparent !important;
}*/

.fullWidth {
	width: 100%;
	/*
		Overriding margin given in appPageVbox class 
	*/
	
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.fullWidth .sapMFlexItem {
    width: 100%;
}


.paddingRight10 {
	padding-right: 10px;
}

.homeAccountTypeList img[class~="sapMImg"] {
	margin: 0 !important;
}

.accountTypeImgMargin img {
	margin-left: 20px !important;
	margin-top: 12px !important;
	margin-right: 20px !important;
}

.sapMListUl > li[class*="sapMLIB"] {
	border-top: none !important;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignButtonCenter button {
	text-align: center;
	border:1px solid red;
}

.pendingCompletedSearch {
	margin: 5px 0;
	border: none;	
}

/* .sap-bb .sapMSF::before:not(.transferPendingCompletedSearch), .sap-android .sapMSF::before:not(.transferPendingCompletedSearch) { */
.sap-bb .sapMSF::before, .sap-android .sapMSF::before {
	border-right: none !important;
}

.sap-android .sapMInputBase::before, .sap-bb .sapMInputBase::before {
	height: 0.1em;
}

.sap-android .sapMSlt>.sapMSltLabel, .sap-bb .sapMSlt>.sapMSltLabel {
	border-bottom: none !important;
	/* font-size: 16px !important; */
	padding: 2px 5px 0px 0px !important;
}

.sap-android .sapMInputBase::before, .sap-bb .sapMInputBase::before {
	border: none;
}

/* 
iPhone fix - removed .sap-android prefix
.sap-android .sapMInputBaseInner:not(.loginFormInput), .sap-bb .sapMInputBaseInner:not(.loginFormInput) 
*/
.sapMInputBaseInner:not(.loginFormInput), .sap-bb .sapMInputBaseInner:not(.loginFormInput) {
	/* height: 1.8em !important; */
}



/*
	Pay & Transfer menu items
*/


/*
	More menu items
*/

/* #support {
	left: 20px !important;
	top: 100px !important;
}

#products {
	left: 50px !important;
	top: 65px !important;
}

#settings {
	left: 80px !important;
	top: 33px !important;
} */

.borderRed {
	border: 1px solid red;
}

.fullWidth {
	width: 100% !important;
}

.borderBottom3 {
	border-bottom: 3px solid #2d2c2c;
}

.transactionDetails div[class*="sapMHBox"] {
	margin-bottom: 15px;
}

.frequencyInputBox {
	margin-top: 0 !important;
}


.inputFieldStyle {
	/* border: 1px solid #9D9D9D !important;
	border-radius: 3px !important; */
}

/* Added for MFA dialog on login */
.dialogHeaderBg header {
	background: #545454 !important;
}

.dialogHeaderBg header label {
	color: #fff !important;
}

/* .sapMRbBOut, .sapMRbBInn {
	visibility: hidden !important;
} */

.sapMRbBLabel {
	/* line-height: 4em !important; */
}


.accountListItem .sapMFlexItem img{
	margin:0 0 0 0.6em !important;
	height: 40px;
}

.sap-android .sapMSlt>.sapMSltArrow, .sap-bb .sapMSlt>.sapMSltArrow {
	border: none;
}

.transactionInputScrollContainer div div:nth-child(n+6) {
	/* margin-top: 15px; */
	height: 60px;
}

.sap-android .sapMSlt, .sap-bb .sapMSlt{
	margin: 0 0 0.5em 0 !important;
}

#stopPaymentEnterPage label{
	margin-top: 1em;
}

.selectBoxContainer label {
	margin-top: 0 !important;
	padding-left: 5px !important;
}

#searchField::after {
	border-right: none !important;
}

#requestCallBackPage input{
	padding-left: 10px !important;
}

#feedbackinputBox textarea{
	/* height: auto !important;
	border: 1px solid rgb(17,44,53) !important; */
	border-radius: 5px;
}

#requestCallBackPage .sapMCbMark{
	top: 0.6em !important;
}

#carPage, #mortagePage{
	/* margin-top:0px !important; */
}

.userBalanceInfo{
	height: 28%;
	color: #2d2c2c;
	/* font-size: 12px; */
}

.connSettingCls{
	/* font-size: 0.9em; */
}

.dialogTitle{
	float: left !important;
	color: #2d2c2c !important;
	margin-top: 10px;
}

.sapMSltArrow {
	/*display: none !important;*/
}

.sapMRbSel .sapMRbBInn {
  background-color: #5798FA !important;
}

.scanButton img{
	width: 22px;
}

#PayBill .scanButton{
	margin-left: 5px;
	margin-top: 10px !important;
}

.debitEntry{
	color:#ff2929;
}



#stopPaymentEnterPage .sapMScrollContScroll >label:nth-of-type(3), #MessagesListDetails section{
	margin-top: 10px;
}

.sapAmountCls{
	text-align: right !important;
	display: block;	
}

.sapMSFF{
	border: none !important;
}

#AccountDetailsOnHome .transfersDetailsText{
	margin-left:1em;
}

#StopPaymentDetails .accountDetailsIcon img, #TransfersListDetails .accountDetailsIcon img, #PaymentsListDetails .accountDetailsIcon img{
	width: 10px !important;
}

.loginFormPageButton {
	margin-top: 10px;
}

#transactionHistorySearch .sapMSFF{
	padding-left: 0;
}

.sapMInputBaseReadonlyInner{
	background-color: #eaeaea;
}

#payBillToSelect {
    margin-top: 10px !important;
}

.payFromWidth>div{
	width: 100%;
}

#TransfersListDetails .transactionDetails, #PaymentsListDetails .transactionDetails{
	padding: 15px 0 !important;
}

/* #transferMainPage label.sapMLabelMaxWidth:nth-child(4), #stopsPendingListPage{
	margin-top: 15px;
} */

#stopsPendingListPage{
	margin-top: 15px;
}

#transferMainPage label.sapMLabelMaxWidth{
	margin-top:10px;
}

#stopPaymentEnterPage label.sapUiSelectable{
	margin-top: 20px !important;
}

#Transfer .bottomMarginNone, #TransfersListDetails .bottomMarginNone, #PaymentsListDetails .bottomMarginNone{
	margin-bottom: 0px !important;
}

#AccountDetails .sapMFlexItem br {
	height: 30px !important;
	display: block;
	content: " ";
}

.accountListItem  .sapMHBox .sapMHBox:nth-of-type(1) .sapMTextMaxWidth   {
    font-size: 16px;
}

.accountListItem  .sapMHBox .sapMHBox:nth-of-type(2) .sapMFlexBox:nth-of-type(1), #payBillMainPage .recipientList div.sapMHBox:nth-of-type(2) .sapMFlexItem:nth-of-type(1) span,
#messagesContainer .sapMListSwipable ul li .trasnfersItemTopSpacing:nth-of-type(2) .sapMFlexItem span {
   color: #ACACAC;
}

#payBillDetailPage .selectVboxContainer:nth-of-type(5), #depositPage section div.selectVboxContainer:nth-of-type(3){
	margin-top:10px;
}

.appBackButton .sapMImg{
	/* margin: 0.2em 0.3em 0.5em 0 !important; */
	margin: 0.5em 0.3em 0.5em 0.5em !important;
	height: 17px;
	width: 11px;
}

.appBackButton .sapMBtnActive, #carPage .loginFormPageButton .sapMBtnActive{
    background-image: none !important;
}

.userAcntInfoBar {
	width: 100%;
	z-index: 999;
	background: #fee65a;
	color: #fff;
	height: 5.5em;
	padding: 10px 0 10px 0;
}

.userAcntInfoBar .userAcntInfo {
	width: 47%;
	float: left;
	display: inline;
	margin-left: 10px;
}

.userAcntInfoBar .userAcntName {
	display: block;
	text-transform: uppercase;
	font-weight: bold; 
}

.userAcntInfoBar .userAcntSummary {
	font-size: 16px;
	line-height: 1.5em;
}

.userAcntInfoBar .userAcntUpdates {
	width: 47%;
	float: left;
	display: inline;
}

.userAcntInfoBar .userAlertInfo, .userAcntInfoBar .userMsgInfo {
	background-size: 17px;
	background-repeat: no-repeat;
	height: 2.5em;
	display: block;
	padding-left: 2em;
	line-height: 1.6em;	
}

.userAcntInfoBar .userAlertInfo {
	background-image: url('../img/common/1x/alerts.png');
}

.userAcntInfoBar .userMsgInfo {
	background-image: url('../img/common/1x/message.png');
}

.userAcntInfoBar .linkToMainAcnt {
	text-decoration: none;
	color: #2a327e;	
}

#depositPage .giftButtonContainer, #Feedback section{
	margin-top: 15px !important;
}

#depositPage section{
	padding-top: 10px;
}

.sapMLIBActive .sapMSLITitleOnly, .sapMLIBActive .sapMSLIInfoNone, .sapMLIBActive .sapMLIBContentMargin table tr td{
	color: #fff !important;
}

.accountDetailsIcon div.sapMBtnActive, .loginTabButton div.sapMBtnActive {
	border: none !important;
}

 .loginTabButton div.sapMBtnActive span{
	 color: #2861B6;
 }
 
 .forexBoxClass div{
 	width: 100%;
 }
 
#AccountDetailsOnHome .searchList{
	padding: 0 !important;
	height: 2.5rem;
} 

#AccountDetailsOnHome .searchList .sapMSFF{
	padding-left: 0 !important;
}
 
.accountHeaderTitle {
	font-weight: bold;
	border-bottom: 0.07em solid #acacac;
}

.preferenceWithBottomBorder label {
	font-size: 0.875rem;
	line-height: 16px;
}

.preferencesHeaderBox>div:nth-child(1){
	width: 40% !important;
}

.preferencesHeaderBox>div:nth-child(2){
	width: 60% !important;
}

/* ---- Dialog button active state temp fix on android ---- */

.sapMDialogAction button div.sapMBtnActive {
	/*background-image: -webkit-linear-gradient(top, #2861B6, #5798FA) !important;*/
	margin: -0.14rem -0.1rem 0 -0.1rem;
	height: 2.3rem;
	border-color: transparent;
	border: none;
	border-radius: 4px;
}

.sapMDialogAction button div.sapMBtnActive span {
    line-height: 2.5rem;
}

/* ---- Dialog button active state temp fix on android ---- */

#TransfersList button.loginTabButton, #PaymentsList button.loginTabButton, #MessagesList button.loginTabButton, #AlertsList button.loginTabButton,
#Tools button.loginTabButton, #Support button.loginTabButton {
	width: 65px !important;
	display: block;
	padding: 15px 0 15px 0 !important;
}

#TransfersList button.loginTabButton div img.sapMBtnCustomIcon, #PaymentsList button.loginTabButton div img.sapMBtnCustomIcon, #MessagesList button.loginTabButton div img.sapMBtnCustomIcon,
#AlertsList button.loginTabButton div img.sapMBtnCustomIcon, #Tools button.loginTabButton div img.sapMBtnCustomIcon, #Support button.loginTabButton div img.sapMBtnCustomIcon {
	margin: 0 25%;
}

#TransfersList button.loginTabButton div span.sapMBtnContent, #PaymentsList button.loginTabButton div span.sapMBtnContent, #MessagesList button.loginTabButton div span.sapMBtnContent,
#AlertsList button.loginTabButton div span.sapMBtnContent, #Tools button.loginTabButton div span.sapMBtnContent, #Support button.loginTabButton div span.sapMBtnContent{
	width: 60px;
	font-size: 12px;
}

.supportListItemContent .sapMSLITitle{
	line-height: 15px;
}

.secureMenuAdd {
	display: inline-block;
	padding: 0 20px;
	float: right;
	background-color: rgba(111, 138, 179, 0.58);
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 1px #000;
}
.locationDropdownLblCls  label {
	position: relative !important;
	width: 75px !important;
}

.loadingIndicatorHolder {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background-color: #dddddd;
	height: 40px;
	text-align: center;
}

.sapUiLocalBusyIndicatorAnimation{
	font-size: 0.8em;
}
  
.loaderIndicator {
	background-image: url('../img/common/1x/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	line-height: 50px;
	height: 40px;
	margin: 0 auto;
}

.accountFilterButton {
  margin: 0 0 0 5px;
  padding: 0;
  top: -4px;
}

.accountFilterButton > div{
	position: absolute;
	top: 5px;
}

.transactionListTopRow{
	vertical-align:bottom;
	font-size:16px;
	color:#2d2c2c;	
}

.transactionListBottomRow{
	color:#acacac;
	font-size:14px;
	vertical-align:top;
}

.transactionList2ndColumn{
	text-align: right;
}

.noWrapClass{
	max-width :100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	line-height: normal;
}

.sapMSwtOn:not(.sapMSwtAcceptReject) {
	background: #007cc0;
}

.sapMSwtOff:not(.sapMSwtAcceptReject) {
	background: #eee;
}

.productListItemsDesc {
	float: left;
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 100%;
	padding: 0;
}

.productListItemsDesc > div > label {
	white-space: normal;
	line-height: 2em;
	float: left;
	font-size: 14px;
}

.sapMSwtCont{
	padding: 0 !important;
}

.sapMSwt{
	width: 4.05rem !important;
}

#Preferences .prefListFlexbox div.sapMFlexItem:nth-child(5) div {
	font-size: 0.875rem !important;
}

.sapMNavItem.sapMNavItemCenter {
	transform: inherit !important;
	transition: inherit !important;
}

.mfaDialog span.transfersDetailsText {
	line-height: 22px !important;
}

.sapMDialogSection{
	padding: 0 10px ;
}

.sapMListSwipable ul li:last-child:not(:only-child){
    margin-bottom: 30px;
}