.loading-indicator {
	height: 80px;
	width: 80px;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	line-height: 50px;
}

.loading-indicator-bars {
	width: 150px;
}


.loading-indicator-dripcircle {
	width: 150px;
}


.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}