.buttonClass {
	color:red;
}

.hBoxCenterAlign{
    margin-top:1em;
    margin-left:1em;
}

.hBoxLoginLinks{
    margin-top:1em;
    margin-left:1em;
    color:#66CCCC;
    font-size:0.7em;
    font-weight:bold;
}

.caption
{
    font-size:0.8em;
}

.bankName
{
    font-weight:bold;
    font-size:1em;
}

.carousel{
    margin-top:5em;
}

.logo
{
    margin-top:0.8em;
    margin-left:0.8em;
}

.fullScreenDialog
{
    padding:0em;
    margin:0em;
}
.dialogHeight
{
	position: relative;
	max-height:230px;
}

.takePictureDialogHeight
{
	position: relative;
	max-height:170px;
}

.confirmationDialogHeight
{
	position: relative;
	max-height:130px;
}

.vBoxItemsPadding
{
    padding-top:0.6em;
}


.loginButton
{
    color: #989798;
    width:6.7em;
    font-weight:normal !important;
    border: solid 0.1em #e8e8e8 !important;
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    margin:0 !important;
    background-color: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E7E7E7)) !important;
    border-top: none !important;
    border-right: none !important;
}

.loginButton:active
{
    color: #989798;
    background-image: none !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    background-color:gray !important;
}

.loginDialogHeading
{
    color: #989798 !important;
    margin-bottom:0.5em;
}
.loginDialog
{        
    z-index:1000 !important;
    background:rgba(0,0,0,0) !important;
}
.loginDialog .sapMDialogScroll
{
    -webkit-transition : none !important;
    -webkit-transform:none !important;
}

.loginDialog .sapMDialogScrollCont{
    padding:0em !important;
}

.loginInput
{
    padding:0.5em;
    background-color: #e8e8e8 !important;
    border-top: solid 0.1em #999999 !important; 
    text-shadow : none !important;
    box-shadow : none !important; 
    
}

.passCodeInput
{
    background-color: #989798 !important;
    text-shadow : none !important;
    width: 5% !important;
}

.forexBoxClass
{
}
