/* ********** */
/* BASE Theme */
/* ********** */
/* ============================================= */
/* CSS for control sap.m/Input.control           */
/* ============================================= */

.sapMInputMessage {
	padding: 5px;
	background-color: @sapUiWhite;
	border: 1px solid black;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sapMInputMessage > span {
	width: 100%;
}

.sapMInputMessage.sapMInputMessageError {
	background-color: @sapUiErrorBG;
	border-color: @sapUiErrorBorder;
}

.sapMInputMessage.sapMInputMessageWarning {
	background-color: @sapUiWarningBG;
	border-color: @sapUiWarningBorder;
}

.sapMInputSuggestionPopup > .sapMPopoverArr {
	display: none;
}

.sapMDialog.sapMInputSuggestionPopup .sapMDialogScrollCont {
	padding: 0;
}

.sapMInputDescription {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapMInputDescription > span {
	padding-left: 0.5rem;
	font-family: @sapUiFontFamily;
	font-style: normal;
	font-weight: normal;
}

.sapMInputSuggestionTableHidden {
	visibility: hidden;
}