
/* ============================================= */
/* CSS for control sap.m/ObjectIdentifier.control */
/* ============================================= */

.sapMObjectIdentifier{	
}

.sapMObjectIdentifierTopRow{	
}

.sapMObjectIdentifierIcons{
	overflow: hidden;
    text-align: right;
    vertical-align: top-text;
    float: right;
    font-size: 1rem;
    color: @sapUiLightText;
}

.sapMObjectIdentifierIconSpan{
    padding-left: 1rem;
}

.sapMObjectIdentifierTitle{
	text-overflow: ellipsis;
	overflow: hidden;
	color: @sapUiDarkText;
	font-weight: bold;	
}

.sapMObjectIdentifierText{
	margin-top: 0.5rem;
	color: @sapUiLightText;
	font-size: .875em;
}
