/* ============================================= */
/* CSS for controlsap.m/RadioButton.control */
/* ============================================= */

.sapMRb {
	display: inline-block;
	outline: none;
	white-space: nowrap;
}

.sapMRbB {
	height: 3em;
	width: 3em;
	display: inline-block; /* for ie*/
	display: -webkit-inline-box;
}

.sapMRbB .sapMRbBOut {
	height: 1.03em;
	width: 1.03em;	
	border-radius: 1em;
}

.sapMRbBLabel {
	vertical-align: top;
	height: 3em;
	line-height: 3em;
}

.sapMRbB input {
	-webkit-appearance: none;
	visibility: hidden;
}

.sapMRbB:focus {
	outline: none;
}