/* ============================================= */
/* CSS for control sap.m/Support.control    */
/* ============================================= */

.sap-phone .sapMSupport .sapMDialogScrollCont {
	padding : 0;
}

.sapMSupport .sapUiSupportLabel{
	font-weight: bold;
}

.sapMSupport .sapUiSupportTechInfoBorder {
	border: 1px solid #E2E2E2;
}


.sapMSupport .sapUiSupportTxtFld,
.sapMSupport .sapUiSupportBtn {
	border: 1px solid #BFBFBF;
	font-size: 14px;
	height: 22px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left:10px;
}

.sapMSupport .sapUiSupportTxtArea {
	width 		: 100%;
	height		: 50px;
	margin-top	: 5px;
	resize		: none;
	box-sizing	: border-box;
}

.sapMSupport .sapUiSupportPnlLbl {
	display 	: block;
}

.sapMSupport .sapUiSupportDiv {
	margin-top	: 5px;
}

.sapMSupport .sapUiSupportTxtFld {
	background-color: #FFFFFF;
	padding: 1px;
}

.sapMSupport .sapUiSupportTxtFld:hover,
.sapMSupport .sapUiSupportTxtFld:focus {
	border-color: #007DC0;
}

.sapMSupport .sapUiSupportBtn {
	background-color: #E2E2E2;
	border-color: #A3A3A3;
	padding-bottom: 3px;
	cursor: pointer;
}

.sapMSupport .sapUiSupportBtn:hover,
.sapMSupport .sapUiSupportBtn:focus,
.sapMSupport .sapUiSupportBtn.active {
	color: #FFFFFF;
	border-color: #00689E;
	background-color: #007DC0;
}

.sapMSupport .sapUiSupportBtn.active {
	cursor: default;
}
