/* ============================================= */
/* CSS for control sap.m/Table.control 		     */
/* ============================================= */

.sapMListTbl {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	overflow: hidden;
}

.sapMListTbl th,
.sapMListTbl td {
	overflow: hidden;
}

.sapMListTbl .sapMLIB{
	display: table-row;
}

.sapMListTbl:focus,
.sapMListTbl th:focus,
.sapMListTbl td:focus,
.sapMListTbl > tr:focus {
	outline: none;
}

.sapMListTblCell {
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapMListTblCellNoData {
	text-align: center;
}

.sapMListTblHeaderNone {
	height: 0;
}

tr.sapMListTblHeaderNone > th {
	border: 0;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.sapMListTblHeaderNone > .sapMListTblSelCol > .sapMCb,
.sapMListTblHeaderNone > .sapMListTblCell > * {
	display: none;
}

.sapMListTbl .sapMLabel {
	word-wrap: normal;
}

.sapMListTblNone {
	display: none;
}

.sapMListTblSelCol {
	width: 3rem;
}

.sapMListTblNavCol{
	width: 0;
}

.sapMListTblUnreadCol {
	width: 1.74rem;
}

.sapMListTblSubCnt {
	display: block;
}

.sapMListTblSubCntRow {
	display: block;
	overflow : hidden;
}

.sapMListTblSubCntSpr,
.sapMListTblSubCntHdr,
.sapMListTblSubCntVal {
	display: inline-block;
}

.sapMListTblSubCntValBlock{
	display: block;
}

/* responsive table approach */
@media screen and (max-width: 1120px) {
	.sapMListTblCell.sapMSize-xxlarge{
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.sapMListTblCell.sapMSize-desktop{
		display: none;
	}
}

@media screen and (max-width: 960px) {
	.sapMListTblCell.sapMSize-xlarge{
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.sapMListTblCell.sapMSize-large{
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.sapMListTblCell.sapMSize-tablet{
		display: none;
	}
}

@media screen and (max-width: 560px) {
	.sapMListTblCell.sapMSize-medium{
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.sapMListTblCell.sapMSize-small{
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.sapMListTblCell.sapMSize-xsmall{
		display: none;
	}
}

@media screen and (max-width: 240px) {
	.sapMListTblCell.sapMSize-xxsmall,
	.sapMListTblCell.sapMSize-phone{
		display: none;
	}
}