.centered{
	margin: 0em auto;
	text-align: center !important;
}

.bg_orange{
	background-color: orange;
}

img{
	width: 100%;
    height: auto;
    max-height: inherit;
    max-width: 35em;
}



.font_fone{
	font-weight: bold;
    color: darkorange;
    font-size: 1.3em !important;
    padding: 0.25em !important;
    margin-top: -1rem !important;
}

.font_1_2{
	font-size: 1.2em;
}
.font_1_5{
	font-size: 1.5em;
}

.font_price{
	font-weight: bold;
    color: Blue;
}


.btnPromo{

	border: 2px solid white;
	border-radius: 1rem;

	margin: 0.5em;
	
	height: 4em !important;
    line-height: 4em !important;

	background-color: #ad2020;
	/*background: linear-gradient(to right, #333333, Black, Black , Black, #333333) !important;*/

}
.sap-phone .btnPromo{
	height: 3rem !important;
	line-height: 3rem !important;
}
.btnPromo:hover{
	/*background: none !important;*/
	background-color: Brown;
}
.btnPromo:hover .sapMBtnContent{
	color: DarkOrange;
}

.btnPromo .sapMBtnContent{
	color: white;/*
	font-weight: bold;
	font-size: 1.8rem;*/
}

.btnSimple{
	border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.btnMain{
	border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

footer .div_cart{
	m/*ax-width: 70px;*/
}