html, body{
	height: 100% !important;
	font-size: 100% !important;
	margin: 0px auto !important;
	font-family: RobotoCondensed !important;
	/*background-color: #E10076;*/
}

html, body{
	overflow-y: hidden;
}

@media ( max-height: 499px ){
	html, body{
		font-size: 0.875em !important;
	}
}

@media ( min-device-height : 500px ) and ( max-device-height: 599px ){
	html, body{
		font-size: 0.925em !important;
	}
	.SignIN_PAGE .Main_Body{
		padding-top: 2rem;
	}
	.SignIN_PAGE .Main_Body{
		width: 98% !important;
		padding-bottom: 1rem !important;
	}
	.SignIN_PAGE .Main_Body label.justified{
	/*	display: none;*/
	}
	.SignIN_PAGE .Main_Body .divItems{
		margin-bottom: 1rem !important;
	}
	.SignIN_PAGE .Main_Body button.btnSimple{
		width: 98% !important;
	}
	.SignIN_PAGE .Main_Body img{
		height: 5rem !important;
	}

	.sapMBtnContent{
		font-size: 0.9rem !important;
	}
}
@media ( min-device-height: 600px ) and ( max-device-width: 1200px ){
	html, body{
		font-size: 0.85em !important;
	}
}
@media ( min-width: 500px ) and ( min-height: 601px ) and  (max-height: 700px) { 
	html, body{
		font-size: 0.85em !important
	}
}
@media ( min-width: 500px ) and ( min-height: 701px ) and ( max-height: 900px) { 
	html, body{
		font-size: 0.95em !important;
	}
}
@media ( min-width: 1000px ) and ( min-height:901px ) { 
	html, body{
		font-size: 1em !important;
	}
}

 @media (max-height: 700px) { 
	.sap-desktophtml, body{
		font-size: 0.85em !important;
	}
}
 @media ( min-width: 860px ) and ( min-height: 701px ) and ( max-height: 900px) { 
	.sap-desktop html, body{
		font-size: 0.9em !important;
	}
}

div::-webkit-scrollbar,
div::scrollbar {
    width: 1em;
}
div::-webkit-scrollbar-track,
div::scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px Yellow;
}
div::-webkit-scrollbar-thumb, 
div::scrollbar-thumb {
  background-color: Green;
  outline: 1px solid Blue;
}


*:not([class^='sapMITB']):not([class^='sapMSLI']):not([class^='sapMLIBImgNav']):not([class^='sapMBtn']):not([class^='sapMDialogIcon']):not([class^='realperson-text']){
	font-family: RobotoCondensed, 'Roboto Condensed', Calibri, Verdana, Tahoma;
}

.sapUiLocalBusyIndicator{
	z-index: 999;
}

.sapMBarLeft, .sapMBarPH {
	padding-left: 0rem;
}



.Compartamos_LIST_Page{
	background-position: 90% 90%;
	background-repeat: no-repeat;
	background-size: 60%;
	background-opacity: 0.5;
	background-color: #ffffff;
}




.PAGE_Content_DIV_ALL{
	position: relative;
	margin: 0em auto;
	width: 100%;
	text-align: Center;
	vertical-align: middle;
	display: inherit !important;
	padding-top: 0.5em;
	padding-bottom: 1em;
}
.AXX_Desktop .PAGE_Content_DIV_ALL{
	height: 96%;
	/*padding-top: 1em;*/
}
.PAGE_Content_DIV_ALL > div{
	width: 100%;
	/* height: 100%; */
}

.sapMPageScrollEnabled .PAGE_Content_DIV_ALL > div{
	/* height: 100%; */
} 

.sapMPageScrollEnabled .PAGE_Content_DIV_ALL .sapMScrollContV > div{
	height: 100%;
	-webkit-overflow-scrolling: touch;
} 
.sapMPageScrollEnabled .PAGE_Content_DIV_ALL .sapMScrollContV .PAGE_ENROLLMENT_Content_DIV{
/*	height: 100%;
	height: 85%;*/
	-webkit-overflow-scrolling: touch;
}  


.PAGE_Buttons_DIV{
	/*width: 100% !important;*/
	text-align: center;
	height: 10%;
	margin: 1em auto;
	padding-bottom: 0.5em !important;
	vertical-align: middle;
	position: relative;
	display: table !important;
	/* background-color: yellow; */
}
.AXX_Desktop .PAGE_Buttons_DIV{
	/*height: 10%;*/
	margin: 2em auto 3em;
	width: 80%;
}

/*
.PAGE_Buttons_DIV div{
	width: 100%;
	text-align: Center;
	margin: 0em auto ;
	border: 0px dashed white;
}

*/

.Compartamos_TextField{
	width: 80% !important;
	margin: 0.1em auto !important;
}


/*	=====	GENERAL 	==== */
.Content_Text_DIV{
	width: 100%;
	text-align: left;
}
.Content_Text_DIV > div{
	width: 100%;
	text-align: left;
}



.Content_NoMargin_DIV{
	margin: 0em auto;
	width: 100%;
	overflow: hidden;
}
.Content_NoMargin_DIV > div{
	width: 100%;
	margin: 0em auto;
    text-align: center;
}
.Content_NoMargin_DIV > div_Button button{
	width: 100% !important;
}

.Content_Fields_DIV{
	margin: 0.2em auto;
	width: 80%;
}
.Content_Fields_DIV div{
	width: 80%;
	text-align: center;
	margin: 0em auto;
}
.Content_InputText_DIV{
	margin: 0em auto;
	width: 90%;
}


.AXX_Desktop .Axxiome_Page_content input{
   text-align: center;
   font-family: Amor_Font ;
   font-size: 1em;
   margin: 0.2em 0.2em;
   height: 1.75em;
}
.AXX_Desktop .Axxiome_Page_content .sapMComboBox > .Compartamos_Page input{
	height: 2em;
}


.Text_Gigantic{
	color: black;
	font-size: 1.6rem !important;
	width: 100%;
	margin: 0.1em !important;
	padding: 0.1em 0em 0.1em 0em;
	font-weight: bold;
}
.Text_Super{
	color: black;
	font-size: 1.4rem !important;
	width: 100%;
	margin: 0.1em !important;
	padding: 0.2em 0em 0.1em 0em;
	font-weight: bold;
}
.Text_Bigger{
	color: black;
	font-size: 1.25rem !important;
	width: 100%;
	margin: 0.1em !important;
	padding: 0.2em 0em 0.1em 0em;
	font-weight: bold;
}
.Text_Big{
	color: black;
	font-size: 1.1rem !important;
	width: 100%;
	margin: 0.1em !important;
	padding: 0.3em 0em 0.1em 0em;
	font-weight: bold;
}

.Text_A{
	color: black;
	font-size: 1rem !important;
	width: 100%;
	margin: 0.1em !important;
	padding: 0.4em 0em 0.1em 0em;
}
.Text_B{
	color: black;
	font-size: 0.9rem !important;
	margin: 0.1em !important;
	padding: 0.5em 0em 0.1em 0em;
}
.Text_C{
	color: black;
	font-size: 0.8rem !important;
	width: 100%;
	margin: 0.1em !important;
	padding: 0.5em 0em 0.1em 0em;
}

.AXX_Desktop .Text_Gigantic,
.AXX_Desktop .Text_Super,
.AXX_Desktop .Text_Bigger,
.AXX_Desktop .Text_Big,
.AXX_Desktop .Text_A,
.AXX_Desktop .Text_B,
.AXX_Desktop .Text_C
{
	/* color: #b2015c; */
}

.AXX_Mobile .sapMPageScrollEnabled .Text_Gigantic,
.AXX_Mobile .sapMPageScrollEnabled .Text_Super,
.AXX_Mobile .sapMPageScrollEnabled .Text_Bigger,
.AXX_Mobile .sapMPageScrollEnabled .Text_Big,
.AXX_Mobile .sapMPageScrollEnabled .Text_A,
.AXX_Mobile .sapMPageScrollEnabled .Text_B,
.AXX_Mobile .sapMPageScrollEnabled .Text_C
{
	/* color: black;*/
}

.AXX_Mobile .sapMPageScrollEnabled .ENROLLMENT_Page .Text_Gigantic,
.AXX_Mobile .sapMPageScrollEnabled .ENROLLMENT_Page .Text_Super,
.AXX_Mobile .sapMPageScrollEnabled .ENROLLMENT_Page .Text_Bigger,
.AXX_Mobile .sapMPageScrollEnabled .ENROLLMENT_Page .Text_Big,
.AXX_Mobile .sapMPageScrollEnabled .ENROLLMENT_Page .Text_A,
.AXX_Mobile .sapMPageScrollEnabled .ENROLLMENT_Page .Text_B,
.AXX_Mobile .sapMPageScrollEnabled .ENROLLMENT_Page .Text_C
{
	color: white;
}





.sapMInputBaseErrorInner{
	background: none;
	border: 1px solid gray;
}
.sapMInputBaseErrorInner{
	border: 1px dashed brown !important;
	background: url('../img/common/value_state_error.svg') !important;
	background-position: 97% 50% !important;
	background-repeat: no-repeat !important;
	background-size: 14px !important;
	background-color: #ffbfbf !important;
}
.AXX_Desktop .sapMInputBaseErrorInner{
	background-position: 98% 50%;
	border: 1px solid brown !important;
	background-size: 14px;
	background-color: #ffeaea !important;
}

.sapMComboBox .sapMInputBaseErrorInner{
	background-position: 5% 50% !important;
}


/**** SPLASH SCREEN */

	.app_splash{
		/*background-color: #CA005D !important;
		display:inline;*/
	/*
		background-image: url("../img/common/compartamos_movil_A.svg");
		background-position: 50% 20%;
		background-repeat: no-repeat;
		background-size: 50%;
	*/	
		text-align: center;
	}
	#deviceready {
		font-size: 1.5em !important;
	}










button.Axxiome_Button_Accept{
	background-color: DarkGreen !important;
}
button.Axxiome_Button_Accept:hover{
	background-color: Green !important;
}

button.Axxiome_Button_Reject{
	background-color: #d70000 !important;
}
button.Axxiome_Button_Reject:hover{
	background-color: #C4006B !important;
}

button.Axxiome_Button_Next{
	background-image: url("../img/menu/arrow_white.png");
	background-position: 95% 50%;
	background-repeat: no-repeat;
	background-color: #AF005F !important;
}
button.Axxiome_Button_Next:hover{
	background-color: #ff8c31 !important;
}
button.Axxiome_Button_Back{
	background-image: url("../img/common/arrow_back_white.png");
	background-position: 5% 50%;
	background-repeat: no-repeat;
	/*background-color: Orange !important;*/
}
button.Axxiome_Button_Back:hover{
	background-color: #e6ae19 !important;
}


button.Axxiome_Button_Action{
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-color: #ca7916 !important;
}
button.Axxiome_Button_Action:hover{
	background-color: #eba247 !important;
}

button.Axxiome_Button_Regular{
	background-position: 5% 50%;
	background-repeat: no-repeat;
	background-color: #AF005F !important;
}
button.Axxiome_Button_Regular:active{
	background-color: #f00084 !important;
}
button.Axxiome_Button_Regular:hover{
	background-color: #b70065 !important;
}







.tableZebra th{
	 font-weight: bold;
	/* border-bottom: 1px solid Black; */
}
.tableZebra tbody tr:nth-child(even) {
    background: #fafafa !important;
}
.tableZebra tbody tr {
    background: #ffffff !important;
}
.tableZebra .sapUiTableCol{
	background: #d0d0d0 !important;
}
.tableZebra .sapUiTableCol label{
	font-weight: bold;
}
.tableZebra .sapUiTableTr>td {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-right: none !important;
    border-left: none !important;
}


.sapMInputBase {
    padding: 0em;
    height: inherit;
	vertical-align: middle !important;
    /* margin-bottom: 0.5em !important; */
}
#Signin .AXX_Mobile .sapMInputBase {
}














/** 	AREA FOR NEW IMPLEMENTATIONS ***********************************/

.loginScrollContainer  {
	overflow-y: auto;
}
.loginScrollContainer  > div {
	/* height: 96%; */
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 0em;
}



/************* FRAGMENTS HOVER   */
.sap-desktop .sapMLIBSelectD:hover:not(:active), 
.sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover, 
.sap-desktop .sapMListUl:not(.sapMListModeDelete):not(.sapMListModeNone) .sapMLIB:not(.sapMLIBActive):not(.sapMALI):hover, 
.sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover>td, 
.sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):not(.sapMLIBSelected):hover + .sapMListTblSubRow, 
.sap-desktop .sapMListTblSubRow:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover{
	background-color: #fdf7e3;
}



