/* appPageHeader on login page */
/* .customThemeAppLoginBg .appPageHeader { */

/*.AXX_Mobile .Compartamos_app_FOOTER{
	z-index: 13; 
	position: absolute;
	margin: 0px auto;
	height: 2em;
	line-height: 2em;
	
	background: url('../img/common/compartamos_footer_opacity.png');
	background-position: 95% 50%;
	background-repeat: no-repeat !important;
	background-size: 20%;
	background-opacity: 0;
	background-color: #970051; 
}*/

.AXX_Mobile .Compartamos_app_FOOTER:before{
	height: 20px;
    display: block;
	width: 100% ;
	border-bottom-right-radius: 50% 50%;
	border-bottom-left-radius: 50% 50%;
	background-color: #970051;
    content: '';
    margin-bottom: 60px;
    z-index: 99;
    display: none;
}

footer .sapMBarChild > div.sapMFlexItem{
	width: 100% !important;
	height: inherit;;
}

.Compartamos_app_FOOTER{
	/*background-color: #e10076 !important; */
	z-index: 13 !important; 
	position: absolute !important;
	margin: 0px auto !important;
	color: White;
	height: 5rem;
	/*border-top: 2px solid #AF005F !important;*/
	/*padding-bottom: 0.5em !important;*/
}

.sap-desktop .Compartamos_SignIN_PAGE .Compartamos_app_FOOTER{
	background-color: white !important; 
	z-index: 13 !important; 
	position: absolute !important;
	margin: 0px auto !important;
	color: Black;
	border-top: 1px solid LightGray !important
	padding-bottom: 0em !important;
	height: 3em;
	/*padding-bottom: 0.5em !important;*/
}


.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Left{
	float: left;
	width: 15%;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Center {
	float: left;
	width: 55%;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Right {
	float: left;
	width: 30%;
}



.sap-desktop .Compartamos_SignIN_PAGE .footer .legalFooter{
	float: left;
    width: 50%;
}


.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Right .Div_Left {
	float: left;
	width: 40%;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Center div {
	text-align: center;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Center div img {
	width: 80%;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Right .Div_Right {
	float: left;
	width: 60%;
	text-align: right;
}


.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Right .Div_Left a {
	padding-left: 4em;
}



.sap-desktop .Compartamos_SignIN_PAGE .footer div.Content_NoMargin_DIV > div {
    height: 1em;
    text-align: center;
}


.sap-desktop .Compartamos_SignIN_PAGE .footer .Div_Left .legalFooter{
	width: 100%;
}

.sap-desktop .Compartamos_SignIN_PAGE .footer img {
	height: auto;
	width: 4em;
	padding: 0em;
	margin: 0em;
	border: 0 none;
	vertical-align: middle;
	padding-left: 1em;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer a{
	text-decoration: none;

	font-family: "Lato-Regular",Arial;
	/*color: Black; */
    font-size: 0.7rem;
    font-style: normal;
    line-height: 1.5em;
    font-weight: normal;
    font-variant: normal;
    
}

.sap-desktop .Compartamos_SignIN_PAGE .footer .linkGrisClaro {
    color: #C0AE9D;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer .linkGrisClaro:visited {
    color: #C0AE9D;
}
.sap-desktop .Compartamos_SignIN_PAGE .footer .linkGrisClaro:hover {
    color: #B1005D;
}



.sap-desktop .Compartamos_SignIN_PAGE .footer{
    width: 96%;
    min-width: 1024px;
    max-width: 1280px;
    text-align: center;
	/*position: absolute;*/
	  right: 0;
  	bottom: 0;
  	left: 0;
	margin-top: 1em;
	padding-top: 1em;
  	/* background-color: #efefef; */
  	border-top: 1px dashed #efefef;
}


