/* CONSTANTS */
a {
	text-decoration: none;
}

/* SAP.M.PAGE */
.AXX_Mobile .Page_White,
.AXX_Mobile .Page_White .PAGE_Content_DIV {
	background-color: white !important;
}

.AXX_Mobile .Page_Magenta,
.AXX_Mobile .Page_Magenta .PAGE_Content_DIV {
	background-color: #E10076 !important;
}

.AXX_Mobile .Page_Magenta .Text_A,
.AXX_Mobile .Page_Magenta .Text_B,
.AXX_Mobile .Page_Magenta .Text_C,
.AXX_Mobile .Page_Magenta .Text_Big,
.AXX_Mobile .Page_Magenta .Text_Bigger,
.AXX_Mobile .Page_Magenta .Text_Super,
.AXX_Mobile .Page_Magenta .Text_Gigant {
	color: white ;
}

input {
	border: 1px solid #c7c6c6 !important;
	box-shadow: none !important;
	text-align: center;
	padding-top: 0em;
	height: 2em;
	font-size: 1em !important;
	/*
	border-radius: 0.5em !important;
	background: rgba(255,255,255,0.3);
	*/
}

span {
  	
}
.AXX_Desktop span {
}

.menuDesktop a:focus{
	background-color: #F281AF !important;
}

input:focus{
	/*background-color: #feffe8 !important;*/
}
.sapMBtn:hover {
    color: Brown;
}
.sapMBtn:focus {
    /*background-color: #E10076 !important;*/
}
img:focus{
	background-color: none !important;
}


/* SAP.M.FIELD CURRENCY */
.input_currency{
    align: right;
}


/* SAP.M.SELECT */
.sapMSlt{
	height: 2.2em;
	margin: 0.2em 0 0.2em 0em;
	width: 95% !important;
	border-radius: 0.5em;
}
.AXX_Desktop .sapMSlt {
	/*margin: 0.75em 0 0.5em 0em;*/
}
.sapMSlt>.sapMSltLabel{
	line-height: 2em !important;
	font-size: 1em;
}
.sapMSltArrow{
	width: 2em;
	line-height: 2em;
}

/* SAP.M.LABEL */
.sapMLabel {
    font-size: 1em;
    width: 100%;
        /*margin-top: 0.5rem;*/
}
.AXX_Mobile .sapMLabel{
	/*padding-top: 0.5em;*/
	padding-bottom: 0.25em;
	margin-bottom: 0em !important;
}

/* SAP.M.DIALOG */
.AXX_Mobile .sapMDialogSection{
	padding: 3.5em 0.5em !important;
	/* background-color: transparent; */
}
.AXX_Mobile .sapMSltList {
	border-radius: 1em;
}
.AXX_Mobile .sapMSltItem{
	height: 4em !important;
}
.AXX_Mobile .sapMSltItem:first-of-type {
    background-color: #c33558 !important;
    color: white;
    border-radius: 1em 1em 0em 0em;
    background: url(../img/common/close.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 10%;
}
.AXX_Mobile .sapMSltItem:first-of-type .sapMSLITitleOnly {
    color: white;
    font-weight: bold;
    font-size: 1.2em !important;
    /*
    background: url(../img/common/delete.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 10%;
    */
}
.sapMSltItem:nth-child(even) {
    background: #fafafa;
}
.AXX_Mobile .sapMSltItem:last-of-type {
	border-radius: 0em 0em 1em 1em ;
}
.AXX_Mobile .sapMSLITitleOnly{
	font-size: 1em !important;
	line-height: 2em !important;
}

.sapMListTblCell.sapMListTblCellNoData{
	font-size: 1em;
}
.sapMListNoData{
	border-bottom: none;
}



/* SAP.M.SCROLL */
.ScrollView{
	overflow-y: auto !important;
	-webkit-overflow-scrolling: auto !important;
}
div.PAGE_Content_DIV_ALL{
	width: 100% ;
	margin-bottom: 2em;
	display: inline-block;
	-webkit-overflow-scrolling: touch;
}

div.PAGE_Content_DIV_ALL .sapMScrollContV{
	width: 100% !important;
	margin-bottom: 2rem;
	padding-bottom: 2rem !important;
	display: inline-block;
	-webkit-overflow-scrolling: touch;
}

/* TODO #CR
.AXX_Mobile .sapMPageScrollEnabled {
    background-color: white;
}
.AXX_Mobile .sapMPageScrollEnabled .PAGE_Content_DIV{
	background-color: white;
}
*/
.AXX_Desktop .sapMList {
    margin-bottom: 3em;
}
.AXX_Desktop .sapMPopoverCont .sapMList {
    margin-bottom: 0em;
}


/* SAP.M.Image */
.sapMImg {
    float: inherit !important;
}






/******** LISTS ZEBRA */
.AXX_Desktop .ZEBRA_CONTAINER_DIV{
	width: 90% !important;
}

.ZEBRA_CONTAINER_DIV > div {
	border-radius: 0.5em;
	padding: 0.2em 0em;
}

.AXX_Mobile .ZEBRA_CONTAINER_DIV > div:nth-child(even) {
	background-color: #eaeaea;
}
.AXX_Desktop .ZEBRA_CONTAINER_DIV > div:nth-child(even) {
	background-color: #f7f7f7;
}

.AXX_Mobile .ZEBRA_CONTAINER_DIV label.label_observation {
	color: black !important;
}
.AXX_Mobile .sapMPageScrollEnabled .ZEBRA_CONTAINER_DIV label.label_observation {
	font-size: 0.8em;
} 
.AXX_Desktop .ZEBRA_CONTAINER_DIV label.label_observation {
	color: black !important;
}

.AXX_Mobile .ZEBRA_CONTAINER_DIV label.font_value {
	color: Yellow !important;
}
.AXX_Mobile .sapMPageScrollEnabled .ZEBRA_CONTAINER_DIV label.font_value {
	color: Black !important; 
} 
.AXX_Desktop .ZEBRA_CONTAINER_DIV label.font_value {
	color: Black !important;
}


@media (max-height : 600px){
	.AXX_Mobile .ZEBRA_CONTAINER_DIV > div {
		padding: 0.15em 0em;
	}
}

.AXX_Desktop .ZEBRA_CONTAINER_DIV label{
	margin-left: 2rem;
	margin-top: 0.65rem;
}
.AXX_Desktop .ZEBRA_CONTAINER_DIV .Content_Fields_DIV > div:first-of-type{
	width: 40%;
}

.AXX_Desktop .ZEBRA_CONTAINER_DIV .sapMCb label{
	margin-top: 0rem;
	margin-left: 1rem;
}


/*-----------------------------------------------------------------
/* INPUT TEXT */
.sapMInputBaseInner{
	height: 2.5em !important;
	line-height: 2em;
	text-align: center;
	padding-top: 0.2rem !important;
	border-radius: 0.5em !important;
	border-color: #c7c6c6 !important;
	vertical-align: middle !important;
	font-size: 0.955em !important;
}
.sap-phone .sapMInputBaseInner{
	font-weight: normal;
}
.AXX_Desktop .sapMInputBaseInner{
	/*height: 2em !important;*/
	width: 98%;
	font-weight: bold;
}
.AXX_Desktop .sapMInputBaseInner:focus{
	background-color: LightYellow;
}
.AXX_Desktop .sapMComboBox .sapMInputBaseInner{
	height: 2.5em !important;
	width: 95%;
}

/*-----------------------------------------------------------------
/* TEXT AREA */
.sapMTextArea>.sapMTextAreaInner {
    height: 100% !important;
    width: 100%;
    text-align: inherit;
}

.sapMTextNoWrap, .sapMTextMaxLine {
    overflow: inherit;
}


/*-----------------------------------------------------------------

/*	CUSTOM THEME LOGIN BUTTON*/


/* SAP.M.BUTTON */
.sapMBtnInner{
	font-family: RobotoCondensed, 'Roboto Condensed';
	font-size: inherit;
	height: 2.5em;
    line-height: 2.5em;
    padding: 0.1em 0em 0em 0em;
    border: none;
    background: transparent;
}

.sapMBtn{
	height:  2.5rem !important;
    line-height: 2.5rem !important;
	padding: 0em 0em; 
	vertical-align: middle;
}
.AXX_Mobile .sapMBtn span {
  	/*padding-top: 0.25em;*/
}

.sapMBtnIcon {
    vertical-align: middle;
    max-height: 1em;
    padding-top: 0.05em !important;
}

.sapMBtnContent {
    height: 2.5em !important;
    line-height: 2.5em !important;
    vertical-align: top !important;

    color: DarkOrange;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: none;
}

.AXX_Mobile .sapMBtnContent{
	height: inherit !important;
    line-height: inherit !important;
}


/* SAP.M.BUTTON ICON */
.sapMBtnIcon {
    color: #666666;
    height: 2em;
    width: 2em;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 2.5em;
    font-size: 2em !important;
}




.AxxiomeRegularButton {
	
	background-color: DarkOrange;
	box-shadow: 2px 2px 5px #000 !important;
	
	border-radius: 0.8em;
    
    text-shadow: none !important;
    border: none !important;
	width: 95% !important;
	color: white !important;
	font-family: inherit; !important;
	
	background-size: 0.7em;
    
    height: 2.5rem !important;
    line-height: 2.5rem !important;
    
    font-size: 0.9em;
    font-weight: bold;
    
}

.customThemeButton_Transparent {
		
	border-radius: 1em !important;
    
    text-shadow: none !important;
    border: none !important;
	width: 95% !important;
	
	background-size: 0.7em;
    
    height: 2.5rem !important;
    line-height: 2.5rem !important;
    
    font-size: 0.9em;
    font-weight: bold;
    
}
.customThemeButton_Transparent .sapMBtnContent{
	color: #E10076  !important;
}

.AXX_Mobile .AxxiomeRegularButton .sapMBtnInner {
    font-size: inherit;
    height: 2.5em;
    line-height: 2.7em;
    padding: 0em 0em 0em 0em;
    vertical-align: middle;
}
.AXX_Mobile .AxxiomeRegularButton .sapMBtnInner span {
	padding-top: 0.2em;
	padding-bottom: 0em;
}

.AXX_Desktop .AxxiomeRegularButton{
	background-size: 0.8em;
	height: 2.5em !important;
    line-height: 2.5em !important;
}
.AXX_Desktop .sapMBtnContent {
    height: inherit !important;
    line-height: inherit !important;
}
.sapMBtnContent:hover{
	color: brown;
}
.sapMBtnActive:active{
	background-color: none !important;
}
.sapMBtnActive{
	background-color: Black;
	background: yellow;
}
.sapMBtnInner.sapMBtnActive{
	/*background-color: white !important;*/
}
.AXX_Desktop .sapMBtn{
	height: 2.5em ;
    line-height: 2.5em ;
}


.AxxiomeRegularButton:active, .AxxiomeRegularButton:hover {
	background-color: #ff8c31;
}

.AxxiomeRegularButton > div > span[class~="sapMBtnContent"] {
	font-size: inherit;
	color: white;
}
.AxxiomeRegularButton.div[class~="sapMBtnHoverable"] {
	background-color: none;
}


.AXX_Mobile .BTN_DIV_UNIQUE_BTN > div{
	width: 70% !important;
}
.AXX_Desktop .BTN_DIV_UNIQUE_BTN .AxxiomeRegularButton {
	width: 98% !important;
}

/* Buttons CONTAINERS */

.Page_Buttons_DIV_H{
	width: 50% !important;
	text-align: center !important;
	margin-top: 1em;
	display: table-cell !important;
}
.Compartamos_Desktop .Page_Buttons_DIV_H  {
	width: 50% !important;
}

.Page_Buttons_DIV_H > div {
	width: 90% !important;
	margin: 0em auto;
}
.Compartamos_Desktop .Page_Buttons_DIV_H > div {
	width: 80% !important;
}

/* .EnrollmentRegister_Buttons_DIV div{ border: 2px dotted yellow !important; }  */
.Page_Buttons_DIV_V{
	display: table-row !important;
	margin: 0em auto !important;
}

.Compartamos_Desktop .Page_Buttons_DIV_V  {
	/* margin: 2em auto !important; */
	margin: 0em auto !important;
}
.Page_Buttons_DIV_V > div {
	margin: 0em auto !important;
	width: 70% !important;
}
.Compartamos_Desktop .Page_Buttons_DIV_V > div {
	margin: 0.5em auto !important;
	width: 50% !important;
}


/*-----------------------------------------------------------------

/*	CUSTOM THEME RADIO BUTTON*/

.AXX_Mobile .RadioButton label{
	color: black ;
	font-size: inherit;
}
.AXX_Mobile .RadioButton{
	padding: 0px !important; margin: 0px !important; height: 2em;
}
.AXX_Mobile .RadioButton div.sapMRbB{
	padding: 0px !important; 
	margin:0px !important; 
	height: 1.5em;
}
.AXX_Mobile .RadioButton div.sapMRbBOut{
	margin: 0px !important;
	padding: 0px !important;
	margin-top: 0.7em !important;
}
.AXX_Mobile .RadioButton .sapMRbBLabel {
	padding: 0px !important; 
	padding-top: 0.5em !important;
	margin: 0px !important; 
	height: 2em;
}

.sapMRbBLabel{
	height: 2em;
	line-height: 2em;
	font-size: inherit;
}

.sapMRbB .sapMRbBOut {
    height: 1em;
    width: 1em;
    border: 2px solid #bfbfbf;
    background-color: #ffffff;
    margin: 0.2em;
    padding: 1px;
}



/* TABLE */
.DIV_TABLE{
	display: table !important;
}
.DIV_TABLE_ROW{
	display: table-row !important;
}
.DIV_TABLE_CELL {
	vertical-align: middle;
	display: table-cell !important;
}

.sap-desktop .sapUiTableCtrl tr {
    height: auto;
}
.sap-desktop .sapUiTableCell {
    padding: 0.25em 0.5rem;
}

.sapUiTableCtrl span{
	font-size: 0.9em !important;
}


.AXX_Mobile .sapMText{
	font-size: 0.9em;
	padding-top: 0.25em;
}

.AXX_Mobile .sapMListTbl .sapMText, 
.AXX_Mobile  .sapMListTbl .sapMLabel {
    padding-top: 1px;
    font-size: inherit;
    color: #333333;
    font-weight: normal;
}
.sapMListTblCell:first-child, .sapMListTblNone:first-child + .sapMListTblCell {
    padding-left: 0em;
    padding-right: 0em;
}
.sapMListTblCell {
    padding: 0.5em 0.5em;
}
.sapMListTblRow.sapMListTblRowMiddle>td {
    padding-top: 1.5em;
  	padding-bottom: 1.5em;
}
.sapMListTblCell.sapMListTblCellNoData, .sapMListTblRow>:nth-last-child(2) {
    padding-right: 0.4em;
}

/*-----------------------------------------------------------------

/*	COMBO BOX */
.sapMComboBoxBaseInput input{
	height: 2.5em !important;
	line-height: 2.5em;
} 
.sapMComboBoxBaseArrow{
	/*height: 2.2em;
    line-height: 2.5em;*/
    /*top: 0.275rem;*/
    width: 2.5rem;	
    right: 0.5rem;
    top: 0.2em;
}
.sap-phone .sapMComboBoxBaseArrow{
    /* top: 0.25em; */
    height: inherit;
    top: 0rem;
}
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow, .sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
    background: DarkOrange ;
    border-radius: 0.5em;
   /* padding-top: 0.25em;*/
}
.sap-phone .sapMComboBox {
	height: 2rem;
    line-height: 2rem;
    padding: 0.1rem;
}




/*-----------------------------------------------------------------
/*	BACKGROUND SUBHEADERS */
.BACKGROUND_SUBHEADER_HOME{
	background-color: White !important;
	color: #970051 !important;
}
.BACKGROUND_SUBHEADER_HOME a{
	color: #970051 !important;
}
.BACKGROUND_SUBHEADER_CUSTOMER{
	background-color: #fdcc66 !important;
	color: #970051 ;
}
.BACKGROUND_SUBHEADER_CUSTOMER span{
	color: #970051 ;
}


.BACKGROUND_SUBHEADER_TOKEN{
	background-color: #a00659 !important;
	color: White !important;
}

.BACKGROUND_SUBHEADER_ACCOUNT_SAVINGS,
.BACKGROUND_SUBHEADER_TRANSFERS{
	background-color: #e8578d !important;
	color: White ;
}
.BACKGROUND_SUBHEADER_ACCOUNT_INSURANCES,
.BACKGROUND_SUBHEADER_CONTACT{
	background-color: #e10076 !important;
	color: White ;
}
.BACKGROUND_SUBHEADER_CARDS{
	background-color: #ca7916 !important;
	color: white !important;
}
.BACKGROUND_SUBHEADER_ACCOUNT_LOANS{
	background-color: #af005e !important;
	color: White ;
}
.BACKGROUND_SUBHEADER_SETTINGS {
	background-color: #af005e !important;
	color: White ;
}
.BACKGROUND_SUBHEADER_MOBILE_MONEY{
	background-color: #e8931a !important;
	color: White ;
}
.BACKGROUND_SUBHEADER_PAYMENTS{
	background-color: #faaf34 !important;
	color: White !important;
}




/*-----------------------------------------------------------------
/*	BACKGROUND TITLES */
.BACKGROUND_TITLE_HOME{
	background-color: White !important;
	color: #970051 !important;
}
.BACKGROUND_TITLE_HOME a{
	color: #970051 !important;
}
.BACKGROUND_TITLE_CUSTOMER{
	background-color: #fdcc66 !important;
	color: #970051 ;
}
.BACKGROUND_TITLE_CUSTOMER span{
	color: #970051 ;
}

.BACKGROUND_TITLE_ACCOUNT_SAVINGS,
.BACKGROUND_TITLE_ACCOUNT_LOANS,
.BACKGROUND_TITLE_ACCOUNT_INSURANCES,
.BACKGROUND_TITLE_CARDS,
.BACKGROUND_TITLE_CONTACT,
.BACKGROUND_TITLE_SETTINGS,
.BACKGROUND_TITLE_TRANSFERS,
.BACKGROUND_TITLE_MOBILE_MONEY,
.BACKGROUND_TITLE_TOKEN{
	background-color: #faaf34 !important;
	color: #af005e ;
}
.BACKGROUND_TITLE_PAYMENTS{
	background-color: #fbc367 !important;
	color: White !important;
}




/**/



/*-----------------------------------------------------------------
/*	STRIPS BAR WITH IMAGE, TITLE AND DESCRIPTION */

/** USAGE : MOBILE MONEY MAIN SCREEN OPTIONS (COINS) => FOR MOBILE_MONEY & TRANSFERS */
/* TODO: DC -> Rename the classes */
.DIV_LINK{
	display: table;
	margin: 1em auto;
	height: 6em;
	width: 	100%;
	border: 0px dotted gray;
	/*
	border-bottom: 2px solid #ffffff;
	background-position: 95% 10%;
	background-repeat: no-repeat;
	background-size: 20%;*/
	background-color: #E84588;
	cursor: pointer;
}
.AXX_Desktop .DIV_LINK{
	width: 	80%;
	margin: 1em auto;
	border-radius: 1em;
}
.DIV_LINK:hover{
	cursor: pointer;
}
.DIV_IMAGE {
	margin: 0px auto;
	height: 100%;
	text-align: center;
	border: 0px dashed gray;
	vertical-align: middle;
	width: 5em;
	display: table-cell;
}
		
.DIV_IMAGE img{
	height: 3em;
	/* border: 2px solid #ffffff; */
	transition-duration: 0.4s;
}
		
.DIV_LINK:hover img{
	height: 3.5em;
	/* border: 2.5px solid white; */
  		/* -webkit-transition-duration: 0.3s; */
 	transition-duration: 0.4s;
 	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

		
.DIV_TEXT{
	margin: 0px auto;
	text-align: center;
	border: 0px dashed gray;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.DIV_TEXT_TITLE{
	font-weight: bold;
	margin-bottom: 0.75em;
	font-size: 1.2em;
	text-align: left;
}
.DIV_TEXT_DESC{
	text-align: left;
	font-size: 0.9em;
}




.DIV_BAR_GOLDEN{
	background-color: #faaf34;
	color: #af005e !important;
	padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.DIV_BAR_GOLDEN > div{
	width: 100%;
	text-align: center;
}
.DIV_BAR_GOLDEN label{
	color: #af005e !important;
}
.DIV_BAR_GOLDEN .sapMTText{
	padding-top: 0em !important;
}