.AXX_Mobile .Compartamos_app_HEADER{
	background-image: none !important;
	/*background-color: #970050 !important; */
	height: 2em ;
	z-index: 99;
	margin: 0px auto !important;
	max-width: #970050 !important;
	padding-top: 1em;
	line-height: 2em;
}

.sap-desktop .sapMIBar.sapMHeader-CTX{
	background-color: transparent;
}

.Compartamos_app_HEADER .sapMBarRight{
	display: none;
}

header.sapMBar {
	height: 8rem;
	background: none !important;
	background-color: transparent !important;
}

.sapMPageHeader::before {
	border: none;
}

.header_firefox{
	padding-top: 0.2rem;
	top: 0rem;
}
.header_firefox .sapMBarLeft{
	padding-top: 5rem;
}