
.sapMListNoData {
	font-size: 1.2em;
}
/* ============================================= */
/* ============  GENERIC FRAGMENTS  ============ */
/* ============================================= */
.CPTMS_Fragment_ITEM{
	width: 100%;
	/* border-radius: 0.2em !important; */
	margin: 0em auto !important;
    padding: 0.5em 0em 0.5em 0em !important;
}
.sap-desktop .CPTMS_Fragment_ITEM {
	width: 90% !important;
	height: 3em;
	padding: 1.4em 0em 1.4em 0em !important;
}

.CPTMS_Fragment_ITEM .CPTMS_Fragment_ITEM_ROW{
	margin: 0.25em 0em;
	padding: 0.5em 0em;
}

.CPTMS_Fragment_ITEM .CPTMS_Fragment_ITEM_ROW div {
    width: 100%;
}

.CPTMS_Fragment_ITEM:nth-child(odd){
	background-color: #fafafa;
}
.CPTMS_Fragment_ITEM .sapMText{
	font-size: 0.9em;
	padding-top: 0.2em;
}
.sap-desktop .CPTMS_Fragment_ITEM .sapMText{
	font-size: 0.9em;
	padding-top: 0.2em;
}
.CPTMS_Fragment_ITEM .sapMBtn{
	height: 2.5em;
}
.CPTMS_Fragment_ITEM .sapMBtnInner{
	height: 2.5em;
	min-width: 100%;
}
.CPTMS_Fragment_ITEM .sapMBtnContent{
	line-height: 2.5em;
}
.CPTMS_Fragment_ITEM .sapMBtnPaddingLeft{
	padding-left: 0em;
}
.CPTMS_Fragment_ITEM .sapMBtnPaddingRight{
	padding-right: 0em;
}
.CPTMS_Fragment_ITEM .sapMBtnIcon{
	font-size: 1.3em;
	width: 100%;
	max-width: 100%;
	line-height: 1.4em;
}

.CPTMS_Fragment_ITEM .Fragment_Button_Accept .sapMBtnInner{
	background-image: url("../img/common/edit.svg");
	background-repeat : no-repeat;
	background-position : 50%;
	background-size: 1.5em;
}

.CPTMS_Fragment_ITEM .Fragment_Button_Reject .sapMBtnInner{
	background-image: url("../img/common/close.svg");
	background-repeat : no-repeat;
	background-position : 50%;
	background-size: 1.5em;
}

.sap-phone .CPTMS_Fragment_ITEM .Fragment_Button_Accept .sapMBtnInner,
.sap-phone .CPTMS_Fragment_ITEM .Fragment_Button_Reject .sapMBtnInner{
	/* border-radius: 1.25em; */
}

ul .ROW_Selected{
	background-color: LightBlue !important;
}
ul .ROW_HEADER{
	background-color: #970051 !important;
	/*border-radius: 1em 1em 0em 0em !important;*/
	cursor: initial !important;
	height: 2.5em;
    font-size: 0.8em;
}
ul .ROW_HEADER span{
	color: white !important;
	font-size: 1.2em !important;
    font-weight: bold !important;
   	cursor: initial !important;
}











/* =========== FRAGMENTS ========== */

.FRAG_TITLE{
	height: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #faaf34;
    position: relative;
}

.sap-desktop .FRAG_TITLE{
	background-color: #faaf34;
	border-radius: 0px 0px 0px 14px;
    -moz-border-radius: 0px 0px 0px 14px;
    -webkit-border-radius: 0px 0px 0px 14px;
    padding-bottom: 1em;
}

.sap-desktop  .FRAG_TITLE{
	height: 1.5em ;
}

.FRAG_TITLE_TEXT_DIV,
.FRAG_TITLE_TEXT_DIV > div {
	width: 100%;
}

.FRAG_TITLE_IMG_DIV_IMG {
    height: 1.5em;
    width: auto;
}
.FRAG_TITLE_TEXT_DIV_TEXT{
	color: #af005e;
	font-size: 1.2em !important;
	padding-bottom: 0.5em;
	padding-top: 0.5em !important;
	font-weight: bold;
	text-align: center !important;
	width: 100%;
}
.sap-desktop .FRAG_TITLE_TEXT_DIV_TEXT{
	font-size: 1em !important;
	padding-left: 5em;
	padding-bottom: 0em;
	font-weight: bold;
    color: #af005e;
	text-align: left !important;
}







.Home_Messages_Item{
	padding: 10px 40px 10px 10px !important;
	border-bottom: 1px solid #999 !important;
	font-size: 13px !important;
	
	background-image: url('../../img/common/arrow_right_DarkGray.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 5%; 
}

.Home_Messages_Item_Title{
	font-weight: bold;
}

.Home_Messages_Item_Title_Date{
	color: #8C1C4C;
	font-weight: normal;
	padding: 0px 10px 0px 0px !important;
}
.Home_Messages_Item_Text{
	padding-top: 4px;
}

.HomeDiv_AD{
	margin-top: 30px;
}




.App_UserName_Text_DIV{
	background-color: #ffa309 !important;
	text-align: center;
	height: 1.4em !important;
	padding: 9px 0 5px 20px !important;
}
.App_UserName_Text{
	color: White;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.1em !important;
}


.AccountSubTopic_MainINFO_DIV{
	background-color: #fff8df !important;
	text-align: center;
	height: 40px;
}
.AccountSubTopic_MainINFO{
	color: #222222;
	font-weight: bold;
}






/* ============================================= */
/* ============  ACCOUNT FRAGMENTS  ============ */
/* ============================================= */
.AccountListItem_ROW{
	padding: 10px 30px 10px 10px !important;
	background-image: url('../../img/common/arrow_right_gray.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 3%; 
    /* width: 100%; */
    border: 0px dotted blue;
    border-bottom: 1px solid #FFA40B;
}
.AccountListItem_ROW:nth-child(even) {
	background: #f0f0f0;
	padding: 10px 30px 10px 10px !important;
	background-image: url('../../img/common/arrow_right_gray.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 3%; 
}
.AccountListItem_ACCOUNT_NAME{
	/* width: 50%; */
	font-weight: bold;
	color: Black;
}
.AccountListItem_ACCOUNT_NUMBER{
	/* width: 50%; */
	color: Gray;
	padding-top: 4px;
	font-size: 12px;
}
.AccountListItem_ACCOUNT_BALANCE{
	color: Blue !important;
	font-size: 12px !important;
	padding-right: 20px;
}
.AccountListItem_Img_DIV{
	text-align: left !important;
	padding-left: 2px !important;
	padding-right: 20px !important;
	/* border: 1px solid red; */
}
.AccountListItem_ROW div{
	/* border: 1px solid green; */
}


.sapMListUl span {
    font-size: 0.8em;
}
.sap-desktop .sapMListUl span {
    font-size: 1em;
}


/* ============	ACCOUNTS TRANSACTION TABLE ================ */
.Accounts_Savings_TR_ROW{
	width: 96%;
	margin: 0px auto;
	background-color: white;
	color: Black;
}
.Accounts_Savings_TR_ROW:nth-child(even) {
	background-color: #f0f0f0;
}




















/* =============================================== */
/* ==============   ACCOUNT LISTINGS   =========== */
/* =============================================== */
.Account_List_WARNING_ROW{
	color: brown;
	background-color: #ffe2d5;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 0px;
}
.Account_List_WARNING_ROW td{
	margin: 0.2rem;
} 

.Account_List_ROW{
	border: 0px solid gray;
	border-radius: 6px;
	margin: 0.5rem auto; 
	width: 90%;
	position: relative;
}
.sap-desktop .Account_List_ROW{
	border: 0px solid gray;
	border-radius: 6px;
	margin: 1rem auto; 
	width: 60% ;
	position: relative;
}

.Account_List_LOANS_ROW{
	background: none;
	cursor: arrow;
}

.Account_List_SAVINGS_ROW .Account_List_Regular_Row{
	padding: 0.2em;
	background-color: #ffffff;
	border-left: 1px solid LightGray;
	border-right: 1px solid LightGray;
}
.Account_List_SAVINGS_ROW .Account_List_Regular_Row:first-of-type{
	background-color: #cacaca !important;
	border-radius: 5px 5px 0px 0px ;
}
.Account_List_SAVINGS_ROW .Account_List_Regular_Row:nth-child(odd){
	background-color: #f0f0f0;
}
.Account_List_SAVINGS_ROW .Account_List_Regular_Row:last-of-type{
	border-radius:  0px 0px 5px 5px ;
	border-bottom: 1px solid LightGray;
}
.sap-phone .Account_List_SAVINGS_ROW{
	margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.Account_List_ROW .Account_List_Regular_Row{
	background-color: #ffffff;
	border-left: 1px solid LightGray;
	border-right: 1px solid LightGray;
	padding: 0.2em 0em 0.2em 0em;
}
.Account_List_ROW .Account_List_Regular_Row:nth-child(odd){
	background-color: #f0f0f0;
}
.Account_List_ROW .Account_List_Regular_Row:last-of-type{
	border-radius:  0px 0px 5px 5px ;
	border-bottom: 1px solid LightGray;
}
.sap-phone .Account_List_INSURANCES_ROW .Account_List_Regular_Row:last-of-type{
	border-bottom: 0px !important;
}

.Account_List_SAVINGS_TITLE_ROW{
	/*background-color: #d3d3d3;*/ 
	background-color: #AF005F ;
}

.Account_List_SAVINGS_TITLE_TD{
	padding: 10px 5px 5px 10px;
}
.Account_List_NUMBER_TD{
	background-color: white;
	border-radius: 20px 5px 20px 10px ;
	letter-spacing: 2px;
}


.Account_List_Regular_Row .sapMHBox div,
.Account_List_Regular_Row .sapMHBox div{
	width: 100%;
} 


.Account_List_LOANS_TITLE_ROW{
	/*background-color: #d3d3d3;*/ 
	background-color: #AF005F ;
}
.Account_List_LOANS_TITLE_TD{
	padding: 5px 5px 5px 10px;
}




.Account_DEPOSIT_TITLE{
	font-weight: bold;
	color: White !important;;
	font-size: 0.9em !important;
}
.Account_DEPOSIT_NUMBER{
	color: Navy;
}
.Account_DEPOSIT_NUMBER_TD{
	background-color: #f2f2f2;
	padding: 5px 5px 5px 10px;
}

.Account_DEPOSIT_TYPE_TD{
	background-color: white;
	border-radius: 5px 20px 5px;
}
.Account_DEPOSIT_TYPE{
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0.25em 0em 0em 0em;
	color: #333;
}
.Account_DEPOSIT_BALANCE{
	font-weight: bold;
	padding-right: 1em;
	text-align: right;
	font-size: 0.9em !important;
	color: black;
}




.Account_LOANS_TITLE{
	font-weight: bold;
	color: white;
    font-size: 1.0em !important;
}
.Account_LOANS_TYPE{
	font-style: regular;
	font-weight: bold;
	font-size: 0.8em;
	padding: 5px;
	color: Blue;
}

.Account_LOANS_PAY_BUTTON{
	background-color: #E10076; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    height: 2.5em !important;
}
.Account_LOANS_PAY_BUTTON .sapMBtn {
    height: 2.5em;
}
.Account_LOANS_PAY_BUTTON .sapMBtn span{
	font-size: 1.1em;
}

.Account_LOANS_PAY_BUTTON div{
	background-color: none !important;
	width: 100%;
}
.Account_List_SAVINGS_ROW .Account_LOANS_PAY_BUTTON{
	background-color: #E10076; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0em;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    height: 2rem !important;
}


.Account_List_INSURANCES_ROW{
	background: none;
	cursor: arrow;
	width: 100% !important;
	margin-top: 0em;
}
.sap-desktop .Account_List_INSURANCES_ROW{
	background: none;
	cursor: arrow;
	width: 80% !important;
}
.sap-desktop .Account_List_INSURANCES_ROW .DIV_BAR_GOLDEN{
	border-left: 1px solid LightGray;
	border-right: 1px solid LightGray;
	width: 100%;
}



/* =============================================== */
/* ==============   TDD LISTINGS   =========== */
/* =============================================== */
.TDD_CARDS_FRAGMENT_ITEM{
	width: 100% !important;
	border-radius: 0.2em !important;
	margin: 0.1em auto !important;
}
.sap-desktop .TDD_CARDS_FRAGMENT_ITEM {
	width: 70% !important;
}

.TDD_CARDS_FRAGMENT_ITEM:active{
	background-color: #ffffe6;
} 
.TDD_CARDS_FRAGMENT_ITEM:nth-child(odd){
	background-color: #fafafa;
}
.sap-desktop .TDD_CARDS_FRAGMENT_ITEM:nth-child(odd){
	background-color: #fafafa;
}

.TDD_CARDS_FRAGMENT_ITEM .PAGE_Buttons_DIV{
	margin: 0em auto !important;
}


.TDD_CARDS_ROW {
	border: 0px dotted Blue;
	border-radius: 6px;
	font-size: 1em;
	margin: 0.25em auto;
	width: 95%;
}
.TDD_CARDS_ROW_A{
	/*margin-top: -1em;*/
}
.TDD_CARDS_ROW_B{
	/* margin-top: -3em; */	
}

.TDD_CARDS_Name_TD{
	padding: 5px 5px 5px 10px;
}
.TDD_CARDS_Name_TD > div{
	width: 100%;
}
.TDD_CARDS_Name{
	color: Black;
    font-size: 1.3em !important;
    padding-top: 0em !important;
    padding-bottom: 0em !important;
}

.TDD_CARDS_CardNumber_TD{
	
}
.TDD_CARDS_CardNumber_TD > div{
	width: 100% !important;
}

.TDD_CARDS_CardNumber label{
	color: Black;
	font-weight: bold;
}
.TDD_CARDS_CardNumber{
	color: Black;
    font-size: 0.9em !important;
    font-weight: bold;
    border: 1px solid gray;
    padding-bottom: 0.2em;
 /*   padding-top: 0.2em !important; */
}


.TDD_CARDS_ICON_CARD_IMG{
    height: 6em;
    width: auto !important;
	text-align: Center !important;
}
.sap-desktop .TDD_CARDS_ICON_CARD_IMG{
	margin: 0em auto !important;
    height: 6em;
	text-align: Center !important;
}

.TDD_CARDS_Flag_TD{
	margin: 0.2rem auto !important;
	background-color: #fafafa;
	border-radius: 5px 20px 5px;
	text-align: Center !important;
	align: center !important;
	border-right: 1px solid LightGray;
	v-align: center;
	vertical-align: center;
}
.TDD_CARDS_Flag_IMG{
	margin: 0.1rem auto !important;
	max-width: 90%;
	text-align: Center !important;
	align: center !important;
}
.TDD_CARDS_ACTION_TD{
	widht: 100%;
	align: center;
	text-align: center;
	margin: 0px auto !important;
}
.TDD_CARDS_ACTION_TD_TEXT{
	widht: 100%;
	font-size: 0.9em;
	color: navy;
	align: center;
	margin: 0px auto;
	text-align: center;
}
.TDD_CARDS_ACTION_TD_TEXT span{
	widht: 100%;
	margin: 0px auto;
	font-size: 0.6rem !important;
	text-align: center;
}



.sap-desktop .TDD_CARDS_ACTION_TD img{
	height: 3em;
}








/* === TDD CARD DETAIL FRAGMENT */
.TDD_FRAG_CARD_DETAIL_DIV{
	margin: 0rem auto;
	background-color: #d2d2d2;
	border-radius: 1rem;
	height: 3rem;
	width: 80%;
}

.TDD_FRAG_CARD_DETAIL_DIV label{
	font-size: 2rem;
	margin: 0rem auto;
}

.TDD_FRAG_CARD_Detail_Name_TD{
	width: 75%;
	max-width: 75%;
}
.TDD_FRAG_CARD_Detail_Name_TD div:first-child span 	{
	text-align: center !important;
}
.TDD_FRAG_CARD_Detail_Name_TD div span 	{
	text-align: left !important;
}

.TDD_FRAG_CARD_Detail_Name_TD_text{
	color: Black;
	font-size: 1.1rem;
}



.TDD_FRAG_CARD_Detail_Flag_TD{
	width: 25%;
	max-width: 25%;
	height: auto;
	max-height: 100%;
	border-radius: 5px 20px 5px;
	background-color: white;
	overflow-y: hidden;
}
.TDD_FRAG_CARD_Detail_Flag_TD div{
	align: center !important;
}
.TDD_FRAG_CARD_Detail_Flag_TD img{
	height: auto;
	width: 3.2em;
	align: center;
}


/* ============================================== */
/* =========  FRAGMENT Staff Order Summary  ===== */
/* ============================================== */
.orderStatusSummary div{
	width: 92%;
    text-align: right;
    padding-right: 10px;
}

/* ============================================== */
/* ==============  FRAGMENT BUTTON	  =========== */
/* 	Used
	- Beneficiaries List (buttons Edit and Delete)
/* ============================================== */
.Fragment_Button{
	width: 50%;
}
.sap-desktop .Fragment_Button{
	width: 60%;
}
.Fragment_Button_Accept > div {
	background-color: #faaf34 !important; 
	border: 0px;
}
.Fragment_Button_Reject > div {
	background-color: #970050 !important;
	margin-left: 0px; 
	border: 0px;
}
.Fragment_Button img{
	height: auto;
	margin-top: 6px;
}
.sap-phone .Fragment_Button img{
	width: 22px;
	margin-left: 5px !important; 
	margin-top: 6px;
}

.sap-desktop .Fragment_Button img{
	width: 20px;
	height: auto;
	margin-top: 7px;
}
.Fragment_Button .sapMBtnContent {
	color: White !important;
}
