
/* ============ HOME  ============ */
.AXX_Desktop #homePage_Compartamos{
	/* background-color: #ffffff; #CR */
	background-color: #E10076 !important;
}
.AXX_Mobile .homePage{
	padding-top: 4.5em;
	position: relative;
	background-color: #ffffff; 
	/* background-color: #680335 !important; */
}

.AXX_Desktop .homePage{
	padding-top: 4rem;
	background-position: 90% 90%;
	background-repeat: no-repeat;
	background-size: 35%;
	background-opacity: 0.5;
	background-color: #ffffff;
	/* background-color: #680335 !important; */ 
	height: 95%;
}


@media (orientation: landscape){
	.homePage{
		padding-top: 0em;
	}
}


.Home_MyProfileDisplay_DIV div{
	width: 50%;
	text-align: center !important;
	margin: 0rem auto !important;
	color: Black; 
}


.Home_MainDIV{
	display: table !important;
	padding: 0px 0px 0px 0px;
	width: 90%;
	margin: 0em auto !important;
	margin-top: 1em !important;
	text-align: center;
	height: 100%;
	border: 0px dashed blue;
	border-collapse: separate;
    border-spacing: 8px;
}

.Home_MainDIV_ROW{
	height: 7em;
	padding: 10px 5px 10px 5px;
	margin-top: 1em;
	display: table-row !important;
	width: 96%;
}
.Home_MainDIV_ROW div{
	/* border: 1px dashed pink; */
}

.Home_MainDIV_ROW_TD{
	margin: 10px;
	border-radius: 1em !important;
	padding: 10px 0px 10px 0px;
	cursor: pointer; 
	display: table-cell !important;
	vertical-align: top;
	width: 33%;
	height: 100%;
	box-shadow: 0px 5px 10px #333333
}

.Home_MainDIV_ROW_TD:active{
	background-color: #f9832a;
}
.Home_MainDIV_ROW_TD div{
	/* border: 1px dashed green; */
	cursor: pointer;
}
.Home_MainDIV_ROW_TD div:active{
	/* background-color: #f9832a; */
}

.Home_MainDIV_Text{
	font-weight: bold;
	font-size: inherit;
	color: white;
	cursor: pointer;
	font-size: 0.9em !important;
	width: 100%;
	text-align: center !important;
}

.Home_MainDIV_Image_DIV{
	text-align: center;
	margin: 0px auto;
	/* background-color: #dddddd !important; */
}

.Home_MainDIV_Image_DIV_IMG{
    margin: 5px !important;
    height: 4em !important;
    width: auto;
    max-height: 6em !important;
}
.Home_MainDIV_Image img{
	/* border: 1px dotted red; */
}

.sap-phone #Home_Icon_ADMINISTRATION .Home_MainDIV_Image_DIV_IMG{
	height: 3em !important;
}



.Home_UserProfile{
	background-color: #7a033f;
	border-radius: 1em 0em;
	padding: 0.5em;
}
.Home_UserProfile > div{
	width: 90% !important;	
}

/*  TESTS */
.noti_bubble {
    position:absolute;
    top: -5px;
    right: 10px;
    padding:1px 2px 1px 2px;
    /* background-color:red; */
    color:white;
    font-weight:bold;
    font-size:0.8em;

    border-radius: 0px;
    /* box-shadow:1px 1px 1px gray; */
}
.AXX_Desktop .noti_bubble{
	font-size: 1rem;
}



@media (orientation: portrait){
	
	@media (min-height: 1000px)
	{
		.noti_bubble {
		    top: 0px;
		    right: -2px;
		    padding:1px 2px 1px 2px;
		    font-size: 1em;
		}
		
		.Home_MainDIV_Text{
			font-size: medium;
		}
	}
	
	@media (max-height : 500px){
		.Home_MainDIV_ROW_TD{
			padding: 5px;
		}
	}
}



