/* ----------- Non-Retina Screens ----------- */
@media (max-width: 320px) {
  /*and (-webkit-min-device-pixel-ratio: 1) */
  	.AxxiomeRegularButton{
		/*margin: 0px !important;
		padding: 0px !important;*/
		margin-top: 0em; 
		/* height: 36px !important; */
	}
}

