@font-face {
  font-family: 'RobotoCondensed';
  /* src: url('../resources/font/Amor/AmorSansTextPro.otf'); */
  src: url('../resources/font/Roboto_Condensed/RobotoCondensed.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../resources/font/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
	font-family: 'Password';
	src: url('../resources/font/password.ttf');
}
/*
@font-face {
    font-family: 'fontello';
    src: url('../resources/font/fontello.eot?53181785');
    src: url('../resources/font/fontello.eot?53181785#iefix') format('embedded-opentype'),
           url('../resources/font/fontello.woff?53181785') format('woff'),
           url('../resources/font/fontello.ttf?53181785') format('truetype'),
           url('../resources/font/fontello.svg?53181785#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontello2';
    src: url('../resources/font/fontello.eot?53181785');
    src: url('../resources/font/fontello.eot?53181785#iefix') format('embedded-opentype'),
           url('../resources/font/fontello.woff?53181785') format('woff'),
           url('../resources/font/fontello.ttf?53181785') format('truetype'),
           url('../resources/font/fontello.svg?53181785#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'SAP-icons'; /*Please replace 'SAP-icons' with your font name which will be used when register in sap.ui.core.IconPool*/
    src: url('_PATH_TO_EOT_FILE_');
    src: url('_PATH_TO_EOT_FILE_?#iefix') format('embedded-opentype'), /*?#iefix is required to be added to the end of the path of eot file here*/
         url('_PATH_TO_TTF_FILE_') format('truetype');
    font-weight: normal;
    font-style: normal;
};