/* =========== BRANDING LOGO AREA ============== */
.SignIN_PAGE{
	background-color: black  !important;
	color: #ffffff;
	height: 100% !important;
	margin: 0px auto !important;
	/*max-width: 1800px !important;*/
	/* border-top: 2px solid white; */
}
.sap-desktop .Compartamos_SignIN_PAGE {
    /* color: white; */
}


#signinPage-cont, .SignIN_PAGE, section[id*='Page'][id*='-cont']{
	margin: 0em;
	padding: 0em;
	/* height: 95%; */
	/*padding-top: 0.5em;*/
	/*top: 1.5em;*/
	top: 0em;
	bottom: 0em;
} 
.sap-desktop section[id*='Page'][id*='-cont']{
	margin: 0rem;
	padding: 0em;
	height: 95%;
	/*padding-top: 5rem;*/
	position: relative; 
} 
.sap-tablet section[id*='Page'][id*='-cont']{
	margin: 0rem;
	padding: 0em;
	height: 95%;
	padding-top: 0rem;
	position: relative; 
} 

.sap-desktop .SignIN_PAGE{
	margin: 0rem;
	margin-top: 0em;
	/*padding-top: 8em;*/
	top: 0em;
	height: 100%;
}

.sapMPageScroll{
    border: 0em !important;
    margin: 0em;
   	/* height: 100% !important; SCROLL KILLER */
   	overflow: auto !important;
}
.sap-desktop .sapMPageScroll{
   	/*overflow: hidden !important;*/
	height: 100% !important; /* SCROLL KILLER */

	max-width: 1000px;
    margin: 0px auto !important;
}

.Compartamos_SignIN_PAGE div{
	border: 0px dotted yellow;
}

.loginPageMargin{
	height: 100%;
	/*height: 90% !important;*/
	margin-top: 0em;
	position: relative;
	width: 100%;
    top: 5rem;
}
.sap-desktop .loginPageMargin,
.sap-tablet .loginPageMargin{
	margin-top: 0em;
	padding-top: 3rem;
}

.loginPageMargin .sapMScrollCont, 
.loginPageMargin .sapMScrollContScroll{
	margin-bottom: 0em ;
}

.Compartamos_Login_Content_DIV{
	width: 100%;
	height: auto;
	display: inline-block !important;
	
}
.sap-phone .Compartamos_Login_Content_DIV:after {
    height: 2em;
    display: block;
    width: 100%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    background-color: #E10076;
    content: '';
    margin-top: -1em !important;
    z-index: 4;
}

.sap-desktop .Compartamos_Login_Content_DIV{
	height: 50%;
	padding-top: 0em;
	width: 100%;
}


.Login_ComparMovil_Div{
	height: 40%;
	width: 100%;
	margin: 0px auto;
	background-color: #E10076;
	padding-top: 3.5em;
}

.sap-desktop .Login_ComparMovil_Div{
	background-color: white;
	padding-top: 0em;
}

.Login_ComparMovil_Div div{
	margin: 0px auto;
	display: table-cell;
	justify-content: center;
    align-items: center;
	text-align: center;
}
.Login_ComparMovil_Div div > div{
	margin: 0px auto;
	width: 100%;
	display:table-cell;
	text-align: center;
}

.Login_ComparMovil_Div img{
    height: 5em;
    z-index: 10;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
.sap-desktop .Login_ComparMovil_Div img{
	padding-top: 1em;
	height: 6em;
	cursor: initial;
}

.Compartamos_SignIN_TitleBoxLOGO{
	display: inline-block;
	/*background-image: url("../../img/login/comparCel.svg");*/
	background-image: url("../img/login/comparMovil.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	height: 6em;
}




/** NEW SIGN IN DESKTOP */

.sap-desktop .Signin_Main_Container{
	margin: 0em auto;
	margin-top: 7em;
	/* max-width: 1280px; */
	min-width: 1024px;
}
.sap-desktop .Signin_Main_Container .Signin_First_Row{
	background-color: #faaf34;
	min-height: 210px;
}

.sap-desktop .Compartamos_SignIN_PAGE .sapMPageScroll{
	overflow-y: auto !important;
}

.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left{
	margin: 0em auto;
	/*height: 15em;*/
	/*background-color: #CA005D; /* Palliative, while the url is not fixed */
	/* background-image: url("https://www.compartamos.com.mx/CompartamosBanco/themes/media/net/img/CDI-2016.jpg"); */
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	/*height : 16em;*/
	width: 65%;
	
}
.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left > div {
	height: 100%;
}
.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left > div iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left > div iframe body{
	margin: 0em;
}

.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left .Carrucel{
	width: 100%;
    /* height: 15em; */
    margin: 0em auto;
}
.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left img{
	width: 100%;
    height: auto;
}

.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Right{
	width: 35%;
	margin: 0em auto;
	background-color: #faaf34;
	vertical-align: middle;
	align-items: center;
}
.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Right .Text_C {
	padding: 0em;
}





.sap-desktop .Signin_Main_Container .Signin_Second_Row{
	/*height: 15em;*/
	height: 100%;
	margin-top: 1em;
	min-height: 280px;
}

.sap-desktop .Signin_Main_Container .Signin_Second_Row > div {
	margin: 0em auto;
	margin-top: 0em;
	padding: 0em;
	height: inherit;
	width: 33%;
	/*border: 1em solid white;*/
	/*background-color: #f0f0f0;
	border: 1px dashed Gray;
	*/
}
.sap-desktop .Signin_Main_Container .Signin_Second_Row > div > div {
	height: 100%;
}

.sap-desktop .Signin_Main_Container .Signin_Second_Row iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sap-desktop .Signin_Main_Container .Signin_Second_Row .Div_Center{
	margin-left: 3em;
	margin-right: 3em;
	width: 33%;
}
.sap-desktop .Signin_Main_Container .Signin_Second_Row .Div_Right{
   
}

.sap-desktop .Signin_Main_Container .Signin_Second_Row > div img {
	width: 100%;
	margin: 0em auto;
	max-height: 280px;
}


.sap-desktop .Signin_Main_Container .Signin_Second_Row iframe{
	position: absolute;
	height: 100%;
	min-height: 280px;
}




@media ( max-width: 1099px ){
	.sap-desktop .Signin_Main_Container{
		width: 1024px;
		max-width: 1024px !important;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row{
		height: 222px;
		/*width: : 270px;*/
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left{
		width: 65%;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Right {
		width: 35%;
	}
	.sap-desktop .Compartamos_Login_DIV_CREDENTIALS {
		width: 90% !important;
	}
	.sap-desktop .Signin_Main_Container .Signin_Second_Row > div img {
	    max-height: 200px;
	}
}

@media ( min-width: 1100px ) and ( max-width: 1279px ){ 
	.sap-desktop .Signin_Main_Container{
		width: 1100px;
		max-width: 1100px !important;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row{
		/*width: : 270px;*/
		height: 256px;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left{
		width: 70%;
		max-width: 770px;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Right {
		width: 30%;
	}	

	.sap-desktop .Signin_Main_Container .Signin_First_Row .div_Enroll_Login {
		margin-top: 1rem;
	}

	.sap-desktop .Signin_Main_Container .Signin_Second_Row {
		height: 320px;
	}


}


@media ( min-width: 1280px ){
	.sap-desktop .Signin_Main_Container{
		width: 1280px;
		max-width: 1280px;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row {
		height: 298px;
	}

	.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Left{
		width: 70%;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row .Div_Right {
		width: 30%;
	}
	.sap-desktop .Signin_Main_Container .Signin_First_Row .div_Enroll_Login {
		margin-top: 1rem;
	}

	.sap-desktop .Compartamos_Login_DIV_CREDENTIALS > div{
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.sap-desktop .Compartamos_loginInput_DIV .Text_B {
    	margin: 0em;
    	padding-top: 1em;
	}

	.sap-desktop .Signin_Main_Container .Signin_Second_Row {
		height: 370px;
	}

	@media ( min-height: 950px ){
		.sap-desktop .Signin_Main_Container .Signin_Second_Row{
			padding-top: 2em;
		}
	}
}






 #topFB{
	margin: 0em auto;
    text-align: center;
    height: inherit;
}
.sap-phone #topFB{
	background-size: 1rem;
}
 #topFB:hover{
	cursor: pointer;
}


#topFB a:hover {
	width: 100%;
}

#topTwitter{
	margin: 0em auto;
    text-align: center;
    height: inherit;
}
.sap-phone #topTwitter{
	background-size: 1rem;
}
 #topTwitter:hover{
	cursor: pointer;
}

#topFB a,
#topTwitter a,
#topYT a {
	width: 100%;
}

#topFB img,
#topTwitter img,
#topYT img{
	height: 2rem;
    width: auto;
    padding-top: 1.5rem;
    line-height: inherit;
}


#topTwitter a:hover {
	width: 100%;
}

#topYT{
	margin: 0em auto;
    text-align: center;
    height: inherit;
}
.sap-phone #topYT{
	background-size: 1.5rem;
}
 #topYT:hover{
	cursor: pointer;
}

#topYT img{
	height: 2.5rem;
}

 #topYT a:hover {
	width: 100%;
}












/* =========== INPUT AREA ============== */
.Compartamos_Login_DIV_CREDENTIALS{
	width: 90%;
	padding-top: 1em;
	z-index:1000;
}
.sap-desktop .Compartamos_Login_DIV_CREDENTIALS{
	/* padding: 1em; */
	width: 90%;
	height: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	justify-content: center;
}

.sap-desktop .Compartamos_Login_DIV_CREDENTIALS > div{
	width: 100% !important;
}

.sap-desktop .Compartamos_Login_DIV_CREDENTIALS .AxxiomeRegularButton{
	width: 60% !important;
}

.sap-phone .Compartamos_Login_DIV_CREDENTIALS_IMG_DIV {
    border-radius: 0.5em 0 0 0.5em;
    height: 4em;
}

.sap-desktop .Compartamos_Login_DIV_CREDENTIALS_IMG_DIV{
	background-color: #efdd61;
	border-radius: 0.5em 0 0 0.5em;
	height: 3em;
	width: 4em !important;
}

.sap-phone .Compartamos_Login_DIV_CREDENTIALS img {
    margin: 0em;
    height: 3em;
    width: auto;
    padding: 1em 0em 0em 0em;
}

.sap-desktop .Compartamos_Login_DIV_CREDENTIALS img{
	margin: 0em;
  	height: 2.5em;
    width: 2.5em;
    padding: 0.25em 0em 0em 0em;
}
.sap-desktop .Compartamos_Login_DIV_CREDENTIALS .Compartamos_loginInput_DIV {
	margin: 0.2em !important;
	border-radius: 0.5em;
	/*height: 3em;*/
}
.sap-desktop .Compartamos_Login_DIV_CREDENTIALS .Compartamos_loginInput_DIV > div {
	width: 100%;
}

.Compartamos_Login_Controls_DIV{
	color: White !important;
	height: auto;
	margin: 0px auto;
	width: 100%;
	max-width: 800px;
}
.Compartamos_Login_Controls_DIV_DESKTOP{
	background: rgba(255, 255, 255, 0.8);
}



.sap-desktop .Compartamos_Login_Controls_DIV{
	height: auto;
    padding-top: 0em;
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 1em;
}


.Login_Controls div{
	width: 94%;
}

.Compartamos_loginPageLabels_DIV{
	text-align: center;
	margin: 0rem auto;
	width: 80% !important;
}

.loginPageLabelsForgot, .loginPageLabelsVersion, .loginPageLabelsDevicesHTML {
	font-size: 1.0em  !important;
	color: Yellow !important;
	margin: 0px auto !important;
	padding: 4px 0px 4px 10px !important;
	width: 96% !important;
	/* border: 1px dotted magenta; */
}
.loginPageLabelsForgot{
	font-weight: bold;
}
.loginPageLabelsVersion{
	text-align: center;
	color: white;
	padding-top: 1.5em;
}
.loginPageLabelsDevicesHTML{
	padding: 0.5em;
	display: block;
}
.loginPageLabelsDevices{
	padding: 0.6em 0px 0.6em 0px;
	background-color: black;
	font-size: 1.0em;
	color: Yellow !important;
}
.info_device{
	color: Yellow;
}

.Compartamos_loginInput_DIV{
	border: 0px dashed green !important;
	text-align: center;
	margin: 0px auto !important;
	width: 80%;
	position: relative;
	clear: both;
}

.sap-desktop .Compartamos_loginInput_DIV .Text_B{
	margin: 0em;
	padding-top: 0em;
}
.sap-phone .loginFormInput{
	/* padding-left: 10px;*/ 
	width: 90% !important;
	padding-right: 10px;
}
.sap-desktop .loginFormInput{
	/*padding-left: 1em;
	padding-right: 1em;*/
	width: 100% !important;
}
.loginFormInput input{
	background-color: #ffffff;
	/*font-size: 1em !important;*/
	height: 2.8em !important;
	text-align: center;
	-webkit-box-shadow: none !important;
    /*padding: 5px 0 5px 5px !important;*/
    padding: 0em !important;
}
.sap-desktop .loginFormInput input{
	font-size: 1.2em !important;
}

.sapMBtnHoverable{
	background: none !important;
}

.loginFormInput input:focus{
	/*background-color: #feffe8 !important;*/
}

.Compartamos_Login_Buttons_DIV{
	padding-top: 0rem;
	border: 0px solid yellow !important;
	text-align: center;
	margin: 0px auto !important;
	width: 90%;
}

.sap-desktop .Compartamos_Login_Buttons_DIV{
	width: 70%;
}

.Compartamos_Login_Buttons_DIV div{
	border: 0px dashed white !important;
	width: 100%;
}

.login_Buttons_padding > div:first-child{
	padding-right: 0.5em;
}

.login_Buttons_padding > div:nth-child(2){
	padding-left: 0.5em;
}
.Compartamos_Login_DESKTOP_DIV{
	display: none;
	padding-top: 4em;
	color: Navy !important;
	margin: 0px auto;
	font-weight: bold;
}

.sap-phone .loginScrollContainer > div {
	padding-bottom: 100px;
}
.sap-desktop .loginScrollContainer > div {
	padding-bottom: 10px !important;
}


