.Home_MyProfileDisplay_DIV {
	padding-top: 1.1em;
	height: 1.5em;
	border-bottom: 2px solid #C3C3C3;
	background-color:  #dddddd;
	color: #3C3C3C !important;
	font-size: 0.7em;
	text-align: center !important;
	font-weight: bold;

	width: 100% !important;
	-webkit-columns: 50% 2;
	-moz-columns: 50% 2;
	columns: 50% 2;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
}
.homePage > div > div{
	/* width: 100% !important; */
}

.ListHeader_Height{
	height: 5em;
}


/**************************************************************************
		GENERIC HEADER CONTROLS
********************************************************/
.CPTMS_HEADER_CONTROL {
	display: table;
  	width: 100%;
	height: 2.5em !important;
	color: white;
	/*
	border-radius: 1em 1em 0em 0em;
    -moz-border-radius: 1em 1em 0em 0em;
    -webkit-border-radius: 1em 1em 0em 0em;
    */
	margin: 1px auto 0px;
	background-color: #970051;
}
.AXX_Desktop .CPTMS_HEADER_CONTROL{
	width: 90%;
}

.CPTMS_HEADER_CONTROL_ROW {
   	cursor: initial !important;
   	display: table-row; 
   	width: 100%;
}

.CPTMS_HEADER_CONTROL_ROW span{
	color: white !important;
	font-size: 1em !important;
    font-weight: bold !important;
   	cursor: initial !important;
}

.CPTMS_HEADER_CONTROL_CELL{
	display: table-cell; 
	font-size: 0.9em !important;
    font-weight: bold !important;
   	cursor: initial !important;
   	vertical-align: middle;
}
.sap-android .CPTMS_HEADER_CONTROL_CELL{
	padding-bottom: 0em;
    padding-top: 0.5em !important;
}





/************



/**************************************************************************
		TOKEN CONTROL
********************************************************/
.Token_Control{
	margin: 0em auto;
	margin-top: 0em;
	width: 55%;
	border-bottom: 0px dashed white !important;
	 border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
	/* background-color: #970051; */
	margin-top: 1em;
	padding-bottom: 0.5em;
}

.AXX_Desktop .Token_Control{
	margin-top: 1em;
	padding-bottom: 0.2em;
	width: 35%;
	border-bottom: 0px dashed Orange !important;
	color: black;
}

.Token_Control_TEXT_DIV{
	width: 100%;
	display: table;
}
.Token_Control_TEXT_DIV div{
	width: 100%;
	display: table-row;
}


.Token_Control_IMG_SPAN{
	display: table-cell;
	width: 40%;
	height: 100%;
	text-align: right;
	margin: 0px auto;
	vertical-align: middle;
}
.AXX_Desktop .Token_Control_IMG_SPAN{
	width: 45%;
}
span.Token_Control_IMG_SPAN img{
	padding-right: 0.5em;
}

.Token_Control_TEXT_SPAN{
	display: table-cell;
	width: 60%;
	padding-top: 6px;
	height: 100%;
	text-align: left;
	padding-top: 0.6em;
	font-size: 0.9em;
}
.AXX_Desktop .Token_Control_TEXT_SPAN{
	padding-top: 0.6em;
	width: 55%;
}

.Token_Control_ITEMS_DIV{
	width: 100%;
	display: table;
	text-align: center;
}




.Token_Control_IMG{
 	width: 1.5em;
    height: 1.5em;
	margin: 0.1em auto;
	align: center;
}

.Token_Control_INPUT_SPAN{
	display: table-cell;
	width: 60%;
	height: 100%;
}

.Token_Control_Input{
	border: 1px solid #c4c4c4 !important; 
    height: 1.5em !important; 
    width: 80%;
    font-size: 0.8em !important; 
    color: DarkGray;
    padding: 4px 4px 4px 4px;
    margin-top: 0.3em;
    border-radius: 0.5em; 
    -moz-border-radius: 0.5em; 
    -webkit-border-radius: 0.5em; 
    box-shadow: 0px 0px 8px #d9d9d9 !important; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9 !important; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9 !important; 
    /*
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFCC), to(#FFF));
    background: -moz-linear-gradient(top, #FFFFCC, #FFF);
    */
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#FFF));
    background: -moz-linear-gradient(top, #f0f0f0, #FFF);
}

.Token_Control_Input_Active{
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFF0), to(#FFF)) ;
    background: -moz-linear-gradient(top, #FFFFCC, #FFF) ;
    color: Black;
}

.Token_Control_Input_Error{
	border: 1px solid #d70000 !important; 
    width: 90%;
    /*font-size: 0.8em !important; */
    padding: 4px 4px 4px 4px ;
    margin-top: 0.3em;
    border-radius: 14px; 
    -moz-border-radius: 14px; 
    -webkit-border-radius: 14px; 
    box-shadow: 0px 0px 8px #d9d9d9 !important; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9 !important; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9 !important; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdddd), to(#FFF));
    background: -moz-linear-gradient(top, #ffdddd, #FFF);
}

.Token_Control_Input:focus 
.Token_Control_Input.focus{
	border: 1px solid #c4c4c4; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
}


/**************************************************************************
		TDDs CONTROL
********************************************************/

.TDD_List_Header_Control{
	display:table;
  	width: 100%;
	background-color: #970051;
	color: white;
	border-radius: 1em 1em 0em 0em;
    -moz-border-radius: 1em 1em 0em 0em;
    -webkit-border-radius: 1em 1em 0em 0em;
	margin: 1px auto 0px;
}
.AXX_Desktop .TDD_List_Header_Control{
	width: 90%;
}
.TDD_List_Header_ROW{
	display: table-row; 
	width: 100%;
	height: 3em;
}
.TDD_List_Header_COLUMN_A{
	display: table-column; 
	width: 12%;
}
.TDD_List_Header_COLUMN_B{
	display: table-column; 
	width: 65%;
}
.TDD_List_Header_COLUMN_C{
	display: table-column;
	width: 23%;
}
.TDD_List_Header_CELL_A{
	width: 12%;
}
.TDD_List_Header_CELL_B{
	width: 65%;
	border-left: 1px solid Gray;
	border-right: 1px solid Gray;
}
.TDD_List_Header_CELL_C{
	width: 23%;
}
.TDD_List_Header_CELL{
	display: table-cell;
	text-align: center;
  	vertical-align:middle;
  	font-size: 1em;
  	font-weight: bold;
}



@media (orientation: portrait){
	
	@media (min-height: 1000px){
		.Home_MyProfileDisplay_DIV {
			margin: 0em auto;
			height: 1.5em;
			font-size: 1em !important;
			padding-top: 1.8em;
			/*background-color:  Green;*/
		}
	}
}










/***** COMBO BOX */

/*
.sapMSltHoverable:not(.sapMSltPressed):hover>.sapMSltArrow,
.sapMSltPressed>.sapMSltArrow {
	color: white;
    background: #007cc0;
    border-radius: 1em;
}

.sapMComboBoxBasePressed .sapMComboBoxBaseInputInner:not(.sapMInputBaseStateInner) {
    border-color: #007cc0;
    border-radius: 1em !important;
}
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow, .sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
    background: #007cc0;
    border-radius: 1em;
}
.sapMComboBox {
    padding: 5px !important;
    border-radius: 1em !important;
}
*/
.sap-desktop .sapMCb{
	height: 2rem;
	/*line-height: 2rem;*/
}

.sap-desktop .ZEBRA_CONTAINER_DIV  .sapMCbBg{
	width: 10%;
	top: 0.25rem;
}

.sapMListTblNavCol, .sapMListTblSelCol{
	vertical-align: middle;
}




/** TABLES **/

.sapMListTblCell {
    /* padding: .8em .3em; */
    vertical-align: middle;
    font-size: 1em;
    height: 1em;
}
@media (max-height: 500px){
	.sapMListTblCell {
	    padding: .6em .3em;
	}
}


/** FRAGMENTS ROW ON CLICK */
.sapMLIBActive div .sapMLIBActiveCounter,
.sapMLIBActive.sapMLIB, 
.sapMLIBActive.sapMLIB>td,
.sapMLIBActive .sapMText,
.sapMLIBActive .sapMListTblCell .sapMText,
.sapMLIBActive .sapMListTblSubCntRow .sapMText,
.sapMLIBActive .sapMListTblCell .sapMLabel,
.sapMLIBActive .sapMListTblSubCntRow .sapMLabel,
.sapMLIBActive .sapMLabel{
	color: Black ;
	/* background: #fcf1dc; */
}
.sapMLIBActive{
	background: #fcf1dc ;
}

/* COMBOBOX */
.AXX_Mobile .sapMComboBoxInputInner:not(.loginFormInput) {
    height: 2.5em !important;
}
@media ( min-height : 600px ){
	.AXX_Mobile .sapMComboBoxInputInner:not(.loginFormInput) {
	    /*height: 1.6em !important;*/
	}
	
}
/* COMBOBOX LISTBOX TEXT CENTER */
.sapMSlt>.sapMSltLabel {
    text-align: -webkit-center;
    text-align: center;
    margin-top: 0rem !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    padding-top: 0rem !important;
}



/* RADIO BOX */
.sapMRbB {
    font-size: 1em;
    height: 1em;
    width: 2em;
}


/* IMAGE */
.sapMImg {
    margin: 0.1em 0.2em 0.1em 0.2em;
}


.AXX_Mobile .inputWithMask input{
	padding-top: 0.5em !important;
}

.PAGE_Content_DIV_ALL > div {
	overflow-y: auto;
    overflow-x: hidden;
}

