.font_normal{
	font-weight: normal !important;
}
.font_bold{
	font-weight: bold !important;
}
.font_italic{
	font-style: italic !important;
}

.font_navy, .color_navy{
	color: navy !important;
}
.font_green, .color_green{
	color: Green !important;
}
.font_white, .color_white{
	color: white !important;
}
.font_black, .color_black{
	color: Black !important;
}

.font_highlight, .color_highlight{
	color: #E10076 !important;
}
.font_orange, .color_orange{
	color: Orange !important;
}
.font_brown, .color_brown{
	color: Brown !important;
}
.font_yellow, .color_yellow{
	color: Yellow !important;
}

.font_amount{
	font-weight: bold;
    text-align: right !important;
    padding-right: 0.5em;
    padding-top: 0.5em;
    width: 90%;
}
.font_label{
	width: 100%;
	text-align: left;
	padding-left: 1em;
	padding-top: 0.5em;
}
.font_value{
	width: 100%;
	text-align: left !important;
	font-weight: bold;
	padding-top: 0.4em;
}
.AXX_Desktop .font_value{
	width: 100%;
	font-weight: bold;
	padding-top: 0.4em;
}

.align_left{
	text-align: left !important;
}
.align_right{
	text-align: right !important;
}
.align_center, .align-center{
	text-align: center !important;
}
.text_justify, .justified{
    text-align: justify !important;
}

.letter-spacing-1{
	letter-spacing: 1px;
}
.letter-spacing-2{
	letter-spacing: 2px;
}

.display-table{
	display: table !important;
}
.display-table-row{
	display: table-row !important;
}
.display-table-cell{
	display: table-cell !important;
}

.wordwrap, .wrap_text { 
   white-space: normal;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.padding1{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.padding-top-0{
	padding-top: 0em !important;
}
.padding-top-1{
	padding-top: 1em !important;
}
.padding-top-2{
	padding-top: 2em !important;
}
.padding-bottom-1{
	padding-bottom: 1em !important;
}
.padding-bottom-2{
	padding-bottom: 2em !important;
}
.padding-left-half{
	padding-left: 0.5em !important;
}
.padding-left-1{
	padding-left: 1em !important;
}
.padding-left-2{
	padding-left: 2em !important;
}
.padding-left-4{
	padding-left: 4em !important;
}
.padding-top-bottom-half{
	padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.padding-right-1{
	padding-right: 1em !important;
}


.margin_0{
	margin: 0em !important;
}
.margin-top-0{
	margin-top: 0em !important;
}
.margin-top-1{
	margin-top: 1em !important;
}
.margin-top-2{
	margin-top: 2em !important;
}
.margin-top-3{
	margin-top: 3em !important;
}
.margin-bottom-1{
	margin-bottom: 1em !important;
}
.margin-bottom-2{
	margin-bottom: 2em !important;
}
.margin-top-bottom-half{
	margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.margin-top-4{
	margin-top: 4em !important;
}
.margin-bottom-4{
	margin-bottom: 4em !important;
}



.margin_auto{
	margin: 0px auto !important;
}
.width-05{
	width: 5% !important;
}
.width-10{
	width: 10% !important;
}
.width-20{
	width: 20% !important;
}
.width-30{
	width: 30% !important;
}
.width-40{
	width: 40% !important;
}
.width-50{
	width: 50% !important;
}
.width-60{
	width: 60% !important;
}
.width-70{
	width: 70% !important;
}
.width-80{
	width: 80% !important;
}
.width-90{
	width: 90% !important;
}
.width-100{
	width: 100% !important;
}
.width-75{
	width: 75% !important;
}
.width-25{
	width: 25% !important;
}


.BACKGROUND_WHITE{
	background-color: White !important;
}
.BACKGROUND_DEFAULT{
	background-color: #970051 !important;
}



.border_blue{
	border: 1px dotted blue;
}
.border_blue div{
	border: 0px solid red;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.Input_ReadOnly .sapMInputBaseReadonlyInner {
    background-color: LightYellow  !important;
    text-align: center;
    font-size: 140%;
    font-size: 130%;
    font-weight: bold;
    color: #777777;
}

.sapMInputBaseReadonlyInner {
    background-color: #eaeaea !important;
    text-align: center;
    font-size: 140%;
    font-size: 130%;
    font-weight: bold;
}
 

/* SAP */
.sapMText span{
	text-align: center;
}

.Password_Field input {
  font-family: 'Password' !important; 
  padding-top: 0.5em;
}


.cursor_pointer{
	cursor: pointer !important;
}
.float_left {
	display: block !important;
	float: left !important;
}
.float_right {
	display: block !important;
	float: right !important;
}

.displayInline{
	display: inline-block !important;
}