/* ========== ACCOUNT SHARE ========== */
.Account_Share_Account_TD {
	width: 100%;
	position:relative;
	background-color: beige;
	
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	margin-bottom: 0.5rem;
	
	border-radius: 5px 20px 5px;
    -moz-border-radius: 5px 20px 5px;
    -webkit-border-radius: 5px 20px 5px;
}
.Account_Share_Account_TD_Span{
	padding: 0.5rem;
}
.Account_Share_Account_TD_Value{
	color: Navy;
	font-weight: bold;
	margin: 0.5rem;
}
#Account_Share_Options {
    display: table;
    cursor: pointer;
    width: 100%;
}
.Account_Share_Options_ROW{
	display:table-row;
	width: 100%;
}

#Account_Share_Options .Account_Share_Options_TD{
	display:table-cell;
	width: 40%;
	padding: 1rem;
}

#Account_Share_Options .Share_Options_Selected{
  	background-color: #fafafa;
  	border: 1px solid Green;
  
  	border-radius: 5px 20px 5px;
    -moz-border-radius: 5px 20px 5px;
    -webkit-border-radius: 5px 20px 5px;
}


#Account_Share_Options label img {
    padding: 3px;
}

#Account_Share_Options .input_hidden {
    position: absolute;
    left: -9999px;
}

#Account_Share_Options .selected {
    /* background-color: #ccc; */
}

#Account_Share_Options div {
  	margin: 10px;
  	text-align: center;
}


#Account_Share_Options span{
	color: LightGray;
}
#Account_Share_Options .Share_Options_Selected span{
	color: Black;
}


#Account_Share_Options .option_text{
  background-color: none;
  border: none;
}
#Account_Share_Options .Share_Options_Selected .option_text{
  background-color: Green;
  border-bottom: 1px dashed white;
}


#Account_Share_Options:after {
    clear: both;
}
