html, body{
	padding: 0em !important;
	margin: 0em !important;
	height: 100% !important;

	font-family: Calibri, Verdana;
	font-size: 1rem;
	color: white;
	background-color: black;
	background: linear-gradient(to right, #333333, Black, Black , Black, #333333); /* Standard syntax */
}


.pizzaHeader{
	background-color: DarkOrange;

	color: brown;
	width: 100%;
	margin: 0em auto;
	margin-top: 0em;
	margin-bottom: 10em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	height: 3rem;
	line-height: 3rem;
	vertical-align: middle;
	text-align: center;
}

.pizzaHeader .headerContent{
	margin: 0em auto;
	width: 100%;
	/*border-top: 1px dashed brown;*/
	/*border-bottom: 1px dashed brown;*/
	/*background-color: white;*/
}
.pizzaHeader .headerContent label{
	font-size: 0.9rem !important;
}

#pizzaBody{
	margin: 0em auto;
	text-align: center;
}


#pizzaFooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  color: black;
  height: 5rem;
  /*line-height: 4em;*/
}


/* ------------------------------------------------- */
.SignIN_PAGE{
	background: url('../img/background/pizza-bg.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
}
.sap-phone .SignIN_PAGE{
	/*background-size: 250%;*/
}

.SignIN_PAGE .Main_Body{
	background: rgba( 0, 0, 0, .55);
	border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0.5rem;
    padding-bottom: 2rem ;
    padding-top: 5rem;
    margin-bottom: 4rem;
}

.SignIN_PAGE .div_Items{
	color: white;
}
.SignIN_PAGE .div_Items:hover{
	cursor: pointer;
}
.SignIN_PAGE .div_Items label{
	width: 80% !important;
	margin: 0px auto;
}
.SignIN_PAGE .div_Items label:hover{
	cursor: pointer;
}

.SignIN_PAGE .div_Items img{
	height: 8rem;
    width: 12rem;
    max-width: 100%;
}

.orderNow{
	background-color: Orange;
	color: Brown;
	font-weight: bold;
	width: 60%;
	height: 2.5em;
    line-height: 2.5em;
    font-size: 2.5em;
	margin-top: 2em !important;

	border: 0.45rem solid Brown;
	border-left: none;
	border-right: none;

}


#pizzaFooter .footerLogo{
	width: 35%;
	border-right: 1px dashed DarkOrange;
    /* max-width: 70px; */
    background-color: white;
    border-top-right-radius: 2.5rem;
}
#pizzaFooter .footerContact{
	width: 64%;
}

#pizzaFooter .footerContact div{
	margin: 0em;
	padding: 0em;
	/*height: 2.5rem;
    line-height: 2.5rem;*/
    height: inherit;
    line-height: inherit;
}

#pizzaFooter .footerContact div{
	margin: 0em;
	padding: 0em;
	height: 2.5rem;
    line-height: 2.5rem;
    /*height: inherit;
    line-height: inherit;*/
}

#pizzaFooter .footerLogo img{
	width: 80%;
	height: auto;
	max-width: 10em;
	/*max-height: 2em;*/
}

#pizzaFooter .footerLogo img{
	vertical-align: middle;
}

#pizzaFooter .div_cart {
	height: 5rem !important;
	text-align: right;
	/*background-color: white;
    border-top-left-radius: 2rem;*/
}
#pizzaFooter .div_cart div {
	height: inherit;
	line-height: inherit;;
}
#pizzaFooter .div_cart .div-table_column{
	width: 33.3%;
}




/*-------------*/
.headerContent .div-table .div-table_column{
	color: DarkOrange;
	width: 20%;
	font-weight: bold;
	font-size: 0.9rem;
	background-color: white;
	border-top: 1px dashed Orange;
	border-bottom: 1px dashed Orange;
	height: 3rem;
}

.headerContent .div-table .logo{
	color: white;
	font-weight: bold;
	font-size: 1rem;
	width: 20%;
    background-color: darkorange;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    border: none;

    text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;

}
.headerContent .div-table .logo > div{
	background-color: darkorange;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.headerContent .div-table .logo img{
	width: 65%;
	max-width: 4rem;
	display: block;
}

.headerContent .user{
	color: white !important;
    font-size: 1rem !important;
    width: 10% !important;
    background-color: white;
}
.headerContent .user > div {
	color: white !important;
    font-size: 1rem !important;
    width: 100% !important;
    
    background-color: white;
    background: url('../img/user.png') !important;
    background-position: 5% 50%;
    background-size: 3rem !important;
    background-repeat: no-repeat !important;
}
.headerContent .signup{
    font-size: 1rem !important;
    width: 45% !important;
}
.headerContent .login{
    font-size: 1rem !important;
    width: 30% !important;
}

.headerContent .signup .sapMBtnContent,
.headerContent .login .sapMBtnContent{
	color: Navy !important;
}

.pizzaHeader .divAux{
    top: 5em;
    position: absolute;
    color: white;
   
    width: 100%;
    display: table;
    height: 3rem;

    display: none;
}
.pizzaHeader .divAux > div{
    display: table-column;
    color: white;
    height: 3rem;
    float: left;
    width: 50%;
     font-size: 1.4em;
}

.pizzaHeader .logout img{
	height: 2.5rem;
    width: auto ;
    padding-top: 0.25rem;
}
.pizzaHeader .logout:hover{
	cursor: pointer;
}


/*-------*/
.divPromoPizza > div {
/*	border-top: 1px dotted Brown;
	border-bottom: 1px dotted Brown;*/
}
.divPromoPizza > div label {
	font-size: 2.1em;
	/*font-family: 'Baloo Tamma', cursive !important;*/
	color: Yellow;
}



.social_login {}

.social_login .social_box {
        display: block;
        clear: both;
        padding: 10px;
        margin-bottom: 10px;
        background: #F4F4F2;
        overflow: hidden;
}

.social_login img {
        display: block;
        width: 30px;
        padding: 5px 10px;
        margin-right: 10px;
        float: left;
        color: #FFF;
        font-size: 16px;
        text-align: center;
}

.social_login .fb .icon {
        background: #3B5998;
}

.social_login .google .icon {
        background: #DD4B39;
}

.social_login .icon_title {
        display: block;
        padding: 5px 0;
        float: left;
        font-weight: bold;
        font-size: 16px;
        color: #777;
        padding-top: 10px;
}

.social_login .social_box:hover {
        background: #E4E4E2;
}