.div-table{
	display:  table;
	width: 100%;
	position: relative;
}

.div-table_row{
	display:  table-row;
	width: 100%;
	clear:both;
}

.div-table_column{
	display:  table-column;
	float:left;
}
.div-table_column > div {
	width: 100%;
	margin: 0px auto;
}

.div-table_column_rowSpan{
	position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
}



footer .div-table_column{
	line-height: 5rem;
	height: 5rem;
}