.sap-desktop .sapMListTblRow:focus,
.sap-desktop .sapMListTblSubRow:focus {
	outline: 1px dotted @sapUiFocus;
	outline-offset: -1px;
}

.sapMListTblSubRow {
	background: @sapUiListTblPopinBG;
}

.sapMLIBSelected.sapMLIB + .sapMListTblSubRow {
	background: @sapUiListTblPopinSelectedBG;
}

.sapMLIBActive.sapMLIB + .sapMListTblSubRow {
	background: @sapUiListTblPopinActiveBG;
}

/* table popin */
.sapMListTblSubCnt {
	padding: .5rem 1rem;
	box-sizing: border-box;
}

.sapMListTblSubCntRow{
	padding-bottom: 0;
}

.sapMListTblSubCntSpr {
	font-size: @sapUiListTblTextSize;
}

.sapMListTblSubCntRow + .sapMListTblSubCntRow {
	margin-top: .5rem;
}

.sapMListTblSubCntHdr,
.sapMListTblSubCntSpr,
.sapMListTblSubCntVal {
	vertical-align: top;
}

.sapMListTblSubCntValBlock {
	margin-top: .25rem;
	display : block;
}

.sapMListTblSubCntValInline{
	display: inline-block;
}

.sapMListTblSubCntRow > .sapMListTblSubCntSpr,
.sapMListTblSubCntRow > .sapMListTblSubCntHdr .sapMText,
.sapMListTblSubCntRow > .sapMListTblSubCntHdr .sapMLabel {
	color: @sapUiListTblPopinHeaderTextColor;
	padding-top: 0;
}

.sapMListTblSubCntRow > .sapMListTblSubCntVal .sapMText,
.sapMListTblSubCntRow > .sapMListTblSubCntVal .sapMLabel {
	color: @sapUiListTblPopinValueTextColor;
	padding-top: 0;
}

.sapMListTblSubCntSpr {
	padding-right: .5rem;
}

 /* separators */
 .sapMLIBShowSeparator > td {
	border-top: 1px solid @sapUiLIBorder;
}

.sapMListShowSeparatorsNone .sapMLIBShowSeparator > td,
.sapMListShowSeparatorsInner .sapMLIBShowSeparator:first-child > td {
	border-color: transparent;
}

.sapMListShowSeparatorsAll .sapMListTblSubRow:last-child > td,
.sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child > td {
	border-bottom: 1px solid @sapUiLIBorder;
}

.sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child > td,
.sapMListShowSeparatorsAll .sapMListTblSubRow:last-child > td{
	border-bottom: 1px solid @sapUiMediumBorder;
}

.sapMListShowSeparatorsAll .sapMLIBShowSeparator:first-child > td,
.sapMListShowSeparatorsInner .sapMLIBShowSeparator:first-child > td {
	border-top-color: transparent;
}

.sapMListShowSeparatorsInner .sapMLIBShowSeparator:last-child > td,
.sapMListShowSeparatorsInner .sapMListTblSubRow:last-child > td {
	border-bottom-color: transparent;
}

.sapMListShowSeparatorsNone .sapMListTblFooter > td{
	border-top-width: 2px;
}

/********** COMPACT DESIGN ************/

/* decrease vertical popin paddings */
.sapUiSizeCompact .sapMListTblSubCnt {
	padding-top: .25rem;
	padding-bottom: .25rem;
}

/* popin padding */
.sapUiSizeCompact .sapMListModeMultiSelect .sapMListTblSubCnt, 
.sapUiSizeCompact .sapMListModeSingleSelectLeft .sapMListTblSubCnt {
	padding-left: 2.5rem;
}

/* add extra margin for top aligned rows */
.sapUiSizeCompact .sapMListTblRowTop > .sapMListTblCell > *{
	margin-top: .5rem;
	margin-bottom: .5rem;
}