/* ============================================================ */
/* CSS for control sap.m/ComboBoxBase.control BlueCrystal theme */
/* ============================================================ */

.sapMComboBoxBaseArrow::before,
.sapMComboBoxBaseBar::before {
	font-family: "SAP-icons";
	speak: none;
	content: "\e1ef";
}

.sapMComboBoxBaseArrow,
.sapMComboBoxBaseBar::before {
	position: absolute;
	text-align: center;
	color: @sapUiSelectArrowColor;
}

/* ------------------------------ */
/* ComboBox                       */
/* ------------------------------ */

input.sapMComboBoxBaseInputInner {
	padding-right: 3rem;
}

/* note: do not optimize this selector, the sap.m.MulticomboBox DOM structure differ from sap.m.ComboBox */
.sapMComboBoxBasePressed .sapMComboBoxBaseInputInner:not(.sapMInputBaseStateInner) {
	border-color: @sapUiInputBaseFocus;
}

/* ------------------------------ */
/* ComboBox's Arrow               */
/* ------------------------------ */

.sapMComboBoxBaseArrow {
	width: 2.5rem;
	height: 2.375rem;
	line-height: 2.375rem;
	top: 0.3125rem;
	right: 0.0625rem;
}

/* hover */

.sap-desktop .sapMComboBoxBaseArrow:not(.sapMComboBoxBasePressed):hover {
	background: @sapUiSelectArrowBGHover;
}

/* pressed */
/* note: do not optimize this selector, the sap.m.MulticomboBox DOM structure differ from sap.m.ComboBox */
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow,
.sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
	background: @sapUiSelectArrowBGActive;
}

 /* note: do not optimize this selector, the sap.m.MulticomboBox DOM structure differ from sap.m.ComboBox */
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow::before {
	color: @sapUiSelectArrowColorActive;
}

/* ------------------------------ */
/* ComboBox's List                */
/* ------------------------------ */

.sapMComboBoxBaseList {
	border: 0.0625rem solid @sapUiSelectBorderColor;
}

.sapMComboBoxBaseItemDisabled {
	opacity: 0.5;
	pointer-events: none;
}

.sapMComboBoxBasePicker .sapMSLITitleOnly {
	font-size: 0.875rem;
}

/* ------------------------------ */
/* ComboBox's Item                */
/* ------------------------------ */

li.sapMComboBoxBaseItem {
	height: 2.5rem;
	border: none;
}

li.sapMComboBoxBaseItemVisible {
	display: block;
}

li.sapMComboBoxBaseItemNotVisible {
	display: none;
}

/* focus */

.sap-desktop li.sapMComboBoxBaseItem:focus {
	outline: none;
}

/* ------------------------------ */
/* ComboBox's Picker              */
/* ------------------------------ */

div.sapMComboBoxBasePicker {
	-webkit-box-shadow: 0 0.0625rem 0.1875rem fade(@sapUiDarkShadowTint, 50);
	box-shadow: 0 0.0625rem 0.1875rem fade(@sapUiDarkShadowTint, 50);
	border: none;
	min-width: 0;	/* override the default min-width of the popover */
}

/* remove the Popover's arrow */

.sapMComboBoxBasePicker .sapMPopoverArr {
	display: none;
}

/* ------------------------------ */
/* ComboBox's Dialog              */
/* ------------------------------ */

.sapMComboBoxBaseBar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

div.sapMComboBoxBasePicker .sapMDialogScrollCont {
	padding: 0;
}

/* pressed */

.sapMComboBoxBaseBar::before {
	top: 0;
	right: 0;
	line-height: 3rem;
	width: 3.5rem;
	color: @sapUiSelectArrowColorActive;
	background: @sapUiSelectArrowBGActive;
}

/* Bar inside the ComboBox's Dialog */

.sapMComboBoxBasePicker .sapMComboBoxBaseBar {
	background: @sapUiSelectBG;
	border: 0.0625rem solid @sapUiSelectBGActive;
}

/* Input inside the ComboBox's Dialog */

.sapMComboBoxBasePicker input {
	padding-right: 3.5rem;
	vertical-align: top; /* override the default vertical align of the input control */
}

/* ===================================================================== */
/* CSS for control sap.m/ComboBox.control BlueCrystal theme compact size */
/* ===================================================================== */

.sapUiSizeCompact input.sapMComboBoxBaseInputInner {
	padding-right: 2.5rem;
}

/* ------------------------------ */
/* ComboBox Arrow                 */
/* ------------------------------ */

.sapUiSizeCompact .sapMComboBoxBaseArrow {
	width: 2rem;
	height: 1.5rem;
	line-height: 1.5rem;
	top: 0.25rem;
}

.sapUiSizeCondensed .sapMComboBoxBaseArrow {
	top: 0;
	right: 0;
}

/* ------------------------------ */
/* ComboBox Item                  */
/* ------------------------------ */

.sapUiSizeCompact li.sapMComboBoxBaseItem {
	height: 2rem;
}

