/* ============================================= */
/* CSS for control sap.m/DateTimeInput.control	 */
/* ============================================= */

/* Custom DateTimePicker Style*/

.sapMDTICustom .dw {
	padding: 0;
}

.sapMDTICustom .dwo {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
}

.sapMDTICustom .dwwr {
	padding: 0;
	min-width: 18rem;
	position: relative;
	background: @sapUiDTICustomArrowBG;
	font-size:0;
}

.sapMDTICustom .dwv {
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	color: @sapUiDTICustomHeaderTextColor;
	font-family: @sapUiDTICustomFontFamily;
	text-shadow: 0 0.063rem 0 @sapUiDTICustomHeaderTextShadow;
	-webkit-box-shadow: inset 0 -0.063rem 0 0 @sapUiDTICustomHeaderBoxShadow;
	-moz-box-shadow: inset 0 -0.063rem 0 0 @sapUiDTICustomHeaderBoxShadow;
	-ms-box-shadow: inset 0 -0.07rem 0 0 @sapUiDTICustomHeaderBoxShadow;
	box-shadow: inset 0 -0.063rem 0 0 @sapUiDTICustomHeaderBoxShadow;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(lighten(@sapUiDTICustomHeaderBG,2%),100%)), color-stop(33%,fade(@sapUiDTICustomHeaderBG,100%)), color-stop(75%,fade(@sapUiDTICustomHeaderBG,100%)), color-stop(100%,fade(darken(@sapUiDTICustomHeaderBG,2%),100%)));
	background: -webkit-linear-gradient(top, fade(lighten(@sapUiDTICustomHeaderBG,2%),100%) 0%, fade(@sapUiDTICustomHeaderBG,100%) 33%, fade(@sapUiDTICustomHeaderBG,100%) 75%, fade(darken(@sapUiDTICustomHeaderBG,2%),100%) 100%);
	background: -moz-linear-gradient(top, fade(lighten(@sapUiDTICustomHeaderBG,2%),100%) 0%, fade(@sapUiDTICustomHeaderBG,100%) 33%, fade(@sapUiDTICustomHeaderBG,100%) 75%, fade(darken(@sapUiDTICustomHeaderBG,2%),100%) 100%);
	background: -ms-linear-gradient(top, fade(lighten(@sapUiDTICustomHeaderBG,2%),100%) 0%, fade(@sapUiDTICustomHeaderBG,100%) 33%, fade(@sapUiDTICustomHeaderBG,100%) 75%, fade(darken(@sapUiDTICustomHeaderBG,2%),100%) 100%);
	background: linear-gradient(top, fade(lighten(@sapUiDTICustomHeaderBG,2%),100%) 0%, fade(@sapUiDTICustomHeaderBG,100%) 33%, fade(@sapUiDTICustomHeaderBG,100%) 75%, fade(darken(@sapUiDTICustomHeaderBG,2%),100%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=fade(lighten(@sapUiDTICustomHeaderBG,2%),100%), endColorstr=fade(darken(@sapUiDTICustomHeaderBG,2%),100%),GradientType=0);
	padding: 0 1rem;
	border-bottom-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapMDTICustom .dwbg{
	-webkit-box-shadow:  fade(@sapUiDTICustomDialogBorder,60%) 0.063rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) -0.063rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 0.063rem 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 -0.063rem 0 0;
	-moz-box-shadow:  fade(@sapUiDTICustomDialogBorder,60%) 0.063rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) -0.063rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 0.063rem 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 -0.063rem 0 0;
	-ms-box-shadow:  fade(@sapUiDTICustomDialogBorder,60%) 0.07rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) -0.07rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 0.07rem 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 -0.07rem 0 0;
	box-shadow:  fade(@sapUiDTICustomDialogBorder,60%) 0.063rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) -0.063rem 0 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 0.063rem 0 0,  fade(@sapUiDTICustomDialogBorder,60%) 0 -0.063rem 0 0;
	border-radius: .125rem;
}

.sapMDTICustom .dwbg .dwc .dwwl,
.sapMDTICustom .dwbg .dwpm .dwwl{
	border: 0;
	border-radius: 0;
	background: none;
}

.sapMDTICustom .dwwo{
	background: none;
}

.sapMDTICustom .dwbg .dwwb,
.sapMDTICustom .dwbg .dwwbp,
.sapMDTICustom .dwbg .dwwbm {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.sapMDTICustom .dwbg .dwwbp{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@sapUiDTICustomArrowBG,0%)), color-stop(66%,@sapUiDTICustomArrowBG));
	background: -webkit-linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 66%);
	background: -moz-linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 66%);
	background: -ms-linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 66%);
	background: linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 66%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{sapUiDTICustomArrowBG}', EndColorStr='@{sapUiDTICustomArrowBG}')";  /* IE8+9 */
	top:auto;
	bottom:0;
}
.sapMDTICustom .dwbg .dwwbm{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,@sapUiDTICustomArrowBG), color-stop(100%,fade(@sapUiDTICustomArrowBG,0%)));
	background: -moz-linear-gradient(top, @sapUiDTICustomArrowBG 33%,fade(@sapUiDTICustomArrowBG,0%) 100%);
	background: -ms-linear-gradient(top, @sapUiDTICustomArrowBG 33%,fade(@sapUiDTICustomArrowBG,0%) 100%);
	background: linear-gradient(top, @sapUiDTICustomArrowBG 33%,fade(@sapUiDTICustomArrowBG,0%) 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{sapUiDTICustomArrowBG}', EndColorStr='@{sapUiDTICustomArrowBG}')";  /* IE8+9 */
	top:0;
	bottom:auto;
}

.sapMDTICustom .dwwb{
	right: 0;
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
}

.sap-desktop .sapMDTICustom .dwwb:hover,
.sapMDTICustom .dwbg .dwwl .dwb-a{
	background: @sapUiDTICustomArrowBG;
}

.sapMDTICustom .dwa .dwwb{
	opacity:1;
}

.sapMDTICustom .dwwbp > span:before {
	content:"\e1e2";
}

.sapMDTICustom .dwwbm > span:before{
	content:"\e1e1";
}

.sapMDTICustom .dwwb > span:before{
	font-size: 1.375rem;
	color: @sapUiDTICustomArrowColor;
	font-family: 'SAP-icons';
	font-weight: normal;
	text-shadow: none;
	opacity: 0;
	-webkit-transition-property: opacity, background;
	transition-property: opacity, background;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

html[data-sap-ui-browser^="ie9"] .sapMDTICustom .dwwb > span:before{
	color: @sapUiDTICustomArrowColor;
	opacity: .40;
}

.sap-desktop .sapMDTICustom .dwwb:hover > span:before,
.sapMDTICustom .dwb-a > span:before{
	color: @sapUiDTICustomArrowHoverColor;
	opacity: .75;
	-webkit-transition-property: opacity, background;
	transition-property: opacity, background;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.sapMDTICustom .dwwb > span{
	font-size: 0;
	color: transparent;
}

.sapMDTICustom .dwhl{
	padding: 0;
}

.sapMDTICustom .dwwc{
	padding: 0 .750rem;
	background: @sapUiDTICustomDialogWheelsBG;
}

.sapMDTICustom .dwwc > table{
	margin: 0 auto;
}


.sapMDTICustom .dwwc td > .dwwl{
	margin: 0 .375rem 0 0;
}

.sapMDTICustom .dwwc td .dww{
	background: @sapUiDTICustomDialogWheelBG;
	padding: 0;
	margin: 0;
}

.sapMDTICustom .dwwc td .dww:before {
	content: "";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@sapUiDTICustomArrowBG), color-stop(20%,fade(@sapUiDTICustomArrowBG,0%)));
	background: -webkit-linear-gradient(top, @sapUiDTICustomArrowBG 20%,fade(@sapUiDTICustomArrowBG,0%) 100%);
	background: -moz-linear-gradient(top, @sapUiDTICustomArrowBG 20%,fade(@sapUiDTICustomArrowBG,0%) 100%);
	background: -ms-linear-gradient(top, @sapUiDTICustomArrowBG 20%,fade(@sapUiDTICustomArrowBG,0%) 100%);
	background: linear-gradient(top, @sapUiDTICustomArrowBG 20%,fade(@sapUiDTICustomArrowBG,0%) 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{sapUiDTICustomArrowBG}', EndColorStr='@{sapUiDTICustomArrowBG}')";  /* IE8+9 */
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 80%;
	z-index:3;
}

.sapMDTICustom .dwwc td .dww:after{
	content: "";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@sapUiDTICustomArrowBG,0%)), color-stop(80%,@sapUiDTICustomArrowBG));
	background: -webkit-linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 80%);
	background: -moz-linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 80%);
	background: -ms-linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 80%);
	background: linear-gradient(top, fade(@sapUiDTICustomArrowBG,0%) 0%,@sapUiDTICustomArrowBG 80%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{sapUiDTICustomArrowBG}', EndColorStr='@{sapUiDTICustomArrowBG}')";  /* IE8+9 */
	position: absolute;
	left: 0;
	right: 0;
	top: 80%;
	bottom: 0;
	z-index:3;
}

.sapMDTICustom .dwwc td:last-child > .dwwl{
	margin: 0;
}

.sapMDTICustom .dwwc td .dwwb ~ .dww:before{
	display: none;
}

.sapMDTICustom .dwwc td .dwwb ~ .dww:after{
	display: none;
}

.sapMDTICustom .dwwc td:last-child > .dwwl {
	margin: 0;
}

.sapMDTICustom .dw-i{
	padding: 0 .5rem 0 .375rem;
	margin: 0 0 0 .125rem;
}

.sapMDTICustom .dw-i,
.sapMDTICustom .dw-i > span {
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapMDTICustom .dw-sel .dw-i{
	color: @sapUiStandardText;
	border-radius: 0.125rem;
	box-shadow: 0 0.063rem 0.188rem fade(@sapUiShadowTint,15%),inset 0.063rem 0 0 0 @sapUiLightBorder,inset -0.063rem 0 0 0 @sapUiLightBorder,inset 0 0.063rem 0 0 @sapUiLightBorder,inset 0 -0.063rem 0 0 @sapUiLightBorder;
	background: @sapUiDTICustomArrowBG;
}

.sapMDTICustom .dw-li{
	font-size: 1rem;
	color: @sapUiDTICustomItemText;
	font-family: @sapUiDTICustomFontFamily;
	text-shadow: none;
	padding: 0;
	margin: 0;
}

.sapMDTICustom .dwwol{
	display: none;
}

.sapMDTICustom .dwc{
	margin: 0;
	overflow: hidden;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@sapUiDTICustomButtonHoverBG,0%)), color-stop(25%,fade(@sapUiDTICustomButtonHoverBG,0%)), color-stop(50%,fade(@sapUiDTICustomButtonHoverBG,7.5%)), color-stop(75%,fade(@sapUiDTICustomButtonHoverBG,0%)), color-stop(100%,fade(@sapUiDTICustomButtonHoverBG,0%)));
	background: -webkit-linear-gradient(top, fade(@sapUiDTICustomButtonHoverBG,0%) 0%, fade(@sapUiDTICustomButtonHoverBG,0%) 25%, fade(@sapUiDTICustomButtonHoverBG,7.5%) 50%, fade(@sapUiDTICustomButtonHoverBG,0%) 75%, fade(@sapUiDTICustomButtonHoverBG,0%) 100%);
	background: -moz-linear-gradient(top, fade(@sapUiDTICustomButtonHoverBG,0%) 0%, fade(@sapUiDTICustomButtonHoverBG,0%) 25%, fade(@sapUiDTICustomButtonHoverBG,7.5%) 50%, fade(@sapUiDTICustomButtonHoverBG,0%) 75%, fade(@sapUiDTICustomButtonHoverBG,0%) 100%);
	background: -ms-linear-gradient(top, fade(@sapUiDTICustomButtonHoverBG,0%) 0%, fade(@sapUiDTICustomButtonHoverBG,0%) 25%, fade(@sapUiDTICustomButtonHoverBG,7.5%) 50%, fade(@sapUiDTICustomButtonHoverBG,0%) 75%, fade(@sapUiDTICustomButtonHoverBG,0%) 100%);
	background: linear-gradient(top, fade(@sapUiDTICustomButtonHoverBG,0%) 0%, fade(@sapUiDTICustomButtonHoverBG,0%) 25%, fade(@sapUiDTICustomButtonHoverBG,7.5%) 50%, fade(@sapUiDTICustomButtonHoverBG,0%) 75%, fade(@sapUiDTICustomButtonHoverBG,0%) 100%);
}

.sapMDTICustom .dwbc{
	margin: 0;
	padding: 0;
	height: 3rem;
	background-color: @sapUiDTICustomButtonBG;
	background-image: none;
}
.sap-desktop .sapMDTICustom .dwbc{
	background-color: @sapUiDTICustomButtonOnDesktopBG;
}

.sapMDTICustom .dwbw{
	border: 0;
	height: 3rem;
	margin: 0;
	padding: 0;
}

.sapMDTICustom .dwbg .dwb{
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	color: @sapUiDTICustomButtonText;
	font-family: @sapUiDTICustomFontFamily;
	font-size: .875rem;
	line-height: 3rem;
	border: none;
	border-radius: 0;
	height: 3rem;
	margin: 0 0 0 .063rem;
	padding: 0 1.063rem 0 1rem;
	font-weight: normal;
	text-shadow: 0 .063rem 0 @sapUiBtnTextShadowFooter;
	cursor: hand;
	cursor: pointer;
}

.sap-desktop .sapMDTICustom .dwbg .dwbw:hover .dwb,
.sapMDTICustom .dwbg .dwbw .dwb-a{
	text-shadow: none;
	background: @sapUiDTICustomButtonHoverBG;
}

.sapMDTICustom .dwbg .dwbw{
	border-radius: 0;
	border-right: 0.063rem contrast(@sapUiDTICustomButtonBG, darken(@sapUiDTICustomButtonBG, 10), lighten(@sapUiDTICustomButtonBG, 20)) solid;
	
}

.sapMDTICustom .dwbg .dwbw:first-child .dwb{
	margin: 0;
	padding: 0 1rem;
}

.sapMDTICustom.dw-bubble .dw-arr{
	-webkit-box-shadow: inset @sapUiDTICustomDialogBorder 0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder 0 0.063rem 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0;
	-moz-box-shadow: inset @sapUiDTICustomDialogBorder 0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder 0 0.063rem 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0;
	-ms-box-shadow: inset @sapUiDTICustomDialogBorder 0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder 0 0.063rem 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0;
	box-shadow: inset @sapUiDTICustomDialogBorder 0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder 0 0.063rem 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0, inset @sapUiDTICustomDialogBorder -0.063rem 0 0 0;
	border: none;
	height: 1.5rem;
	width: 1.5rem;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0;
	margin-left: -0.73rem;
}

.sapMDTICustom .dw-bubble-bottom .dw-arrw {
	top: -2.250rem;
}

.sapMDTICustom.sapMDTICustomHdr .dw-bubble-bottom .dw-arr{
	background-color: lighten(@sapUiDTICustomHeaderBG,2%);
	top: 1.5rem;
}

.sapMDTICustom .dw-bubble-bottom .dw-arr{
	background-color: @sapUiDTICustomArrowBG;
	top: 1.5rem;
}

.sapMDTICustom .dw-bubble-top .dw-arr{
	background-color: @sapUiDTICustomFooterBG;
	top: -0.75rem;
}
.sap-desktop .sapMDTICustom .dw-bubble-top .dw-arr{
	background-color: @sapUiDTICustomFooterOnDesktopBG;
}

.sapMDTICustom.dw-bubble .dw-persp{
	width: 0;
}

.sapMDTICustom.dw-bubble .dwo{
	display: none;
}

.sap-desktop .sapMDTICustom .dwww:focus {
	outline: 1px dotted @sapUiFocus; 
}

.sap-desktop .sapMDTICustom .dwbw a:focus {
	outline: 1px dotted @sapUiInvertedFocus; 
} 

.sapMDTICustom.dw-bubble .dw{
	margin: 1.125rem 0 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0 0 1.875rem 0.125rem;
	-moz-box-shadow: rgba(0, 0, 0, 0.14902) 0 0 1.875rem 0.125rem;
	-ms-box-shadow: rgba(0, 0, 0, 0.14902) 0 0 1.875rem 0.125rem;
	box-shadow: rgba(0, 0, 0, 0.14902) 0 0 1.875rem 0.125rem;
	border: 0.063rem solid fade(@sapUiDTICustomDialogBorder, 60);
}

html[data-sap-ui-browser^="ie"] .sapMCustomSlt.dw-bubble .dw {
	border: 0.07rem solid fade(@sapUiDTICustomDialogBorder, 60);
}
