/* ============================================ */
/* CSS for control sap.m/IconTabBar.control			*/
/* ============================================ */

/* Head Container */

.sapMITBHead {
	display: block;
	margin: 1rem 2rem 0 2rem;
	padding: 1px 1px 0 1px;
	white-space: nowrap;
	font-size: @sapMFontSmallSize;
	position: relative;
	overflow: hidden;
}

.sapMITBHead.sapMITBTextOnly {
	margin-left: 1rem;
}

.sap-phone .sapMITBHead {
	display: inline-block;
	margin: 1rem 0 0;
	vertical-align: top;
}

.sap-phone .sapMITBHead.sapMITBTextOnly .sapMITBFilter {
	margin-left: -0.75rem;
}

.sap-tablet .sapMITBHead,
html[data-sap-ui-os=win8] .sapMITBHead {
	display: inline-block;
	margin: 1rem 1rem 0 0;
	vertical-align: top;
}

.sap-tablet .sapMITBHead.sapMITBTextOnly {
	margin-left: -1rem;
}

.sapMITBScrollContainer {
	display: block;
	margin-right: 1rem;
	margin-left: 1rem;
}
.sapMITBScrollContainer::-webkit-scrollbar {
	display: none;
}


.sap-tablet .sapMITBScrollContainer,
html[data-sap-ui-os=win8] .sapMITBScrollContainer {
	margin-right: 2rem;
	margin-left: 2rem;
}

/* scrollbar from iscroll should not be visible */
.sapMITBScrollContainer > div:nth-child(2) {
	visibility: hidden;
}

/* Arrow */

.sapMITBContentArrow {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 1rem;
	border-bottom: 0.25rem solid transparent;
}

.sapMITBSelected > .sapMITBContentArrow {
	border-bottom-color: @sapUiBrand;
}

.sapMITBSelected.sapMITBFilterNeutral > .sapMITBContentArrow {
	border-bottom-color: @sapUiNeutralElement;
}

.sapMITBSelected.sapMITBFilterPositive > .sapMITBContentArrow {
	border-bottom-color: @sapUiPositiveElement;
}

.sapMITBSelected.sapMITBFilterNegative > .sapMITBContentArrow {
	border-bottom-color: @sapUiNegativeElement;
}

.sapMITBSelected.sapMITBFilterCritical > .sapMITBContentArrow {
	border-bottom-color: @sapUiCriticalElement;
}

.sapMITBNoText > .sapMITBFilter > .sapMITBContentArrow {
	margin: 0 1rem;
	width: 3rem;
}

.sapMITBNoText > .sapMITBFilter:first-child > .sapMITBContentArrow {
	margin: 0 1rem 0 0;
}

.sapMITBVertical.sapMITBFilter > .sapMITBText + .sapMITBContentArrow {
	height: 0.6875rem;
}

.sapMITBTextOnly > .sapMITBFilter > .sapMITBText + .sapMITBContentArrow {
	height: 1rem;
}

.sap-phone .sapMITBTextOnly > .sapMITBFilter > .sapMITBText + .sapMITBContentArrow {
	height: 0.625rem;
}

.sapMITBAll > .sapMITBTab {
	height: 3rem;
	margin-bottom: 1rem;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBContentArrow {
	width: 3rem;
}

html[dir='rtl'] .sapMITBContentArrow {
	z-index:1;
}

/* Content Container */

.sapMITBContent {
	background-color: @sapUiLightestBG;
	padding: 0 1rem 1rem;
	position: relative;
}

.sap-phone .sapMITBContent {
	padding: 0;
}
.sapMITBContainerContent {
	position: relative;
	padding: 0;
	margin-top: 0;
	border-top: 0.0625rem solid @sapUiLightBorder;
	-webkit-box-shadow: 0 -1px 0 fade(@sapUiDarkShadowTint, 5%);
	box-shadow: 0 -1px 0 fade(@sapUiDarkShadowTint, 5%);
	border-bottom: 0.0625rem solid @sapUiLightBorder;
}

.sap-phone .sapMITBContainerContent,
.sap-tablet .sapMITBContainerContent,
html[data-sap-ui-os=win8] .sapMITBContainerContent {
	margin-top: 0;
}

.sapMITBContainerContent.sapMITBContentClosed {
	background-color: transparent;
	border-bottom: none;
}

/* Tab Item */

.sapMITBTab {
	width: 5rem;
}

.sapMITBVertical > .sapMITBTab {
	height: 3rem;
}

.sapMITBTextOnly .sapMITBTab {
	width: auto;
	height: 1rem;
	margin-bottom: 0.375rem;
	text-align: left;
	padding: 0;
}

html[dir=rtl] .sapMITBTextOnly .sapMITBTab {
	text-align: right;
}

.sap-phone .sapMITBTextOnly .sapMITBTab {
	padding-right: 0.25rem;
}

.sapMITBItem {
	display: inline-block;
	color: @sapUiDarkText;
	vertical-align: top;
	text-align: center;
}

.sapMITBDisabled {
	opacity: 0.5;
}

/* Tab Filter Item */

.sapMITBFilter {
	padding: 0 0.25rem;
}

.sapMITBTextOnly .sapMITBFilter {
	padding: 0;
	margin: 0 1rem;
}

.sap-phone .sapMITBTextOnly .sapMITBFilter {
	padding: 0 0.75rem;
}

.sap-phone .sapMITBFilter {
	padding: 0 0.125rem;
}

.sapMITBNoText .sapMITBFilter > .sapMITBTab {
	width: 3rem;
	height: 3rem;
	padding: 0 1rem;
}

.sap-phone .sapMITBFilter:last-child,
.sap-tablet .sapMITBFilter:last-child,
html[data-sap-ui-os=win8] .sapMITBFilter:last-child,
.sap-phone .sapMITBNoText .sapMITBFilter:last-child,
.sap-tablet .sapMITBNoText .sapMITBFilter:last-child,
html[data-sap-ui-os=win8] .sapMITBNoText .sapMITBFilter:last-child {
	padding-right: 1rem;
}

.sapMITBNoText .sapMITBFilter:first-child .sapMITBTab {
	padding-left: 0;
}

.sapMITBFilter:first-child {
	padding-left: 0;
}

.sapMITBHorizontal.sapMITBFilter:first-child > .sapMITBTab {
	padding-left: 0;
}

.sapMITBHorizontal.sapMITBFilter:first-child > .sapMITBText  {
	padding-left: 3.25rem;
}

.sapMITBNoText .sapMITBFilter,
.sap-phone .sapMITBNoText .sapMITBFilter {
	padding: 0;
}

.sapMITBFilter .sapMITBText {
	position: relative;
	color: @sapUiLightText;
	text-shadow: 0 0.0625rem 0 fade(@sapUiLightShadowTint, 50%);
	padding: 0.375rem 0 0;
	width: 5rem;
	line-height: 0.9375rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapMITBHorizontal.sapMITBFilter .sapMITBText {
	padding: 0.625rem 0 0;
}

.sapMITBVertical {
	height: 5rem;
}

.sapMITBTextOnly > .sapMITBVertical {
	height: 3.375rem;
}

.sap-phone .sapMITBTextOnly > .sapMITBVertical {
	height: 2.9375rem;
}

.sapMITBNoText > .sapMITBVertical {
	height: 4rem;
}

.sapMITBHorizontalWrapper {
	display: inline-block;
	width: auto;
	max-width: 7.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 3rem;
	left: -1rem;
	vertical-align: top;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBHorizontalWrapper > .sapMITBText {
	width: auto;
	text-align: left;
	max-width: 7.5rem;
	display: block;
	padding-left: 0.25rem;
	top: 0.3125rem;
}

.sapMITBHorizontal.sapMITBFilter {
	height: 4rem;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBHorizontalWrapper > .sapMITBCount {
	max-width: 7.5rem;
	display:  block;
	position: relative;
	text-align: left;
	padding-left: 0.25rem;
	top: 0.4375rem;
}

.sapMITBHorizontal.sapMITBFilter > .sapMITBTab {
	width: 3rem;
	height: 3rem;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.sapMITBTextOnly .sapMITBText {
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
	margin: -0.25rem -0.5rem -0.5rem -0.5rem;
	font-size: @sapMFontMediumSize;
	text-align: left;
	line-height: 1rem;
	width: auto;
}

.sap-phone .sapMITBTextOnly .sapMITBText {
	font-size: @sapMFontSmallSize;
}

.sapMITBTextOnly .sapMITBFilterDefault > .sapMITBText {
	color: @sapUiDarkText;
	text-shadow: 0 0.0625rem 0 fade(@sapUiLightShadowTint, 50%);
}

.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected > .sapMITBText {
	color: @sapUiITBTextOnlyBrandText;
}

.sapMITBTextOnly .sapMITBFilterNeutral > .sapMITBText {
	color: @sapUiNeutralElement;
}

.sapMITBTextOnly .sapMITBFilterPositive > .sapMITBText {
	color: @sapUiPositiveElement;
}

.sapMITBTextOnly .sapMITBFilterNegative > .sapMITBText {
	color: @sapUiNegativeElement;
}

.sapMITBTextOnly .sapMITBFilterCritical > .sapMITBText {
	color: @sapUiCriticalElement;
}

.sapMITBFilter .sapMITBCount {
	position: absolute;
	color: @sapUiStandardText;
	text-shadow: 0 0.0625rem 0 fade(@sapUiLightShadowTint, 50%);
	max-width: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapMITBTextOnly .sapMITBFilter .sapMITBCount {
	position: relative;
	color: @sapUiDarkText;
	font-size: @sapMFontMediumSize;
	max-width: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sap-phone .sapMITBTextOnly .sapMITBFilter .sapMITBCount {
	font-size: @sapMFontMediumSize;
}

.sapMITBFilterIcon {
	display: inline-block;
	line-height: 2.75rem;
	overflow: hidden;
	font-size: 1.5rem;
	background: @sapUiLightestBG;
	-moz-border-radius: 3rem;
	/* some native browsers like Samsung Galaxy S4 with Android 4.2 does not support the "border-
	radius" shorthand property but does support the long-hand properties for each corner like
	"border-top-left-radius" */
	border-top-left-radius: 3rem;
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
	border-bottom-left-radius: 3rem;
	border: 1px solid @sapUiBrand;
	width: 3rem;
	height: 3rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.sapMITBFilterNoIcon {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
}

.sapMITBFilterDefault {
	color: @sapUiBrand;
}

.sapMITBFilterNeutral {
	color: @sapUiNeutralElement;
	border-color: @sapUiNeutralElement;
}

.sapMITBFilterPositive {
	color: @sapUiPositiveElement;
	border-color: @sapUiPositiveElement;
}

.sapMITBFilterNegative {
	color: @sapUiNegativeElement;
	border-color: @sapUiNegativeElement;
}

.sapMITBFilterCritical {
	color: @sapUiCriticalElement;
	border-color: @sapUiCriticalElement;
}

.sapMITBCount {
	color: @sapUiDarkText;
}

.sapMITBSelected .sapMITBFilterDefault {
	background: @sapUiBrand;
	color: @sapUiLightestBG;
}

.sapMITBSelected .sapMITBFilterNeutral {
	background: @sapUiNeutralElement;
	color: @sapUiLightestBG;
}

.sapMITBSelected .sapMITBFilterPositive {
	background: @sapUiPositiveElement;
	color: @sapUiLightestBG;
}

.sapMITBSelected .sapMITBFilterNegative {
	background: @sapUiNegativeElement;
	color: @sapUiLightestBG;
}

.sapMITBSelected .sapMITBFilterCritical {
	background: @sapUiCriticalElement;
	color: @sapUiLightestBG;
}

/* Tab Filter Show All Item */

.sapMITBAll .sapMITBTab {
	display: inline-block;
	width: auto;
	line-height: 3rem;
	height: 3rem;
}

.sapMITBAll {
	padding-left: 0.5rem;
	padding-right: 1.25rem;
}

.sap-phone .sapMITBAll {
	padding-left: 0;
	padding-right: 0.25rem;
}

.sapMITBAll .sapMITBCount {
	color: @sapUiDarkText;
	vertical-align: middle;
	font-size: 1.5rem;
	padding: 0 0.5rem;
	display: inline-block;
	width: auto;
	text-shadow: 0 0.0625rem 0 fade(@sapUiLightShadowTint, 50%);
}

.sap-phone .sapMITBAll > .sapMITBTab > .sapMITBCount {
	padding: 0 0.25rem;
}

.sapMITBAll:first-Child > .sapMITBTab > .sapMITBCount {
	padding-left: 0;
}

.sapMITBAll:first-Child {
	padding-left: 0;
}

.sapMITBAll .sapMITBText {
	color: @sapUiDarkText;
	vertical-align: middle;
	display: inline-block;
	width: auto;
	white-space: normal;
	max-width: 4rem;
	text-align: left;
	max-height: 3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 0 0.0625rem 0 fade(@sapUiLightShadowTint, 50%);
}

.sap-phone .sapMITBAll .sapMITBText {
	padding-right: 0.5rem;
}

/* Tab Separator Item */
.sapMITBSep {
	width: 1.5rem;
}

.sapMITBSepLine {
	width: 0;
	border: 1px solid @sapUiDarkBorder;
	height: 3rem;
	margin: 0 0.25rem;
}

.sap-phone .sapMITBSepLine {
	margin: 0 0.125rem;
}

.sapMITBSepIcon {
	font-size: 1rem;
	color: @sapUiElement;
	line-height: 3rem;
	height: 3rem;
	padding: 0 0.25rem;
}

.sapMITBHorizontal + .sapMITBSep {
	width: auto;
}

.sapMITBHorizontal + .sapMITBSep > .sapMITBSepIcon {
	padding: 0 0.5rem;
}

.sapMITBArrowScroll {
	font-size: 1rem;
	position: absolute;
	top: 1px;
	color: @sapUiElement;
	cursor: pointer;
}

.sap-desktop .sapMITBArrowScroll:hover,
.sap-desktop .sapMITBArrowScroll:active {
	color: @sapUiHighlight;
}

.sap-phone .sapMITBArrowScroll,
.sap-tablet .sapMITBArrowScroll,
html[data-sap-ui-os=win8] .sapMITBArrowScroll {
	top: 1rem;
}

.sapMITBArrowScrollLeft {
	left: 0.25rem;
	padding: 1rem 0.4rem;
}

.sapMITBArrowScrollRight {
	right: 0.25rem;
	padding: 1rem 0.4rem;
}

.sapMITBArrowScrollLeftTextOnly {
	left: 0.25rem;
	padding: 1.3rem 0.4rem 0.7rem;
}

.sapMITBArrowScrollRightTextOnly {
	right: 0.25rem;
	padding: 1.3rem 0.4rem 0.7rem;
}

.sap-phone .sapMITBArrowScrollLeft {
	left: 0.25rem;
	padding: 1rem 0;
}

.sap-phone .sapMITBArrowScrollRight {
	right: 0.25rem;
	padding: 1rem 0;
}

.sap-phone .sapMITBArrowScrollLeftTextOnly {
	left: 0.25rem;
	padding: 1.25rem 0 0.75rem;
}

.sap-phone .sapMITBArrowScrollRightTextOnly {
	right: 0.25rem;
	padding: 1.25rem 0 0.75rem;
}

.sapMITBNotScrollable > .sapMITBArrowScroll {
	visibility: hidden;
}

.sapMITBScrollable.sapMITBNoScrollBack > .sapMITBArrowScrollLeft,
.sapMITBScrollable.sapMITBNoScrollBack > .sapMITBArrowScrollLeftTextOnly,
.sapMITBScrollable.sapMITBNoScrollForward > .sapMITBArrowScrollRight,
.sapMITBScrollable.sapMITBNoScrollForward > .sapMITBArrowScrollRightTextOnly {
	visibility: hidden;
}

.sapMITBFilter:focus,
.sapMITBArrowScroll:focus,
.sapMITBSep:focus,
.sapMITBSepIcon:focus,
.sapMITBHead:focus,
.sapMITBText:focus,
.sapMITBTextOnly .sapMITBText:focus,
.sapMITBFilterIcon:focus,
.sapMITBAll:focus {
	outline: none;
}

/* Custom focus outline */
.sap-desktop .sapMITBFilterIcon:focus,
.sap-desktop .sapMITBTextOnly .sapMITBText:focus,
.sap-desktop .sapMITBAll:focus {
	outline: 1px dotted @sapUiFocus;
}
