/* ============================================= */
/* CSS for control sap.m/Input.control           */
/* BlueCrystal theme                             */
/* ============================================= */

.sapMInput {}

.sapMInputMessage {
	color: @sapUiStandardText;
	border-width:          0px;
	font-size:             0.750rem;
	font-family:           @sapUiFontFamily;
	padding:               0.3rem 0.625rem 0.3rem 0.625rem;
}

/* Value Help */
.sapMInputVH > .sapMInputBaseInner {
	padding-right: 2.375rem;
}

.sapMInputValHelp {
	position: absolute;
	top: 0.3125rem;
	right: 0.0625rem;
	height: 2.375rem;
	width: 2.375rem;
	box-sizing:border-box;
}

.sapMInputValHelpInner,
html[data-sap-ui-browser='ie9'] .sapMInputValHelpInner { /* override .sapMIcon display */
	height: 2.375rem;
	width: 2.375rem;
	line-height: 2.375rem;
}

html[data-sap-ui-browser='ie9'] .sapMInputValHelp { /* IE9 ignores padding-right in input */
	background-color: @sapUiInputBaseBG;
}

.sapMInputBaseState > .sapMInputValHelp{
	top: 0.375rem;
	right: 0.125rem;
	height: 2.25rem;
	width: 2.25rem;
}

.sapMInputBaseState > .sapMInputValHelp > .sapMInputValHelpInner {
	height: 2.25rem;
	width: 2.25rem;
	line-height: 2.25rem;
}

/* valueHelpOnly overwrites text cursor for input */
.sapMInputVHO,
.sapMInput.sapMInputVHO > input {
	cursor: pointer;
}

.sapMInputVHO:hover > .sapMInputValHelp > .sapMInputValHelpInner {
	background-color: @sapUiBtnBGTransparentHover;
}

.sapMInputVHO:active > .sapMInputValHelp > .sapMInputValHelpInner {
	background-color: @sapUiBtnBGTransparentDown;
	color: @sapUiBtnTextActive;
}

.sapMInputValHelpInner {
	speak: none;
	color: @sapUiElement;
}

.sapMInput:not(.sapMInputBaseReadonly) > .sapMInputValHelp > .sapMInputValHelpInner:hover,
.sapMInput:not(.sapMInputBaseReadonly) > .sapMInputValHelp > .sapMInputValHelpInner:focus {
	background-color: @sapUiBtnBGTransparentHover;
}
.sapMInput:not(.sapMInputBaseReadonly) > .sapMInputValHelp > .sapMInputValHelpInner:focus {
	outline: 1px dotted @sapUiFocus;
	outline-offset: -1px;
}

.sapMInput:not(.sapMInputBaseReadonly) > .sapMInputValHelp > .sapMInputValHelpInner:active {
	/* works fine in desktop browsers, iOS6 and mobile Chrome; does not work well in older Android browser */
	background-color: @sapUiBtnBGTransparentDown;
	color: @sapUiBtnTextActive;
	outline: 1px dotted @sapUiInvertedFocus;
}

/* value help icon in IE9 */
.sapMInputIE9.sapMInput {
	padding-right: 2.25rem;
}
.sapMInputIE9.sapMInput > .sapMInputBaseInner { /* only in sapMInput and not in .sapMDP */
	padding-right: 0;
	border-right: 0;
}

.sapMInputIE9 > .sapMInputValHelp {
	color: 				   @sapUiInputBaseText;
	background-color:	   @sapUiInputBaseBG;
	border:		           1px solid @sapUiInputBaseBorder;
	border-left:		   none;
	margin:                0;
	line-height:		   normal;
	height: 			   2.5rem;
	top: 				   0.25rem;
	right:				   0;
}

.sapMInputIE9 > .sapMInputBaseInner:not(.sapMInputBaseStateInner):focus  + .sapMInputValHelp,
.sapMInputIE9 > .sapMInputBaseInner:not(.sapMInputBaseStateInner):hover  + .sapMInputValHelp {
	border-color: @sapUiInputBaseFocus;
}

.sapMInputIE9.sapMInputBaseState > .sapMInputValHelp {
	border-width: 2px;
}

.sapMInputIE9.sapMInputBaseWarning > .sapMInputValHelp {
	border-color: @sapUiInputBaseWarning;
}

.sapMInputIE9.sapMInputBaseError > .sapMInputValHelp {
	border-color: @sapUiInputBaseError;
}

.sapMInputIE9.sapMInputBaseSuccess > .sapMInputValHelp {
	border-color: @sapUiInputBaseSuccess;
}


/* suggestion popup */
div.sapMInputSuggestionPopup {
	border: none;
	-webkit-box-shadow: 0 0.0625rem 0.1875rem fade(@sapUiDarkShadowTint, 50);
	box-shadow: 0 0.0625rem 0.1875rem fade(@sapUiDarkShadowTint, 50);
}

.sapMInputSuggestionPopup .sapMDLIValue {
	font-size: @sapMFontMediumSize;
	color: @sapUiLIText;
	padding-right: 1rem;
}

.sapMInputSuggestionPopup .sapMLIBActive .sapMDLIValue {
	color: @sapUiLITextInverted;
}

.sapMInputSuggestionPopup .sapMDLILabel {
	font-size: @sapMFontMediumSize;
}

.sapMInputDescription > span {
	font-size: @sapMFontMediumSize;
	line-height: 2.5rem;
	color: @sapUiStandardText;
}

/* Compact size */
.sapUiSizeCompact{
	.sapMInputVH > .sapMInputBaseInner {
		padding-right: 1.625rem;
	}

	.sapMInputValHelp {
		top: 0.25rem;
		height: 1.5rem;
		width: 1.5rem;
	}

	.sapMInputValHelp > .sapMInputValHelpInner {
		font-size: 0.75rem;
		height: 1.5rem;
		width: 1.5rem;
		line-height: 1.5rem;
	}

	.sapMInputBaseState > .sapMInputValHelp{
		top: 0.3125rem;
		height: 1.375rem;
		width: 1.375rem;
	}

	.sapMInputBaseState > .sapMInputValHelp > .sapMInputValHelpInner {
		height: 1.375rem;
		width: 1.375rem;
		line-height: 1.375rem;
	}

	.sapMInputIE9.sapMInput {
		padding-right: 1.4rem;
	}

	.sapMInputIE9 > .sapMInputValHelp {
		height: 1.625rem;
		top: 0.1875rem;
	}

	.sapMInputDescription > span {
		line-height: 1.625rem;
	}
}
