/* ============================================= */
/* CSS for control sap.m/Label.control           */
/* BlueCrystal theme                             */
/* ============================================= */
.sapMLabel{
	color: @sapUiLabelText;
	font-size: @sapMFontMediumSize;
	font-family: @sapUiLabelFont;
	font-weight: normal;
}

.sapMLabel.sapMLabelTBHeader {
	font-family: @sapUiFontHeaderFamily;
	font-size: @sapMFontHeader5Size;
	font-weight: @sapUiFontHeaderWeight;
	color: @sapUiHeaderText;
	text-shadow: 0 0.0625rem 0 fade(@sapUiLightShadowTint, 50%);
}

.sapMLabel.sapMLabelBold{
	font-weight: bold;
}

.sapMLabelRequired:before{
	content:"*";
	color: @sapUiHighlight;
	font-size: 1rem;
	line-height: 0.9375rem;
}

.sapMIBar-CTX .sapMLabel{
	color: @sapUiBarText;
}

.sapMIBar-CTX.sapMFooter-CTX .sapMLabel {
	font-family: @sapUiFontFamily;
	font-size: @sapMFontMediumSize;
	color: @sapUiFooterText;
	text-shadow: 0 0.0625rem 0 @sapUiBtnTextShadowFooter;
}

.sapMIBar-CTX.sapMPageHeader .sapMLabel,
.sapMDialog-CTX .sapMIBar-CTX .sapMLabel {
	font-family: @sapUiFontHeaderFamily;
	font-size: @sapMFontHeader5Size;
	font-weight: @sapUiFontHeaderWeight;
}

.sapMLIBActive .sapMLabel,
.sapMLIBActive .sapMListTblCell .sapMLabel,
.sapMLIBActive .sapMListTblSubCntRow .sapMLabel{
	color: @sapUiLITextInverted;
}

/* collapse lines in a form */
.sapUiForm .sapMLabel{
	height: auto;
	position: relative;
	/* 
		We guessed the width of a : here. 0.3em seems to be fine in chrome it works without the padding 
		but as long as we do not touch the box-sizing it seems to be fine to set it there too
		because the padding is outside of the box
		The use of em is intentional since it has to relate to the current font size applied to the label
	*/
	padding-right: 0.3em;
}
.sapUiForm.sapUiFormEdit .sapMLabel{
	vertical-align: top; /* align vertically to multiline texts */
}

.sapUiForm .sapMLabel:after{
	content:":";
}
.sapUiForm .sapMLabel:lang(fr):after{
	content:" :";
}

.sapUiForm .sapMCb>.sapMCbLabel:after,
.sapUiForm .sapMRb>.sapMRbBLabel:after,
.sapUiForm .sapMLabel.sapMLabelNoText:after{
	content: none;
}

.sapMLIBUnread .sapMLabel,
.sapMLIBUnread + .sapMListTblSubRow .sapMLabel{
	font-family: @sapUiFontFamily;
	font-weight: bold;
}

/* Info Toolbar Context */
.sapMTB-Info-CTX .sapMLabel {
	font-style: italic;
	font-size: @sapMFontMediumSize;
	font-family: @sapUiFontFamily;
	color: @sapUiTextInverted;
}

/* Transparent Toolbar Context*/
.sapMTB-Transparent-CTX .sapMLabel{
	margin-right: 1rem;
	font-weight: @sapUiFontHeaderWeight;
	font-size: @sapMFontHeader5Size;
	font-family: @sapUiFontHeaderFamily;
	text-shadow: 0 1px 0 @sapUiLightShadowTint;
	color: @sapUiHeaderText;
}

/* ============================ */
/* Overwrites for Label in Form */
/* ============================ */

/* ResponsiveLayout */
/* If label is above the fields it's left aligned, if it's left of the fields it's right aligned */
.sapUiFormResLayout .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent > .sapMLabel{
	text-align: end !important; /* to overwrite setting on label */
	width: 100%; /* to react on touch/click on whole label cell */
	padding-right: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* in the cases text-align: end is set, we position the colon of the label to absolute so it does not get truncated in the ellipsis*/
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12) > .sapMLabel:after,
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12) > .sapMLabel:after,
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) > .sapMLabel:after,
.sapUiFormResLayout .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent > .sapUiForm .sapMLabel:after {
	position: absolute;
	right: 0;
}

html[data-sap-ui-browser^=ie] .sapUiFormResLayout .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent > .sapMLabel{
	text-align: right !important; /* to overwrite setting on label */
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiFormResLayout .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent > .sapMLabel{
	text-align: left !important; /* to overwrite setting on label */
}

.sapUiFormResLayout .sapUiRFLRow:first-child > .sapUiRFLContainer.sapUiRFLFullLength > .sapUiRFLContainerContent > .sapMLabel{
	text-align: start !important; /* to overwrite setting on label */
	padding-bottom: 2px;
}

html[data-sap-ui-browser^=ie] .sapUiFormResLayout .sapUiRFLRow:first-child > .sapUiRFLContainer.sapUiRFLFullLength > .sapUiRFLContainerContent > .sapMLabel{
	text-align: left !important; /* to overwrite setting on label */
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiFormResLayout .sapUiRFLRow:first-child > .sapUiRFLContainer.sapUiRFLFullLength > .sapUiRFLContainerContent > .sapMLabel{
	text-align: right !important; /* to overwrite setting on label */
}

/* ResponsiveGridLayout */
.sapUiFormResGridLbl > .sapMLabel{
	width: 100%;
}

/* ================================ */
/* SMALL,  MEDIUM and LARGE DEVICES */
/* ================================ */
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12) > .sapMLabel,
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12) > .sapMLabel,
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) > .sapMLabel {
	text-align: end !important; /* to overwrite style set on element */
	float: none; /* as label has 100% width not needed (will bring wrong alignments on iPad) */
}

html[data-sap-ui-browser^=ie] .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12) > .sapMLabel,
html[data-sap-ui-browser^=ie] .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12) > .sapMLabel,
html[data-sap-ui-browser^=ie] .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) > .sapMLabel {
	text-align: right !important; /* to overwrite style set on element */
}

html[dir=rtl][data-sap-ui-browser^=ie] .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12) > .sapMLabel,
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12) > .sapMLabel,
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) > .sapMLabel {
	text-align: left !important; /* to overwrite style set on element */
}

/* ================================ */
/* COMPACT + CONDENSED SIZE                   */
/* ================================ */
.sapUiSizeCompact,
.sapUiSizeCondensed{
	.sapMIBar-CTX.sapMPageHeader .sapMLabel,
	.sapMDialog-CTX .sapMIBar-CTX .sapMLabel {
		font-size: @sapMFontHeader6Size;
	}

	.sapMTB-Transparent-CTX .sapMLabel{
		font-size: @sapMFontHeader6Size;
	}
}
.sapUiSizeCondensed .sapUiTableCell>.sapMLabel{
	.sapUiCondensedTableCellContent; /* see shared.css */
}
