/* ============================================= */
/* CSS for control sap.m/ListItemBase.control    */
/* ============================================= */

.sapMLIB {
	border-bottom: 1px solid @sapUiLIBorder;
	background-color: @sapUiListBG;
	padding: 0 1rem 0 1rem;
}

.sap-desktop .sapMLIB:focus {
	outline: 1px dotted @sapUiFocus;
	outline-offset: -1px;
}

.sapMListModeDelete .sapMLIB,
.sapMListModeSingleSelect .sapMLIB,
.sapMLIB.sapMLIBTypeNavigation {
	padding-right: 0;
}

.sapMListBGTransparent .sapMLIB {
	background-color: fade(@sapUiListBG, 0%);
}

.sapMListBGTranslucent .sapMLIB {
	background-color: fade(@sapUiListBG, @sapUiTranslucentBGOpacity);
}

.sapMListBGSolid .sapMLIB{
	background-color: @sapUiListBG;
}

.sapMListShowSeparatorsNone .sapMLIBShowSeparator{
	border-bottom: 1px solid transparent;
}

.sapMListShowSeparatorsInner .sapMLIBShowSeparator:last-child {
	border-bottom-color: transparent;
}

.sapMLIB.sapMListTblSupRow {
	border-bottom: 0;
}

.sapMLIBSelectSL,
.sapMLIBSelectM {
	width:3rem;
	margin-left: -1rem;
}

.sapMLIBSelectD,
.sapMLIBSelectS {
	width: 3rem;
	text-align: center;
}

.sapMLIBSelectD {
	cursor: pointer;
}

.sapMLIBSelectD > .sapUiIcon {
	font-size: 1.5rem;
	color: @sapUiLIDelColor;
	font-weight: normal;
	width : 100%;
}

.sapMLIBSelectAnimation {
	-webkit-animation-duration: 0.25s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-name: resize;
	animation-duration: 0.25s;
	animation-timing-function: ease-in;
	animation-name: resize;
}

@-webkit-keyframes resize {
	0% {
		width: 0;
	}
	100% {
		width: 3rem;
	}
}

@keyframes resize {
	0% {
		width: 0;
	}
	100% {
		width: 3rem;
	}
}

.sapMLIBUnselectAnimation {
	-webkit-animation-duration: 0.25s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-name: close;
	animation-duration: 0.25s;
	animation-timing-function: ease-in;
	animation-name: close;
}

@-webkit-keyframes close {
	0% {
		width: 3rem;
	}
	100% {
		width: 0;
	}
}

@keyframes close {
	0% {
		width: 3rem;
	}
	100% {
		width: 0;
	}
}

.sapMLIBUnread.sapMLIBUnreadBold > *,
.sapMLIBUnread.sapMLIBUnreadBold > .sapMListTblCell,
.sapMLIBUnread.sapMLIBUnreadBold + .sapMListTblSubRow {
	font-family: @sapUiFontFamily;
	font-weight: bold;
}

.sapMLIBCounter {
	font-size: 0.875rem;
	color: @sapUiLICounter;
	padding-left: 1rem;
}

.sapMLIBImgNav {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 0.75rem;
	color: @sapUiLINavColor;
}

.sapMLIBIconDet {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.375rem;
	color: @sapUiLIDetailColor;
	margin-right: -1rem;
	margin-left: 0.5rem;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-ms-flex: none;
	flex: none;
}

.sapMLIBActive .sapMLIBImgNav,
.sapMLIBActive .sapMLIBIconDetActive,
.sapMLIBActive .sapMLIBIconDelActive,
.sapMLIBIconDet:active,
.sapMLIBIconDel:active {
	color: @sapUiLITextInverted;
}

.sapMLIBTypeDetailAndActive .sapMLIBIconDet:active,
.sapMLIBTypeDetail .sapMLIBIconDet:active,
.sapMListModeDelete .sapMLIBSelectD:active,
/* in IE9 the SelectD does not get the active state so we have to put it on the icon*/
.sapMListModeDelete .sapMLIBSelectD > .sapUiIcon:active,
.sapMLIBActive:not(.sapMLIBTypeDetailAndActive):not(.sapMLIBTypeNavigation):not(.sapMLIBTypeActive) .sapMLIBImgNav {
	background-color : @sapUiLIActive;
}

.sap-desktop .sapMLIBImgNav:focus,
.sap-desktop .sapMLIBIconDet:focus,
.sap-desktop .sapMLIBIconDel:focus {
	outline: 1px dotted @sapUiFocus;
	outline-offset: -1px;
}

.sapMLIBImgDel {
	height: 3rem;
	width: 3rem;
}

.sapMLIB.sapMLIBSelected,
.sapMLIB.sapMLIBSelected > td {
	background: @sapUiLISelected;
}

.sapMLIBSelectD:hover {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* deleteIcon */
.sap-desktop .sapMLIBSelectD:hover:not(:active),

/* active state is always stronger than the selected state
* List item hover : does not apply to column list item*/
.sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover ,

/* all selectable items should get the hover */
.sap-desktop .sapMListUl:not(.sapMListModeDelete):not(.sapMListModeNone) .sapMLIB:not(.sapMLIBActive):not(.sapMALI):hover,

/* column list item hover: since the dom is different to the list we need td */
.sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover > td,

/* popin also gets hovered, when hovering over the listitem */
.sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):not(.sapMLIBSelected):hover + .sapMListTblSubRow,

/* popin hover - issue does not hover the list item, only the popin */
.sap-desktop .sapMListTblSubRow:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover {
	background : @sapUiLightestBGHover;
}

/* same as the 4 selectors above just for selected */
.sap-desktop .sapMLIBSelected:not(.sapMLIBActive):not(.sapMALI):hover ,
.sap-desktop .sapMListUl:not(.sapMListModeDelete):not(.sapMListModeNone) .sapMLIBSelected:not(.sapMLIBActive):not(.sapMALI):hover,
.sap-desktop .sapMLIBSelected:not(.sapMLIBActive):not(.sapMALI):hover > td,
.sap-desktop .sapMLIBSelected:not(.sapMLIBActive):not(.sapMALI):hover + .sapMListTblSubRow,
.sap-desktop .sapMLIBSelected:not(.sapMLIBActive):not(.sapMALI)  + .sapMListTblSubRow:hover {
	background : @sapUIActiveBGHover;
}

.sapMLIBActive.sapMLIB,
.sapMLIBActive.sapMLIB > td {
	color: @sapUiLITextInverted;
	background: @sapUiLIActive;
}

.sapMLIBActive div,
.sapMLIBActiveCounter {
	color: @sapUiLITextInverted;
}

.sapMLIBActive .sapThemeHighlight-asColor {
	color: @sapUiLITextInverted;
}
.sapMLIBActive .sapThemeHighlight-asBorderColor {
	border-color: @sapUiLITextInverted;
}

/* Compact size */
.sapUiSizeCompact .sapMLIBSelectSL,
.sapUiSizeCompact .sapMLIBSelectM {
	width:2.5rem;
	margin-left: -0.5rem;
}
