/* ============================================= */
/* CSS for control sap.m/MessageBox.js in Blue Crystal Theme */
/* ============================================= */
.sapMDialog.sapMMessageBoxInfo > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapUiElement;
}

.sapMDialog.sapMMessageBoxWarning > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapUiCriticalElement;
}

.sapMDialog.sapMMessageBoxError > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapUiNegativeElement;
}

.sapMDialog.sapMMessageBoxSuccess > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapUiPositiveElement;
}

.sapMDialog.sapMMessageBoxQuestion > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogIcon.sapUiIcon {
	color: @sapUiElement;
}

.sapMDialog.sapMMessageBoxInfo > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapUiLightText;
}

.sapMDialog.sapMMessageBoxWarning > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapUiCriticalText;
}

.sapMDialog.sapMMessageBoxError > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapUiNegativeText;
}

.sapMDialog.sapMMessageBoxSuccess > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapUiPositiveText;
}

.sapMDialog.sapMMessageBoxQuestion > header.sapMBar > .sapMBarMiddle > .sapMBarPH > .sapMDialogTitle.sapMLabel {
	color: @sapUiLightText;
}