/* ======================================================== */
/* CSS for control sap.m/MultiComboBox.control BlueCrystal theme */
/* ======================================================== */

.sapMMultiComboBox{
       padding: 0.25rem 0;
       height: 3.0rem;
}

/* ------------------------------ */
/* BorderDiv                      */
/* ------------------------------ */
.sap-desktop .sapMMultiComboBoxFocused:not(.sapMInputBaseReadonly):not(.sapMInputBaseError):not(.sapMInputBaseWarning):not(.sapMInputBaseSuccess) .sapMMultiComboBoxBorder,
.sap-desktop .sapMMultiComboBox:not(.sapMInputBaseReadonly):not(.sapMInputBaseError):not(.sapMInputBaseWarning):not(.sapMInputBaseSuccess) > .sapMMultiComboBoxBorder:hover{
       border-color:  @sapUiInputBaseFocus;
}

.sapMMultiComboBox>.sapMMultiComboBoxBorder {
       	background: @sapUiLightestBG;
        border: 1px solid @sapUiInputBaseBorder;
        padding-left: 0.75rem;
       	white-space: nowrap;
     	position: relative;
     	overflow: hidden;
}
.sapUiSizeCompact .sapMMultiComboBox>.sapMMultiComboBoxBorder{
       padding-left: 0.1875rem;
       height: 1.5rem;
}

.sapMInputBaseReadonly > .sapMMultiComboBoxBorder{
	border-color: transparent;
	background-color: transparent;
}

/* ------------------------------ */
/* InputDiv and ShadowDiv         */
/* ------------------------------ */
.sapMMultiComboBoxInputContainer{ 
       overflow:hidden;
       display: inline;
}

.sapMMultiComboBoxInputContainer > input, 
.sapMMultiComboBoxInputContainer > div{
       border: 0 transparent;
       background: transparent;
}

.sapUiSizeCompact .sapMMultiComboBoxInputContainer > input, 
.sapUiSizeCompact .sapMMultiComboBoxShadowDiv{ 
       padding-left: 0.3125rem;
       padding-right: 0.5rem;
}

.sapMMultiComboBoxInputContainer > input, 
.sapMMultiComboBoxShadowDiv{
       border: 0 transparent;
       padding: 0;
       min-width: 2rem;
       background: transparent;
       height: 2.375rem;
}

.sapMMultiComboBoxShadowDiv{
       display: inline;
       visibility: collapse;
       position: absolute;
       top: 0;
       left: 0;     
}

.sapUiSizeCompact .sapMMultiComboBoxShadowDiv{
       height: 1.625rem;
}

/* ------------------------------ */
/* InputInner                     */
/* ------------------------------ */
.sapMMultiComboBoxInputContainer > input.sapMComboBoxBaseInputInner {
       height: 2.375rem;
}

.sapUiSizeCompact .sapMMultiComboBoxInputContainer > input.sapMComboBoxBaseInputInner {
       height: 1.625rem;
}

/* ------------------------------ */
/* ValueState                     */
/* ------------------------------ */
.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder,
.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder,
.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder{
    border-width: 2px;
    padding: 0 0.6875rem;
}

.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder {
       border-color: @sapUiInputBaseError;
       height: 2.25rem;
}

.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder {
       border-color: @sapUiInputBaseWarning;
       height: 2.25rem;
}

.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder {
       border-color: @sapUiInputBaseSuccess;
       height: 2.25rem;
}
       
.sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxInputInner,
.sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxInputInner,
.sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxInputInner {
       height: 2.25rem;
}

.sapMMultiComboBox.sapMInputBaseError .sapMComboBoxBaseArrow,
.sapMMultiComboBox.sapMInputBaseWarning .sapMComboBoxBaseArrow,
.sapMMultiComboBox.sapMInputBaseSuccess .sapMComboBoxBaseArrow {
       height: 2.25rem;
       line-height: 2.375rem;
}      
       
.sapUiSizeCompact {
       .sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder,
       .sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder,
       .sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder{       
       		padding-left: 0.1875rem;
       		height: 1.375rem;
       }
       .sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxBorder {
       		border-color: @sapUiInputBaseError;       
       }

       .sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxBorder {
       		border-color: @sapUiInputBaseWarning;       
       }

       .sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxBorder {
       		border-color: @sapUiInputBaseSuccess;       
       }

       .sapMMultiComboBox.sapMInputBaseError .sapMMultiComboBoxInputInner,
       .sapMMultiComboBox.sapMInputBaseWarning .sapMMultiComboBoxInputInner,
       .sapMMultiComboBox.sapMInputBaseSuccess .sapMMultiComboBoxInputInner {
       		height: 1.375rem;
       }

       .sapMMultiComboBox.sapMInputBaseError .sapMComboBoxBaseArrow,
       .sapMMultiComboBox.sapMInputBaseWarning .sapMComboBoxBaseArrow,
       .sapMMultiComboBox.sapMInputBaseSuccess .sapMComboBoxBaseArrow {
             height: 1.375rem;
             line-height: 1.5rem;
       }      
}

/* ------------------------------ */
/* MultiComboBox's Arrow          */
/* ------------------------------ */
.sapMMultiComboBoxInputContainer > .sapMComboBoxBaseArrow,
.sapMMultiComboBoxInputContainer > .sapMComboBoxBaseBar::before {
       top: 0;
       right: 0;
}

.sapUiSizeCompact .sapMMultiComboBoxInputContainer > .sapMComboBoxBaseArrow,
.sapUiSizeCompact .sapMMultiComboBoxInputContainer > .sapMComboBoxBaseBar::before {
       top: 0;
}

/* focus to allow go down via keyboard navigation into list */
.sap-desktop .sapMMultiComboBoxList li.sapMComboBoxBaseItem:focus {
       outline: 1px dotted @sapUiFocus
}

.sap-desktop li.sapMMultiComboBoxItemRangeSelection {
       background-color : @sapUiLightestBGHover 
}
