
/* ============================================= */
/* CSS for control sap.m/ObjectAttribute.control */
/* ============================================= */

.sapMObjectAttributeDiv{
	outline: none;
}

.sapMLIBActive .sapMObjectAttributeDiv{
	color: @sapUiLITextInverted;
}

.sap-desktop .sapMObjectAttributeActive:focus {
	outline: none;
}

.sap-desktop .sapMObjectAttributeActive:focus > span > span {
	outline: 1px dotted @sapUiFocus;
	outline-offset: -1px;
}