
/* ============================================= */
/* CSS for control sap.m/ObjectStatus.control */
/* ============================================= */

.sapUiForm .sapMObjStatusText {
	overflow: hidden;
	font-size: 0.875rem;
	line-height: normal;
	display: inline-block;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.sapMObjStatus {
	color: @sapUiStandardText;
}

.sapMObjStatus > .sapMObjStatusTitle {
	color: @sapUiLightText;
}

.sapMObjStatusNone > .sapMObjStatusText,
.sapMObjStatusNone > .sapMObjStatusIcon {
	color: @sapUiStandardText;
}

.sapMObjStatusError > .sapMObjStatusText,
.sapMObjStatusError > .sapMObjStatusIcon {
	color: @sapUiNegativeText;
}

.sapMObjStatusWarning > .sapMObjStatusText,
.sapMObjStatusWarning > .sapMObjStatusIcon {
	color: @sapUiCriticalText;
}

.sapMObjStatusSuccess > .sapMObjStatusText,
.sapMObjStatusSuccess > .sapMObjStatusIcon {
	color: @sapUiPositiveText;
}

/* ============================================= */
/* FIX: CSS 0120061532 0001316230 2014 */
/* ============================================= */
.sapMLIBActive .sapMObjStatusNone > .sapMObjStatusText,
.sapMLIBActive .sapMObjStatusNone > .sapMObjStatusIcon,
.sapMLIBActive .sapMObjStatusError > .sapMObjStatusText,
.sapMLIBActive .sapMObjStatusError > .sapMObjStatusIcon,
.sapMLIBActive .sapMObjStatusWarning > .sapMObjStatusText,
.sapMLIBActive .sapMObjStatusWarning > .sapMObjStatusIcon,
.sapMLIBActive .sapMObjStatusSuccess > .sapMObjStatusText,
.sapMLIBActive .sapMObjStatusSuccess > .sapMObjStatusIcon {
	color: @sapUiInvertedElement;
}

/* Condensed size */
.sapUiSizeCondensed .sapUiTableCell>.sapMObjStatus>.sapMObjStatusText{
	.sapUiCondensedTableCellContent; /* see shared.css */
	font-size: @sapMFontMediumSize;
}
