/* ==============================================*/
/* CSS for control sap.m/SegmentedButton.control */
/* BlueCrystal theme                             */
/* ==============================================*/

.sapMSegB {
	height: 2.5rem;
	padding: 0.250rem 0;
	position: relative;
}

.sapMSegBBtn {
	font-size: 0.875rem;
	height: 2.375rem;
	line-height: 2.375rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	text-shadow: none;
	color: @sapUiSegmentedBtnText;
	border: 1px solid @sapUiSegmentedBtnBorder;
	background-color: @sapUiSegmentedBtnBG;
}

.sapMSegBBtn:not(.sapMSegBBtnDis):hover {
	background: @sapUiSegmentedBtnBGHover;
}

.sapMSegBBtn + .sapMSegBBtn{
	border-left: none;
}

/* Custom focus outline: */
.sap-desktop{
	.sapMSegBBtn:focus:not(.sapMSegBBtnDis) {
		outline: 1px dotted @sapUiFocus;
	}
	.sapMSegBBtn:not(.sapMSegBBtnDis).sapMSegBBtnSel:focus {
		outline-color:  @sapUiInvertedFocus;
	}
}

.sapMSegBIcons .sapMSegBBtn {
	padding: 0;
}
.sapMSegBIcons .sapMSegBBtn img {
	padding: 0 .5rem;
}

.sapMSegBBtn.sapMSegBBtnSel {
	background: @sapUiSegmentedBtnBGSelected;
	color: @sapUiSegmentedBtnTextActive;
	border-color: @sapUiSegmentedBtnBGSelectedHover;
	.sapUiIcon{
		color: @sapUiSegmentedBtnIconLight;
	}
}
.sapMSegBBtn:not(.sapMSegBBtnDis).sapMBtnActive  {
	background: @sapUiSegmentedBtnBGSelected;
	color: @sapUiSegmentedBtnTextActive;
	.sapUiIcon{
		color: @sapUiSegmentedBtnIconLight;
	}
}

.sapMSegBBtn:not(.sapMSegBBtnDis).sapMSegBBtnSel:hover,
.sapMSegBBtn:not(.sapMSegBBtnDis).sapMBtnActive:hover{
	background: @sapUiSegmentedBtnBGSelectedHover;
}

.sapMSegB img {
	line-height: 2.375rem;
	max-height:  2.375rem;
	vertical-align: middle;
}
.sapMSegBBtn .sapUiIcon {
	font-size: 1.375rem;
	line-height: 2.375rem;
	width: 2.375rem;
	color: @sapUiSegmentedBtnIconDark;
	vertical-align: middle;
	text-align: center;
}

/* Footer */
.sapMFooter-CTX {
	.sapMSegB,
	.sapMSegBBtn {
		border-color: @sapUiSegmentedBtnBorderFooter;
	}
	.sapMSegBBtn {
		background-color: transparent;
		color: @sapUiTextInverted;
	}
	.sapMSegBBtn .sapUiIcon {
		color: @sapUiSegmentedBtnIconDark;
	}
	.sapMSegBBtn:hover {
		background: @sapUiSegmentedBtnFooterHover;
	}
	.sapMSegBBtn .sapUiIcon {
		color: @sapUiSegmentedBtnIconLight;
	}
	.sapMSegBBtn.sapMBtnActive,
	.sapMSegBBtn.sapMSegBBtnSel {
			background:	@sapUiHighlight;
			color: @sapUiTextInverted;
		}
	.sapMSegBBtn.sapMSegBBtnSel:hover,
	.sapMSegBBtn.sapMBtnActive:hover{
		background: @sapUiSegmentedBtnBGSelectedHover;
		border-color: @sapUiSegmentedBtnBGSelectedHover;
	}
}

/* Compact size */
.sapUiSizeCompact{
	.sapMSegB {
		height: 1.625rem;
		padding: 0.1875rem 0;
	}

	.sapMSegBBtn {
		height: 1.5rem;
		line-height: 1.5rem;
		padding-left: 0.4375rem;
		padding-right: 0.4375rem;
	}

.sapMSegBBtn:first-child {
		border-top-left-radius: 0.125rem;
		border-bottom-left-radius: 0.125rem;
	}

.sapMSegBBtn:last-child {
		border-top-right-radius: 0.125rem;
		border-bottom-right-radius: 0.125rem;
	}

.sapMSegBIcons .sapMSegBBtn img {
		padding: 0 .5rem;
	}

.sapMSegB img {
		line-height: 1.5rem;
		height: 1.3rem;
		width: 1.3rem;
	}

.sapMSegBBtn .sapUiIcon {
		font-size: 1rem;
		line-height: 1.5rem;
		width: 1.0rem;
		vertical-align: top;
	}
}
