/* table */
.sapMListBGTransparent .sapMListTblHeader,
.sapMListBGTransparent .sapMListTblFooter,
.sapMListBGTransparent .sapMLIB.sapMListTblRow{
	background-color: fade(@sapUiListBG, 0%);
}

.sapMListBGTranslucent .sapMListTblHeader,
.sapMListBGTranslucent .sapMListTblFooter,
.sapMListBGTranslucent .sapMLIB.sapMListTblRow{
	background-color: fade(@sapUiListBG, @sapUiTranslucentBGOpacity);
}

.sapMListBGSolid .sapMListTblHeader,
.sapMListBGSolid .sapMListTblFooter,
.sapMListBGSolid .sapMLIB.sapMListTblRow{
	background-color: @sapUiListBG;
}

.sapMListTblNavCol,
.sapMListTblSelCol {
	vertical-align: top;
	padding: 0;
}

.sapMListTblNavCol > .sapMLIBImgNav{
	display: block;
}

.sapMListTblSelCol {
	width: 3rem;
}

.sapMListModeSingleSelect .sapMListTblSelCol{
	padding: 0;
}

.sapMListTblSelCol > .sapMLIBSelectSL,
.sapMListTblSelCol > .sapMLIBSelectD,
.sapMListTblSelCol > .sapMLIBSelectM{
	margin: 0;
}

.sapMListTblUnreadCol{
	display: none;
}

.sapMListTblHeader th{
	border-bottom: 1px solid @sapUiListTblHeaderBorder;
}

.sapMListTbl {
	font-size: @sapUiListTblTextSize;
}

.sapMListTbl .sapMText,
.sapMListTbl .sapMLabel {
	padding-top: 1px;
	font-size: @sapUiListTblTextSize;
	color: @sapUiListTblTextColor;
	font-weight: normal;
}

.sapMListTbl .sapUiIcon:not(.sapMLIBImgNav){
	font-size: @sapUiListTblIconSize;
}

.sapMListTbl .sapMLIBSelectD > .sapUiIcon {
	font-size: 1.5rem;
	padding: .75rem 0;
}

.sapMListTblCell {
	padding: .875rem .5rem;
	vertical-align: top;
	font-size: @sapUiListTblTextSize;
}

.sapMListTblCell.sapMListTblCellNoData {
	font-size: 1rem;
	padding-top: .75rem;
	padding-bottom: .75rem;
	line-height: 1.6;
	border-bottom: 1px solid @sapUiListTblHeaderBorder;
}

.sapMListTblCell:first-child,
.sapMListTblNone:first-child + .sapMListTblCell {
	padding-left: 1rem;
}

.sapMListTblSelCol + .sapMListTblCell {
	padding-left: 0;
}

.sapMListTblCell.sapMListTblCellNoData,
.sapMListTblRow > :nth-last-child(2) {
	padding-right: 1rem;
}

.sapMListTblHasNav .sapMListTblRow > :nth-last-child(2),
.sapMListModeSingleSelect .sapMListTblRow > :nth-last-child(3),
.sapMListModeSingleSelect.sapMListTblHasNav .sapMListTblRow > :nth-last-child(2) {
	padding-right: 0;
}

.sapMListTblHasNav .sapMListTblNavCol{
	width: 3rem;
}

.sapMLIB.sapMListTblRow {
	border-bottom: 0;
}

.sapMListTblCell.sapMListTblCellDup{
	border-color: transparent;
}

.sapMListModeMultiSelect .sapMListTblSubCnt,
.sapMListModeSingleSelectLeft .sapMListTblSubCnt {
	padding-left: 3rem;
}

/* table column header */
.sapMListTbl th {
	background: @sapUiLightBG;
	border-bottom: 1px solid @sapUiMediumBorder;
}

/* table footer */
.sapMListTblFooter > td {
	border-top: 1px solid @sapUiMediumBorder;
}

/* footer text should be bold */
.sapMListTblFooter .sapMText,
.sapMListTblFooter .sapMLabel {
	font-weight: bold;
}

/********** COMPACT DESIGN ************/

/* overwite cell style */
.sapUiSizeCompact .sapMListTblCell {
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;
}

.sapUiSizeCompact .sapMListTblCell.sapMListTblCellNoData {
	font-size: @sapMFontMediumSize;
}

/* overwrite text control styles */
.sapUiSizeCompact .sapMListTblCell > .sapMLnk,
.sapUiSizeCompact .sapMListTblCell > .sapMText, 
.sapUiSizeCompact .sapMListTblCell > .sapMLabel,
.sapUiSizeCompact .sapMListTblCell > .sapMObjectNumber {
	vertical-align: middle;
	line-height: 1.4;
}

/* special class name to add margin to multiline contents */
.sapUiSizeCompact .sapMTableContentMargin {
	margin: .5rem 0;
}

/* navigation and selection columns are in the middle */
.sapUiSizeCompact .sapMListTblNavCol,
.sapUiSizeCompact .sapMListTblSelCol {
	vertical-align: middle;
	text-align: center;
}

/* decrease the navigation icon size */
.sapUiSizeCompact .sapMListTblNavCol > .sapMLIBImgNav{
	width : auto;
	height: 2rem;
	line-height: 2rem;
}

/* decrease the selection column width */
.sapUiSizeCompact .sapMListTblSelCol {
	width: 2.5rem;
}

/* decrease the navigation column width */
.sapUiSizeCompact .sapMListTblHasNav .sapMListTblNavCol{
	width: 2rem;
}

/* let the checkbox have its own natural size for selection column */
.sapUiSizeCompact .sapMListTblSelCol .sapMCb {
	width : auto;
}

/* min height for the table cells */
.sapUiSizeCompact .sapMListTblCell{
	height: 2rem;
}

/* table delete icon */
.sapUiSizeCompact .sapMListTbl .sapMLIBSelectD {
	width: auto;
}

.sapUiSizeCompact .sapMListTbl .sapMLIBSelectD > .sapUiIcon {
	font-size: 1rem;
	padding: 0;
}

/* reset height of cells when no header is defined */
.sapMListTblHeaderNone > .sapMListTblCell {
	height: 0;
}
