/* ============================================= */
/* CSS for control sap.m/Text.control            */
/* BlueCrystal theme                             */
/* ============================================= */


.sapMText{
	font-size: 			   0.875rem;
	font-family: 		   @sapUiFontFamily;
	line-height:		   normal;
}

/*Necessary to align vertically to labels */
.sapUiForm .sapMText{
	overflow: hidden;
}

.sapUiFormEdit .sapMText{
	line-height: 1.375rem;
	padding-top: 0.8125rem;
	padding-bottom: 0.8125rem;
}

.sapMLIBActive .sapMText,
.sapMLIBActive .sapMListTblCell .sapMText,
.sapMLIBActive .sapMListTblSubCntRow .sapMText{
	color: @sapUiLITextInverted;
}

.sapMLIBUnread .sapMText,
.sapMLIBUnread + .sapMListTblSubRow .sapMText{
	font-family: @sapUiFontFamily;
	font-weight: bold;
}

/* Info Toolbar Context */
.sapMTB-Info-CTX .sapMText {
	font-style: italic;
	font-size: @sapMFontMediumSize;
	font-family: @sapUiFontFamily;
	color: @sapUiTextInverted;
}

/* Transparent Toolbar Context*/
.sapMTB-Transparent-CTX .sapMText{
	margin-right: 1rem;
	font-weight: @sapUiFontHeaderWeight;
	font-size: @sapMFontHeader5Size;
	font-family: @sapUiFontHeaderFamily;
	text-shadow: 0 1px 0 @sapUiLightShadowTint;
	color: @sapUiHeaderText;
}

/* Compact size */
.sapUiSizeCompact .sapUiFormEdit .sapMText{
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}
/* Condensed size */
.sapUiSizeCondensed .sapUiTableCell>.sapMText{
	.sapUiCondensedTableCellContent; /* see shared.css */
}