/* ============================================= */
/* CSS for control sap.m/Token.control BlueCrystal theme*/
/* ============================================= */

.sapMToken{
	font-size: @sapMFontMediumSize;	
	background: @sapUiLightBG;
	color: @sapUiDarkText;		
	padding-left: 0.375rem;
}

.sapMToken.sapMTokenReadOnly{
	padding: 0.25rem 0.375rem 0.25rem 0.375rem;
}

.sapUiSizeCompact .sapMToken.sapMTokenReadOnly{
	padding: 0.1rem 0.375rem 0.1rem 0.375rem;
}


.sapMTokenText{	
}

.sapMToken:hover{	
	background: darken(@sapUiLightBG, 5);		
}

.sapMTokenSelected, .sapMToken:focus{
	color: @sapUiTextInverted;
	background: @sapUiHighlight;	
}

.sapMTokenSelected:hover{	
	background: darken(@sapUiHighlight, 5);	
}

.sapMTokenSelected .sapMTokenIcon, .sapMToken:focus .sapMTokenIcon{
	color: @sapUiInvertedElement;		
}


.sapMTokenIcon {	
	padding: 0.25rem 0.375rem 0.25rem 0.25rem;	
	font-size: @sapMFontSmallSize;	
	color: @sapUiElement;
}

.sapUiSizeCompact .sapMTokenIcon {
	padding: 0.1rem 0.375rem 0.1rem 0.375rem;
	}