/* ======================================================== */
/* CSS for sap.ui.unfied.Shell.control (bluecrystal)        */
/* ======================================================== */

@sapUiUfdShellCurtainBGStartColor: fade(@sapUiLightestBG,97);
@sapUiUfdShellCurtainBGEndColor: fade(lighten(desaturate(@sapUiHighlight,37),56),97);
@sapUiUfdShellCurtainBGStartColor_IE: fade(@sapUiLightestBG, 100);
@sapUiUfdShellCurtainBGEndColor_IE: fade(lighten(desaturate(@sapUiHighlight,37),56),100); /*#e5f2f9*/
@sapUiUfdShellHeadBGStartColor: lighten(@sapUiExtraLightBG,2);
@sapUiUfdShellHeadBGEndColor: lighten(@sapUiLightBG,3);


._sapUiUfdShellSubHdr { /* Testpage only */
	background-color: mix(@sapUiHighlight, @sapUiWhite, 10);
	color: @sapUiLightText;
}

.sapUiUfdShell .sapUiUfdShellHead {
	background-color: @sapUiDarkestBG;
}

.sapUiUfdShell .sapUiUfdShellHead > div {
	background-color: @sapUiExtraLightBG;
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{sapUiUfdShellHeadBGStartColor}', EndColorStr='@{sapUiUfdShellHeadBGEndColor}',GradientType=0)";
	background: -ms-linear-gradient(top,@sapUiUfdShellHeadBGStartColor 0,@sapUiExtraLightBG 33%,@sapUiExtraLightBG 75%,@sapUiUfdShellHeadBGEndColor 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,@sapUiUfdShellHeadBGStartColor),color-stop(0.33,@sapUiExtraLightBG),color-stop(0.75,@sapUiExtraLightBG),color-stop(1,@sapUiUfdShellHeadBGEndColor));
	background-image: -webkit-linear-gradient(top,@sapUiUfdShellHeadBGStartColor 0,@sapUiExtraLightBG 33%,@sapUiExtraLightBG 75%,@sapUiUfdShellHeadBGEndColor 100%);
	background: linear-gradient(top,@sapUiUfdShellHeadBGStartColor 0,@sapUiExtraLightBG 33%,@sapUiExtraLightBG 75%,@sapUiUfdShellHeadBGEndColor 100%);
		
	-webkit-box-shadow: inset 0 -0.0625em @sapUiMediumBG;
	box-shadow: inset 0 -0.0625em @sapUiMediumBG;
}

.sapUiUfdShell.sapUiUfdShellCurtainVisible .sapUiUfdShellHead,
.sapUiUfdShell.sapUiUfdShellCurtainVisible .sapUiUfdShellHead > div {
	background: none;
	background-color: @sapUiLightestBG;
	filter: none;
}

.sapUiUfdShellCurtain {
	border-bottom: 1px solid @sapUiMediumBG;
	background-image: linear-gradient(to bottom, @sapUiUfdShellCurtainBGStartColor 0%, @sapUiUfdShellCurtainBGEndColor 100%);
	background-image: -webkit-linear-gradient(top, @sapUiUfdShellCurtainBGStartColor 0%, @sapUiUfdShellCurtainBGEndColor 100%);
	background-image: -ms-linear-gradient(top, @sapUiUfdShellCurtainBGStartColor 0%, @sapUiUfdShellCurtainBGEndColor 100%);
	background-attachment: fixed;
	background-repeat: repeat, no-repeat;
}

html[data-sap-ui-browser="ie8"] .sapUiUfdShellCurtain,
html[data-sap-ui-browser="ie9"] .sapUiUfdShellCurtain {
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{sapUiUfdShellCurtainBGStartColor_IE}', EndColorStr='@{sapUiUfdShellCurtainBGEndColor_IE}',GradientType=0)";
}



/* =================================================== */
/* CSS for ShellHeader Content                         */
/* =================================================== */

.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
    border-left: 1px solid darken(@sapUiHeaderBG,10);
}

.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before {
    border-right: 1px solid darken(@sapUiHeaderBG,10);
}

.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover > * {
	background-color: @sapUiBtnBGStandardHover;
}

.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:hover > span {
	background-color: darken(@sapUiHighlight, 5%);
}

.sapUiUfdShellHeadItm > span,
.sapUiUfdShellHeadUsrItm {
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 fade(@sapUiWhite,50);
	color: @sapUiLightText;
}

.sapUiUfdShellHeadItmMarker > div:after {
	border-bottom-color: mix(@sapUiHighlight, @sapUiWhite, 10); /*#E6F2F9*/
}

.sapUiUfdShellHeadItmMarker > div:before {
	border-bottom-color: @sapUiMediumBG;
}

.sapUiUfdShellHeadItm:active > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel > span,
.sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover:active > *,
.sapUiUfdShellHeadUsrItm:active > * {
	color: @sapUiTextInverted;
}

.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmExp,
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmName,
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmImg,
.sapUiUfdShellHeadItm:focus > span {
	border-color: @sapUiFocus;
}